@model DoctorFAM.Domain.ViewModels.DoctorPanel.Resume.Service.CreateServiceDoctorPanel

@using DoctorFAM.Domain.Enums
@using DoctorFAM.Application.StaticTools
@using DoctorFAM.Domain.ViewModels.Common

@{
    ViewData["Title"] = "ثبت رزومه ی خدمات";
}

@section Scripts
    {
    <partial name="_JqueryValidation" />

}

    @section Breadcrumb
    {
    <li>
        <a asp-action="PageOfResume" asp-controller="Resume" asp-area="Consultant"> مدیریت رزومه </a>
    </li>
    
}

    <form method="post" asp-action="CreateService" asp-controller="Resume" asp-area="Consultant" enctype="multipart/form-data">

        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="widget">
                            <div class="widget-header bordered-bottom bordered-green" style="background-color:#d1f4fa">
                                <span class="widget-caption"> افزودن رزومه ی خدمات </span>
                            </div>
                            <div class="widget-body" style="background-color:#d1f4fa !important;">
                                <div class="row">

                                    <div class="form-group col-md-12 col-sm-12">
                                        <label> عنوان خدمت</label>
                                        <input type="text" class="form-control" asp-for="ServiceTitle">
                                        <span class="text-danger" asp-validation-for="ServiceTitle"></span>
                                    </div>

                                    <hr class="margin-bottom-10 margin-top-10" />

                                    <div class="col-md-12 flex-style">
                                        <button type="submit" class="btn btn-labeled btn-palegreen">
                                            <i class="btn-label glyphicon glyphicon-ok"></i>ثبت
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
