@model DoctorFAM.Domain.ViewModels.DoctorPanel.Resume.Gallery.EditGalleryDoctorPanelViewModel

@using DoctorFAM.Domain.Enums
@using DoctorFAM.Application.StaticTools
@using DoctorFAM.Domain.ViewModels.Common

@{
    ViewData["Title"] = "ویرایش گالری تصاویر";
}

@section Scripts
    {
    <partial name="_JqueryValidation" />

}

    @section Breadcrumb
    {
    <li>
        <a asp-action="PageOfResume" asp-controller="Resume" asp-area="Consultant"> مدیریت رزومه  </a>
    </li>
    
}

    <form method="post" asp-action="EditGallery" asp-controller="Resume" asp-area="Consultant" enctype="multipart/form-data">
        <input asp-for="Id" type="hidden">
        <input asp-for="ImageName" type="hidden">
        <div class="row">
            <div class="col-lg-9 col-sm-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="widget">
                            <div class="widget-header bordered-bottom bordered-green" style="background-color:#d1f4fa">
                                <span class="widget-caption"> ویرایش تصویر </span>
                            </div>
                            <div class="widget-body" style="background-color:#d1f4fa !important;">
                                <div class="row">

                                    <div class="form-group col-md-12 col-sm-12">
                                        <label> عنوان</label>
                                        <input type="text" class="form-control" asp-for="Title">
                                        <span class="text-danger" asp-validation-for="Title"></span>
                                    </div>

                                    <hr class="margin-bottom-10 margin-top-10" />

                                    <div class="col-md-12 flex-style">
                                        <button type="submit" class="btn btn-labeled btn-palegreen">
                                            <i class="btn-label glyphicon glyphicon-ok"></i>ثبت
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-3 col-sm-12">
                <div class="row">

                    <div class="col-lg-12">
                        <div class="widget">
                            <div class="widget-header bordered-bottom bordered-green">
                                <span class="widget-caption"> تصویر </span>
                            </div>
                            <div class="widget-body">
                                <div class="row">

                                    <input type="file" class="display-none" name="image" id="UserAvatar" ImageInput="1" accept=".jpg,.jpeg,.png" />

                                    <div class="col-md-12">
                                        <label for="UserAvatar" class="file-input-style">
                                            <i class="glyphicon glyphicon-upload"></i>
                                            <span class="mr-8px"> لطفا تصویر مورد نطر را وارد کنید </span>
                                        </label>
                                    </div>

                                    @{
                                    var avatarUrl = PathTools.DefaultProductAvatar;

                                    if (Model.ImageName != null && !string.IsNullOrEmpty(Model.ImageName))
                                    {
                                        avatarUrl = $"{PathTools.ResumeGalleryPathThumb}{Model.ImageName}";
                                    }
                                }

                                <div class="col-md-12 tc mt-10px">
                                    <img src="@avatarUrl" class="image-style" ImageFile="1" />
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>
