<!DOCTYPE html>
<html lang="en">

<head>
    <title>  دکتر فم-@ViewData["Title"] </title>


    <partial name="_MetaTags" />

    @await RenderSectionAsync("MetaTags", false)

    <partial name="_HeaderReferences" />

    @await RenderSectionAsync("Styles", false)

    @*<script type="text/javascript">window.RAYCHAT_TOKEN = "7235eebc-4420-4af7-9d3b-8cd3a769ce2a"; (function () { d = document; s = d.createElement("script"); s.src = "https://widget-react.raychat.io/install/widget.js"; s.async = 1; d.getElementsByTagName("head")[0].appendChild(s); })();</script>*@
</head>


<body>
    <!-- page wrapper start -->
    <div class="page-wrapper">

            @await Component.InvokeAsync("SiteSideBar")

        <div>
            @RenderBody()
        </div>
        <!--footer start-->
        <footer class="footer">
            <div class="primary-footer dark-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="row">
                                @*<div class="col-md-3 " style="border-right:1px solid #fd5b03;">
                                <div class="footer-list">
                                <ul class="list-unstyled">
                                <li class="mt-2">
                                <a href="business-services.html"> پزشک آنلاین </a>
                                </li>
                                <li>
                                <a href="software-research.html"> پزشک خانواده من </a>
                                </li>
                                <li>
                                <a href="finance-restructuring.html"> پزشکان متخصص </a>
                                </li>
                                <li>
                                <a href="finance-restructuring.html">روانشناس و مشاور </a>
                                </li>
                                <li>
                                <a href="finance-restructuring.html">دندانپزشک من </a>
                                </li>
                                </ul>
                                </div>
                                </div>*@
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 " style="border-right:1px solid #fd5b03;">
                                    <div class="footer-list">
                                        <ul class="list-unstyled">
                                            <li class="mt-2">
                                                <a href="/Home"> خانه  </a>
                                            </li>
                                            <li>
                                                <a asp-action="HealthHouseItems" asp-controller="Home"> خانه سلامت </a>
                                            </li>
                                            <li>
                                                <a asp-action="HealthServicesItems" asp-controller="Home"> کلینیک سلامت </a>
                                            </li>
                                            <li>
                                                <a asp-action="HealthProductsItems" asp-controller="Home"> بازار سلامت </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                @*<div class="col-md-3 " style="border-right:1px solid #fd5b03;">
                                <div class="footer-list">
                                <ul class="list-unstyled">
                                <li class="mt-2">
                                <a asp-action="Register" asp-controller="Account" asp-area="" asp-route-doctors="true"> ثبت نام پزشک </a>
                                </li>
                                <li>
                                <a asp-action="Register" asp-controller="Account" asp-area="" asp-route-Nurse="true"> ثبت نام پرستار </a>
                                </li>
                                <li>
                                <a asp-action="Register" asp-controller="Account" asp-area="" asp-route-Labratory="true"> ثبت نام آزمایشگاه </a>
                                </li>
                                <li>
                                <a asp-action="Register" asp-controller="Account" asp-area="" asp-route-pharmacy="true"> ثبت نام داروخانه </a>
                                </li>
                                <li>
                                <a asp-action="Register" asp-controller="Account" asp-area="" asp-route-consultant="true"> ثبت نام مشاور روان  </a>
                                </li>
                                <li>
                                <a asp-action="Register" asp-controller="Account" asp-area="" asp-route-seller="true"> ثبت نام فروشنده </a>
                                </li>
                                </ul>
                                </div>
                                </div>*@





                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 " style="border-right:1px solid #fd5b03;">
                                    <div class="footer-list">
                                        <ul class="list-unstyled">
                                            <li class="mt-2">
                                                <a asp-action="TermsConditions" asp-controller="Home" asp-area=""> قوانین و مقررات </a>
                                            </li>
                                            <li>
                                                <a asp-action="Privacy" asp-controller="Home" asp-area=""> حریم خصوصی </a>
                                            </li>
                                            <li>
                                                <a asp-action="CreateAdvertisement" asp-controller="CustomerAdvertisement" asp-area="UserPanel"> تبلیغات </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                             

                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center  align-items-center justify-content-center" style="border-right:1px solid #fd5b03;">
                                    <a referrerpolicy='origin' target='_blank' href='https://trustseal.enamad.ir/u?id=378630&code=y9WvkMjUx2FMMbzFgWn0LLL1S12fEjXR'><img referrerpolicy='origin' src='https://trustseal.enamad.ir/logo.aspx?id=378630&code=y9WvkMjUx2FMMbzFgWn0LLL1S12fEjXR' alt='' style='cursor:pointer' code='y9WvkMjUx2FMMbzFgWn0LLL1S12fEjXR'></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <div class="social-icons social-colored mt-5">
                                        <ul class="list-inline">
                                            <li class="mb-2 social-facebook">
                                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                            </li>
                                            <li class="mb-2 social-twitter">
                                                <a href="#"><i class="fab fa-twitter"></i></a>
                                            </li>
                                            <li class="mb-2 social-linkedin">
                                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                            </li>
                                            <li class="mb-2 social-youtube">
                                                <a href="#"><i class="fab fa-youtube"></i></a>
                                            </li>
                                            <li class="mb-2 social-instagram">
                                                <a href="#"><i class="fab fa-instagram"></i></a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 mt-1" style="border-right:1px solid #fd5b03;">
                            <h4 class=" text-white">ارتباط با ما</h4>

                            <div class="footer-cntct">
                                <ul class="media-icon list-unstyled">
                                    <li>
                                        <p class="mb-0"><i class="flaticon-paper-plane"></i><span dir="rtl">ساری خیابان فرهنگ خیابان حافظ ساختمان شبره واحد4  </span></p>
                                    </li>
                                    <li>
                                        <i class="flaticon-email"></i> <a dir="ltr" href="mailto:doctorfam2022@yahoo.com">doctorfam2022@yahoo.com</a>
                                    </li>
                                    <li>
                                        <i class="flaticon-email"></i> <a dir="ltr" href="mailto:info@Doctorfam.com">info@Doctorfam.com</a>
                                    </li>
                                    <li>
                                        <i class="flaticon-phone"></i> <a dir="ltr" href="tel:+981133304030">+98-113-330-4030</a>

                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="secondary-footer theme-bg">
                <div class="container">
                    <div class="copyright">
                        <div class="row">
                            <div class="col-lg-6 text-right" style="color:white !important;">

                                <a href="https://www.doctorfam.com" style="color:white !important;"> کلیه حقوق مادی و معنوی برای <b style="color:#fd5b03;font-weight:700 !important; "> گروه دکترفم </b> محفوظ است.</a>

                            </div>
                            <div class="col-lg-6 text-lg-left footer-list md-mt-2">
                                <ul class="list-inline">
                                    <li class="list-inline-item mb-0 active">
                                        <a href="/Home"> خانه </a>
                                    </li>
                                    <li class="list-inline-item active mb-0">
                                        <a href="/Home/TermsConditions"> قوانین و مقررات </a>
                                    </li>
                                    <li class="list-inline-item active mb-0">
                                        <a href="/Home/Privacy">  حریم خصوصی </a>
                                    </li>
                                    <li class="list-inline-item mb-0 active">
                                        <a href="/Home/AboutUs"> درباره ما </a>
                                    </li>
                                    <li class="list-inline-item active mb-0">
                                        <a href="/Home/ContactUs"> تماس با ما </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--footer end-->

    </div>
    <!-- page wrapper end -->
    <!--back-to-top start-->
    <div class="scroll-top"><a class="smoothscroll" href="#top"><i class="flaticon-top"></i></a></div>
    <!--back-to-top end-->
    @* <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2022 - HEALTH HOUSE - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer>*@

    <partial name="_Modals" />

    <partial name="_FooterReferences" />

    <partial name="_Notification" />

    @await RenderSectionAsync("Scripts", false)

</body>
</html>
