@model List<DoctorFAM.Domain.ViewModels.DoctorPanel.Resume.Service.ServiceResumeInDoctorPanelViewModel>
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Application.Utils

<div class="form-title">
    بخش خدمات

    <a asp-action="CreateService" asp-area="Doctor" asp-controller="Resume" style="margin-right: 10px;" class="btn btn-success mr-4">افزودن اطلاعات</a>
</div>


@if (Model != null && Model.Any())
{
    foreach (var work in Model)
    {
        <ul class="timeline animated fadeInDown">

            <li>
                <div class="timeline-datetime">
                    <a asp-action="EditService" asp-area="Doctor" asp-controller="Resume" asp-route-id="@work.Id" style="margin-right: 10px;" class="btn btn-primary mr-4">ویرایش</a>
                    <a asp-action="DeleteService" asp-area="Doctor" asp-controller="Resume" asp-route-id="@work.Id" style="margin-right: 10px;" class="btn btn-danger mr-4">حذف</a>
                </div>
                <div class="timeline-badge blue">
                    <i class="fa fa-thumb-tack"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-header bordered-bottom bordered-blue">
                        @if (!string.IsNullOrEmpty(work.ServiceTitle))
                        {
                            <span class="timeline-title">
                                @work.ServiceTitle
                            </span>
                        }
                    </div>
                         <div class="timeline-body">
                    </div>
                </div>
            </li>
        </ul>
    }
}

