

<form role="form">
    <div class="form-title">
        گالری تصاویر شما

        <a style="margin-right: 10px;" class="btn btn-primary mr-4">افزودن </a>
    </div>

    <ul class="timeline animated fadeInDown">

        <li >
            <div class="timeline-datetime">
                <span class="timeline-time">
                    3:09
                </span><span class="timeline-date">Yesterday</span>
            </div>
            <div class="timeline-badge">
                <i class="fa fa-picture-o darkpink"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-header bordered-bottom bordered-blue">
                    <p class="timeline-datetime">
                        <small class="text-muted">
                            <i class="glyphicon glyphicon-time">
                            </i>
                            <span class="timeline-date">Yesterday</span>
                            -
                            <span class="timeline-time">3:09</span>
                        </small>
                    </p>
                </div>
                <div class="timeline-body">
                    <a href="#">John Travolta</a> shared an image on <a href="#">Dribble</a>
                    <div class="tl-wide text-center" style="padding: 5px; margin-top:10px; margin-bottom: 10px;">
                        <img src="/admin/img/temp1.png" alt="" style="max-height: 158px;max-width: 100%;">
                    </div>
                    <i class="text-muted text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</i>
                </div>
            </div>
        </li>
   
    </ul>


</form>
