@model DoctorFAM.Domain.ViewModels.DoctorPanel.Resume.WorkHistory.CreateWorkHistoryDoctorPanel

@using DoctorFAM.Domain.Enums
@using DoctorFAM.Application.StaticTools
@using DoctorFAM.Domain.ViewModels.Common

@{
    ViewData["Title"] = "ثبت رزمه ی سابقه ی کاری";
}

@section Scripts
    {
    <partial name="_JqueryValidation" />

}

    @section Breadcrumb
    {
    <li>
        <a asp-action="PageOfResume" asp-controller="Resume" asp-area="Doctor"> مدیریت رزومه </a>
    </li>
    <li>
        <a href="javascript:void(0)"> @ViewData["Title"] </a>
    </li>
}

    <form method="post" asp-action="CreateWorkHistory" asp-controller="Resume" asp-area="Doctor" enctype="multipart/form-data">

        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="widget">
                            <div class="widget-header bordered-bottom bordered-green" style="background-color:#d1f4fa">
                                <span class="widget-caption"> افزودن رزمه ی سابقه ی کاری </span>
                            </div>
                            <div class="widget-body" style="background-color:#d1f4fa !important;">
                                <div class="row">

                                    <div class="form-group col-md-6 col-sm-12">
                                        <label> محل فعالیت</label>
                                        <input type="text" class="form-control" asp-for="WorkAddress">
                                        <span class="text-danger" asp-validation-for="WorkAddress"></span>
                                    </div>

                                    <div class="form-group col-md-6 col-sm-12">
                                        <label>سمت یا عنوان شغلی </label>
                                        <input type="text" class="form-control" asp-for="JobPosition">
                                        <span class="text-danger" asp-validation-for="JobPosition"></span>
                                    </div>

                                    <div class="form-group col-md-6 col-sm-12">
                                        <label>تاریخ شروع </label>
                                        <input type="text" class="form-control" DatePicker="1" asp-for="StartDate">
                                        <span class="text-danger" asp-validation-for="StartDate"></span>
                                    </div>

                                    <div class="form-group col-md-6 col-sm-12">
                                        <label>تاریخ پایان </label>
                                        <input type="text" class="form-control" DatePicker="2" asp-for="EndDate">
                                        <span class="text-danger" asp-validation-for="EndDate"></span>
                                    </div>

                                    <hr class="margin-bottom-10 margin-top-10" />

                                    <div class="col-md-12 flex-style">
                                        <button type="submit" class="btn btn-labeled btn-palegreen">
                                            <i class="btn-label glyphicon glyphicon-ok"></i>ثبت
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
