@model DoctorFAM.Domain.ViewModels.Site.Request.RequestViewModel
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Application.StaticTools
@{
    ViewData["Title"] = "آزمایشگاه در منزل";
}

@section Styles
{

}

@section Scripts
{
<partial name="_JqueryValidation" />
}
<form asp-action="HomeLaboratory" asp-controller="HomeLaboratory" asp-area="">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

   <div class="page-content formHealth text-center text-align-justify">
        <div class="row HomeLaboratoryTitle text-center  text-align-justify ">
            <div class="col-md-12   text-center  text-align-justify ">
                <h2 class="text-center  text-align-justify ">  درخواست آزمایش در منزل</h2>
                <p class="text-center  text-align-justify">
                    جهت ثبت درخواست آزمایش در منزل، دکمه تایید را فشار دهید:
                </p>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 mt-3 text-center mb-2">
                <div class="form-group">
                    <input type="submit" value="تایید و ادامه" class="btn-Accept" />
                </div>
            </div>
        </div>
    </div>

</form>