@model DoctorFAM.Domain.ViewModels.Tourism.SiteSideBar.TourismSideBarViewModel

@{
}

@if (Model.TourismInfoState == "Accepted")
{
    <div class="page-body">

        <div class="row text-center align-Item-center">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="row">

                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3  buttons-preview text-center justify-content-center">
                        <a asp-area="Tourist" asp-controller="Home" asp-action="Index" class="btn btn-success  btn-circle btn-lg"><i class="glyphicon glyphicon-th"></i></a>
                        <p class="text-center justify-content-center" style="font-size:12PX;"> داشبورد </p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3  buttons-preview">
                        <a asp-area="Tourist" asp-controller="Token" asp-action="ManagePage" class="btn btn-warning  btn-circle btn-lg"><i class="glyphicon glyphicon-tags"></i></a>
                        <p class="text-center justify-content-center" style="font-size:12PX;"> توکن گردشگری </p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3  buttons-preview">
                        <a asp-area="Tourist" asp-controller="TouristInfo" asp-action="PageOfManageTouristInfo" class="btn btn-warning  btn-circle btn-lg"><i class="fa fa-user-plus"></i></a>
                        <p class="text-center justify-content-center" style="font-size:12PX;"> اطلاعات </p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3  buttons-preview">
                        <a asp-area="Chatroom" asp-controller="Home" asp-action="Index" class="btn btn-warning  btn-circle btn-lg"
                           style="background-image: linear-gradient(#ff00cc, #333399) !important;"><i class="fa fa-comments-o"></i></a>
                        <p class="text-center justify-content-center" style="font-size:12PX;"> پیام رسان </p>
                    </div>
                </div>
            </div>

        </div>

    </div>
}

@if (Model.TourismInfoState != "Accepted")
{
    <div class="page-body">

        <div class="row text-center align-Item-center">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  buttons-preview text-center justify-content-center">
                        <a asp-area="Tourist" asp-controller="Home" asp-action="Index" class="btn btn-success  btn-circle btn-lg"><i class="glyphicon glyphicon-th"></i></a>
                        <p class="text-center justify-content-center" style="font-size:12PX;"> داشبورد </p>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  buttons-preview">
                        <a asp-area="Tourist" asp-controller="TouristInfo" asp-action="PageOfManageTouristInfo" class="btn btn-warning  btn-circle btn-lg"><i class="fa fa-user-plus"></i></a>
                        <p class="text-center justify-content-center" style="font-size:12PX;"> اطلاعات </p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4  buttons-preview">
                        <a asp-area="Chatroom" asp-controller="Home" asp-action="Index" class="btn btn-warning  btn-circle btn-lg"
                           style="background-image: linear-gradient(#ff00cc, #333399) !important;"><i class="fa fa-comments-o"></i></a>
                        <p class="text-center justify-content-center" style="font-size:12PX;"> پیام رسان </p>
                    </div>

                </div>
            </div>
        </div>

    </div>
}