@model List<DoctorFAM.Domain.ViewModels.Admin.Resume.EducationResumeInAdminPanelViewModel>
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Application.Utils

<div class="form-title">
    بخش تحصیلات
</div>

@if (Model != null && Model.Any())
{
    foreach (var education in Model)
    {
        <ul class="timeline animated fadeInDown">

            <li>
                <div class="timeline-datetime">
                </div>
                <div class="timeline-badge blue">
                    <i class="fa fa-book"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-header bordered-bottom bordered-blue">
                        @if (education.UnivercityName != null)
                        {
                            <span class="timeline-title">
                                @education.UnivercityName
                            </span>
                        }
                    </div>
                    <div class="timeline-body">
                        <p>رشته ی تحصیلی : @((string.IsNullOrEmpty(education.FieldOfStudy)) ? "وارد نشده" : education.FieldOfStudy)</p>
                        <p>گرایش : @((string.IsNullOrEmpty(education.Orientation)) ? "وارد نشده" : education.Orientation)</p>

                    </div>

                </div>
            </li>
        </ul>
    }
}

else
{
        <div class="alert alert-info fade in">
        @SharedLocalizer["Not Found"]
        </div>
}