@model List<DoctorFAM.Domain.ViewModels.Admin.Resume.WorkingAddress.WorkingAddressResumeInAdminPanelViewModel>
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Application.Utils

<div class="form-title">
    بخش آدرس محل کار
</div>

@if (Model != null && Model.Any())
{
    foreach (var work in Model)
    {
        <ul class="timeline animated fadeInDown">

            <li>
                <div class="timeline-datetime">
                </div>
                <div class="timeline-badge blue">
                    <i class="fa fa-book"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-header bordered-bottom bordered-blue">
                        @if (work.WorkingAddressTitle != null)
                        {
                            <span class="timeline-title">
                                @work.WorkingAddressTitle
                            </span>
                        }
                    </div>
                    <div class="timeline-body">
                        <p>روزهای کاری : @((string.IsNullOrEmpty(work.Days)) ? "وارد نشده" : work.Days)</p>
                    </div>

                </div>
            </li>
        </ul>
    }
}
else
{
    <div class="alert alert-info fade in">
        @SharedLocalizer["Not Found"]
    </div>
}
