@model DoctorFAM.Domain.ViewModels.Site.DurgAlert.CreateDrugAlertSiteSideViewModel
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Application.StaticTools

@{
    ViewData["Title"] = "هشدار مصرف دارو";
}

@section Styles
    {

}

@section Scripts
    {
    <partial name="_JqueryValidation" />

    <script>


        $(document).ready(function () {

            $("#DrugAlertDurationType").on("change",
                function () {

                    var selectedAdvertisementStatusValue = $("#DrugAlertDurationType :selected").val();
                    if (selectedAdvertisementStatusValue == 1 || selectedAdvertisementStatusValue == 2 || selectedAdvertisementStatusValue == 3) {
                        $("#Houre-div").addClass("d-none");
                        $("#WantsAppend").addClass("d-none");
                        $("#Datetime-div").removeClass("d-none");

                    } else {
                        $("#Houre-div").removeClass("d-none");
                        $("#WantsAppend").removeClass("d-none");
                        $("#Datetime-div").addClass("d-none");
                    }
                });

            $("#btn1").click(function () {
                $("#WantsAppend").append("<br/><div class='col-md-3'><div class='form-group'><span style='color:red;'>* </span><label class='control-label'> ساعت مصرف دارو(در بازه ی 24 ساعته) </label><input name='Hour' class='form-control' type='number' min ='1' max='24'></div> </div>");
            });

        });

    </script>
}

<div class="page-content  formHealth">
    <div class="row  PageBannerPicBloodPressure text-center  text-align-justify ">
        <div class="col-md-3 page-breadcrumbs">

            <a asp-area="" asp-controller="BloodPressure" asp-action="Index">  <span class="menu-text"> بازگشت به صفحه فشار خون </span></a>
            <span>/</span>
            <a asp-area="" asp-controller="BloodPressure" asp-action="ListOfCurrentUserDrugAlerts">بازگشت به صفحه قبل</a>
        </div>
        <div class="col-md-6  text-center  text-align-justify M-5 P-5">

            <h2 class="text-center  text-align-justify "> برنامه ریزی مصرف دارو</h2>
            <h5 class="text-center  text-align-justify">
                لطفا اطلاعات داروی مصرفی خود را وارد کنید :
            </h5>
        </div>
        <div class="col-md-3 "></div>
    </div>

    <div class="container  p-4">

        <form class="" asp-action="CreateDrugAlert" asp-controller="BloodPressure" asp-area="">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <span style="color:red;">*</span>
                        <label asp-for="DrugName" class="control-label">نام دارو</label>
                        <input id="DrugTrakingCode" asp-for="DrugName" class="form-control" />
                        <span asp-validation-for="DrugName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <span style="color:red;">*</span>
                        <label asp-for="DrugAlertDurationType" class="control-label">دوره ی مصرفی دارو</label>
                        <select asp-for="DrugAlertDurationType" class="form-control" asp-items="Html.GetEnumSelectList(typeof(DoctorFAM.Domain.Enums.DrugAlert.DrugAlertDurationType))"></select>
                        <span asp-validation-for="DrugAlertDurationType" class="text-danger"></span>
                    </div>
                </div>
                 <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="LabelName" class="control-label">بیماری مرتبط</label>
                        <input  asp-for="LabelName" class="form-control" />
                        <span asp-validation-for="LabelName" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3" id="Houre-div" style="padding-top:20px;">
                    <div class="form-group">
                        <div id="btn1" class="btn-AcceptXX">
                            تعیین ساعت مصرف دارو
                        </div>
                    </div>
                </div>

                <div class="col-md-6 d-none" id="Datetime-div">
                    <div class="form-group">
                        <span style="color:red;">*</span>
                        <label class="control-label">  تاریخ مصرف بعدی دارو(دقت فرمایید نوبت مصرف بعدی دارو وارد گردد)</label>
                        <input name="DateTimeInserted" class="form-control" type="text" autocomplete="off" DatePicker="3">
                    </div>
                </div>

                <div class="col-md-12" id="WantsAppend">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-4 text-center">
                    <div class="form-group">
                        <input type="submit" value="ثبت " class="btn-Accept" />
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>


