@model DoctorFAM.Domain.ViewModels.Site.Patient.PatientViewModel
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Application.StaticTools

@{
    ViewData["Title"] = "ثبت مشخصات بیمار";
}

@section Styles
{


}

@section Scripts
{
<partial name="_JqueryValidation" />
}

<div class="page-content  ">

    <section>
        <div class="container">
            <div class="row" style="border:2px solid #fd5b03;">
                <div class="col-md-12">
                    <h2 class="title-2 z-index-1 text-uppercase mt-3 mb-4 text-center"> درخواست <span> پرستار در منزل </span></h2>
                    <p>لطفا مشخصات بیمار را ثبت کنید</p>
                    <div>
                        <form asp-action="PatientDetails" asp-controller="HomeNurse" asp-area="">
                            <input asp-for="RequestId" type="hidden" />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="PatientName" class="control-label"></label>
                                        <input asp-for="PatientName" class="form-control" />
                                        <span asp-validation-for="PatientName" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="PatientLastName" class="control-label"></label>
                                        <input asp-for="PatientLastName" class="form-control" />
                                        <span asp-validation-for="PatientLastName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="NationalId" class="control-label"></label>
                                        <input asp-for="NationalId" class="form-control" />
                                        <span asp-validation-for="NationalId" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="Gender" class="control-label"></label>
                                        <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList(typeof(DoctorFAM.Domain.Enums.Gender.Gender))"></select>
                                        <span asp-validation-for="Gender" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="Age" class="control-label"></label>
                                        <input asp-for="Age" class="form-control " />
                                        <span asp-validation-for="Age" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="InsuranceType" class="control-label"></label>
                                        <select asp-for="InsuranceType" class="form-control" asp-items="Html.GetEnumSelectList(typeof(DoctorFAM.Domain.Enums.InsuranceType.InsuranceType))"></select>
                                        <span asp-validation-for="InsuranceType" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label asp-for="RequestDescription" class="control-label"></label>
                                        <input asp-for="RequestDescription" class="form-control" />
                                        <span asp-validation-for="RequestDescription" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12 mt-3 text-center mb-2">
                                    <div class="form-group">
                                        <input type="submit" value="ثبت درخواست" class="btn-Accept" />
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>


