@model DoctorFAM.Domain.ViewModels.Consultant.Dashboard.ConsultantPanelDashboardViewModel
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedLocalizer> SharedHtmlLocalizer

<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="databox bg-white radius-bordered">
        <div class="bg-success databox-right">
            <div class="databox-icon">
                <i class="fa fa-user"></i>
            </div>
        </div>
        <div class="databox-left">
            <span class="databox-number sucees">@Model.CountOfPupolationCovered</span>
            <div class="databox-text darkgray">@Localizer["Population Covered"]</div>

        </div>
    </div>
</div>
