@model DoctorFAM.Domain.ViewModels.Laboratory.LaboratorySideBar.LaboratorySideBarViewModel

@{
    ViewData["Title"] = " آزمایشگاه در منزل";
}

@section Breadcrumb
    {

}


<div class="page-body">


    <div class="row text-center align-Item-center">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="row">
                
                    <div class="col-lg-4 col-md-4   buttons-preview mt-2"> </div>
                    <div class="col-lg-4 col-md-4  buttons-preview mt-2">
                        <div class="bordered-well-container">
                            <div class="well bordered-top bordered-bottom  bordered-blue">

                                <div class="featured-icon">
                                    <i class="fa fa-medkit fa-2x"></i>
                                </div>
                                <p class="text-center justify-content-center"> آزمایشگاه در منزل  </p>

                            </div>
                            <a asp-area="Laboratory" asp-controller="HomeLaboratory" asp-action="ListOfHomeLaboratoryRequest">
                                <div class="well  bordered-bottom  bordered-pink">
                                    <p class="text-center justify-content-center" style="font-size:12px !important;"> جدیدترین درخواستها  </p>
                                </div>
                            </a>
                            <a asp-area="Laboratory" asp-controller="HomeLaboratory" asp-action="ListOfYourHomeLaboratoryRequests">
                                <div class="well  bordered-bottom  bordered-pink">
                                    <p class="text-center justify-content-center" style="font-size:12px !important;">  درخواستهای در حال اجرا  </p>
                                </div>
                            </a>
                            <a asp-area="Laboratory" asp-controller="HomeLaboratory" asp-action="ListOfYourHomeLaboratoryRequestsHistory">
                                <div class="well  bordered-bottom  bordered-palegreen">
                                    <p class="text-center justify-content-center" style="font-size:12px !important;"> درخواستهای گذشته  </p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4   buttons-preview mt-2"> </div>
                


            </div>
        </div>


    </div>


</div>
