<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>دکترفم چت</title>
<link rel="shortcut icon" href="~/Content/images/Logo/doctorfamTes2.png" />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.rtl.min.css" integrity="sha384-trxYGD5BY4TyBTvU5H23FalSCYwpLA0vWEvXXGm5eytyztxb+97WzzY+IWDOSbav" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/21089d9398.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/ChatRoom/css/main.css" />


@*Add By Developers*@
<link href="/common/notification/notifications.css" rel="stylesheet" />
<link href="/admin/css/AdminCustom.css" rel="stylesheet" />
<link href="/common/Custom/custom.css" rel="stylesheet" />
<link href="/common/Custom/NotificationBar.css" rel="stylesheet" />