
<!DOCTYPE html>
<html lang="en">

<head>

    <partial name="_ChatRoomHeaderReferences" />

    <header id="site-header" class="header">
        <div class="header-middle" style="background:#4cc8ee;">
            <div class=" Top-BannerImage222">
                <div class="container row ">
                    <div class="col-md-8 d-flex text-center align-items-center justify-content-between">
                        <a class="navbar-brand logo" href="/Home">
                            <img id="logo-img" class="img-center" src="~/Content/images/Logo/doctorfamTes.png" alt="">
                        </a>
                    </div>
                 

                </div>
            </div>
        </div>
     

    </header>




</head>


<body dir="rtl">

    <div class="content">
        @RenderBody()
    </div>

    <partial name="_ChatRoomFooterReferences" />

    <script src="~/common/chatroom/chatroomcustom.js"></script>

    @await RenderSectionAsync("Scripts", false)

</body>

</html>