

<header id="site-header" class="header">
    <div class="header-middle" style="background:#4cc8ee;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 d-flex text-center align-items-center justify-content-between">
                    <a class="navbar-brand logo" href="/Home">
                        <img id="logo-img" class="img-center" src="~/Content/images/Logo/doctorfamTes.png" alt="">
                    </a>
                </div>
               @* <div class="col-md-4 d-flex text-center align-items-center justify-content-between">
                    <button onclick="ShowCooperationRequest()" class="btn btn-1 btn-border white p-1 ">

                        <span class="btn-text"> پزشکان محترم جهت همکاری با دکترفم کلیک کنید </span>

                    </button>
                </div>*@


            </div>
        </div>
    </div>
    <div id="header-wrap">
        <div class="container">
            <div class="row">

                <div class="col-lg-12">
                    <!-- Navbar -->
                    <nav class="navbar navbar-expand-lg">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav ml-auto">
                                <!-- Home -->
                                <li class="nav-item ">
                                    <a class="nav-link " href="/Home"> خانه </a>
                                </li>
                                @*   <li class="nav-item dropdown" data-toggle="hover">
                                    <a class="nav-link  dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">خدمات ما</a>
                                    <div class="dropdown-menu">
                                    <ul class="list-unstyled">
                                    <li>
                                    <a href="/Home/HealthHouseItems"> خانه سلامت</a>
                                    </li>
                                    <li>
                                    <a href="/Home/HealthServicesItems"> کلینیک سلامت</a>
                                    </li>
                                    <li>
                                    <a href="/Home/HealthProductsItems"> بازار سلامت</a>
                                    </li>
                                    <li>
                                    <a href="index-3.html"> پزشک آنلاین</a>
                                    </li>
                                    <li>
                                    <a href="index-3.html"> پزشک خانواده من</a>
                                    </li>
                                    <li>
                                    <a href="index-3.html"> پزشکان متخصص</a>
                                    </li>
                                    <li>
                                    <a href="index-4.html"> نوبت گیری</a>
                                    </li>
                                    <li>
                                    <a href="index-5.html"> مددکاری</a>
                                    </li>
                                    </ul>
                                    </div>
                                    </li>*@
                                <li class="nav-item dropdown" data-toggle="hover">
                                    <a class="nav-link  dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">دانستنیهای سلامت</a>
                                    <div class="dropdown-menu">
                                        <ul class="list-unstyled">
                                            <li>
                                                <a href="/Home/TeleFamItems"> رادیو فم</a>
                                            </li>
                                            <li>
                                                <a href="/Home/TeleFamItems"> تی وی فم</a>
                                            </li>
                                            @* <li>
                                                <a href="/Home/TeleFamItems"> دانستنیهای عمومی</a>
                                                </li>*@
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item " data-toggle="hover">

                                    <a class="nav-link " href="/ScienceMag"> مجله پزشکی </a>
                                </li>
                                <li class="nav-item " data-toggle="hover">

                                    <a class="nav-link " href="/Home/Index/#News"> اخبار </a>
                                </li>
                                <li class="nav-item dropdown" data-toggle="hover">
                                    <a class="nav-link  dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">معرفی مراکز</a>
                                    <div class="dropdown-menu">
                                        <ul class="list-unstyled">
                                            <li>
                                                <a href="/Home/CentersIntrud">  مراکز تشخیصی و درمانی</a>
                                            </li>
                                            <li>
                                                
                                                <a asp-action="ListOfFamilyDoctors" asp-controller="FamilyDoctor" asp-area="">  پزشکان و دندانپزشکان</a>
                                            </li>
                                            <li>
                                                <a asp-action="ListOfFamilyDoctors" asp-controller="FamilyDoctor" asp-area="">  داروخانه ها</a>
                                            </li>
                                            <li>
                                                <a asp-action="ListOfFamilyDoctors" asp-controller="FamilyDoctor" asp-area="">  آزمایشگاههای تشخیص طبی</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item " data-toggle="hover">
                                    <a class="nav-link " href="/Home/AboutUs"> درباره ما </a>
                                </li>
                                <li class="nav-item " data-toggle="hover">
                                    <a class="nav-link " href="/Home/ContactUs"> تماس با ما </a>
                                </li>
                                 <li class="nav-item " data-toggle="hover">

                                    <a class="nav-link active" href="/Home/SiteGuid"> <span>راهنمای سایت</span> </a>
                                </li>
                                @* <li class="nav-item " data-toggle="hover">
                                    <div style="cursor:pointer;" onclick="ShowCooperationRequest()" class="nav-link "> درخواست همکاری </div>
                                    </li>*@

                               @* <li class="nav-item dropdown" data-toggle="hover">
                                    <a class="nav-link  dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:yellow; ">همکاری با ما</a>
                                    <div class="dropdown-menu">
                                        <ul class="list-unstyled">
                                            <li>
                                                <a asp-action="Register" asp-controller="Account" asp-area="" asp-route-doctors="true">  ثبت نام پزشک</a>
                                            </li>
                                            <li>
                                                <a asp-action="Register" asp-controller="Account" asp-area="" asp-route-Nurse="true">  ثبت نام پرستار</a>
                                            </li>
                                            <li>
                                                <a asp-action="Register" asp-controller="Account" asp-area="" asp-route-pharmacy="true">  ثبت نام داروخانه </a>
                                            </li>
                                            <li>
                                                <a asp-action="Register" asp-controller="Account" asp-area="" asp-route-Labratory="true">  ثبت نام آزمایشگاه</a>
                                            </li>
                                            <li>
                                                <a asp-action="Register" asp-controller="Account" asp-area="" asp-route-consultant="true">  ثبت نام مشاور روان</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>*@
                            </ul>
                        </div>

                        <div class="right-nav align-items-center d-flex justify-content-end">
                            @* <div class="text-center text-align-justify ml-1 ml-sm-1 mr-1 mr-sm-1">
                                <div class="cart">
                                <a href="#" id="header-cart-btn"><span class="cart-badge">0</span> <i class="flaticon-shopping-cart" title="سبد خرید"></i></a>
                                <!-- Cart List Area Start -->
                                <ul class="cart-list">
                                <li>
                                <a href="#" class="image">
                                <img src="~/Content/images/product-thumb/01.jpg" class="img-fluid cart-thumb" alt="">
                                </a>
                                <div class="cart-item-desc">
                                <h6><a href="#"> ضد آفتاب </a></h6>
                                <p>
                                <span class="price d-inline-block">132.000 تومان</span> -
                                <span dir="ltr"> 1 x</span>
                                </p>
                                </div>
                                </li>
                                <li>
                                <a href="#" class="image">
                                <img src="~/Content/images/product-thumb/02.jpg" class="img-fluid cart-thumb" alt="">
                                </a>
                                <div class="cart-item-desc">
                                <h6><a href="#"> عینک محافظ </a></h6>
                                <p>
                                <span class="price d-inline-block">28.000 تومان</span> -
                                <span dir="ltr"> 10 x</span>
                                </p>
                                </div>
                                </li>
                                <li class="total text-left">
                                <span class="d-block"> کل: 160.00 تومان </span>
                                </li>
                                <li>
                                <a href="product-cart.html" class="btn"> سبد خرید </a>
                                <a href="product-checkout.html" class="btn btn-border"> پرداخت </a>
                                </li>
                                </ul>
                                </div>
                                </div>*@

                            @*<div class="search-icon ml-1 ml-sm-1 mr-1 mr-sm-1">
                                <a id="search" href="javascript:void(0)"><i class="flaticon-search" title="جستجو"></i></a>
                            </div>*@

                            <div class=" mr-1 mr-sm-1 text-center align-items-center">
                                <div class="row">
                                   @* <div class="col-4 ml-1">
                                        <div class="d-flex align-items-center">
                                            <div class="language-selection ">
                                                <div class="dropdown btn-Accept">
                                                    <button class=" dropdown-toggle" id="dropdownlanguage" data-toggle="dropdown"> فارسی </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownlanguage">

                                                        <a href="#googtrans(fa|en)" class="dropdown-item lang-select" data-lang="fa"> فارسی </a>
                                                        <a href="#googtrans(fa|fa)" class="dropdown-item lang-select" data-lang="en">  انگلیسی</a>
                                                        <a href="#googtrans(fa|tu)" class="dropdown-item lang-select" data-lang="tu"> ترکی</a>
                                                        <a href="#googtrans(fa|ar)" class="dropdown-item lang-select" data-lang="ar"> عربی</a>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                                    <div class="col-12 ">

                                        @if (User.Identity.IsAuthenticated)
                                        {

                                            @if (ViewBag.Admin == true)
                                            {
                                                <div class="d-flex align-items-center">
                                                    <div class="language-selection ">
                                                        <div class="dropdown btn-Accept">
                                                            <button class=" dropdown-toggle " id="dropdownlanguage" data-toggle="dropdown"> <img class="DefaultAvatar" src="~/Content/images/user/thumb/DefaultAvatar.png"> </button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownlanguage">
                                                                <a class="dropdown-item "> @User.Identity.Name خوش آمدید </a>
                                                                <a asp-action="Index" asp-area="UserPanel" asp-controller="Home" class="dropdown-item dropdown-itemuserpanel">ورود به صفحه شخصی</a>

                                                                <a asp-action="Index" asp-area="Doctor" asp-controller="Home" class="dropdown-item ">  پنل پزشک</a>
                                                                <a asp-action="Index" asp-area="Nurse" asp-controller="Home" class="dropdown-item "> پنل پرستار</a>
                                                                <a asp-action="Index" asp-area="Laboratory" asp-controller="Home" class="dropdown-item ">  پنل آزمایشگاه</a>
                                                                <a asp-action="Index" asp-area="Pharmacy" asp-controller="Home" class="dropdown-item ">  پنل داروخانه</a>
                                                                <a asp-action="Index" asp-area="Consultant" asp-controller="Home" class="dropdown-item "> پنل مشاور</a>
                                                                <a asp-action="Index" asp-area="Market" asp-controller="Home" class="dropdown-item "> پنل فروشنده  </a>
                                                                <a asp-action="Index" asp-area="Supporter" asp-controller="Home" class="dropdown-item "> پنل پشتیبان</a>
                                                                <a asp-action="Index" asp-area="Admin" asp-controller="Home" class="dropdown-item dropdown-itemuserpanel"> پنل ادمین </a>
                                                                <a asp-action="Logout" asp-controller="Account" class="dropdown-item"> خروج</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                            else
                                            {
                                                <div class="d-flex align-items-center">
                                                    <div class="language-selection ">
                                                        <div class="dropdown btn-Accept">
                                                            <button class=" dropdown-toggle " id="dropdownlanguage" data-toggle="dropdown"> <img class="DefaultAvatar" src="~/Content/images/user/thumb/DefaultAvatar.png"> </button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownlanguage">

                                                                <a class="dropdown-item "> @User.Identity.Name خوش آمدید </a>
                                                                <a asp-action="Index" asp-area="UserPanel" asp-controller="Home" class="dropdown-item dropdown-itemuserpanel">ورود به صفحه شخصی</a>

                                                                @if (ViewBag.Doctor == true)
                                                                {
                                                                    <a asp-action="Index" asp-area="Doctor" asp-controller="Home" class="dropdown-item ">  پنل پزشک</a>
                                                                }

                                                                @if (ViewBag.Labratory == true)
                                                                {
                                                                    <a asp-action="Index" asp-area="Laboratory" asp-controller="Home" class="dropdown-item ">  پنل آزمایشگاه</a>
                                                                }

                                                                @if (ViewBag.LaboratoryOfficeEmployee == true)
                                                                {
                                                                    <a asp-action="Index" asp-area="Laboratory" asp-controller="Home" class="dropdown-item ">  پنل آزمایشگاه</a>
                                                                }

                                                                @if (ViewBag.Pharmacy == true)
                                                                {
                                                                    <a asp-action="Index" asp-area="Pharmacy" asp-controller="Home" class="dropdown-item ">  پنل داروخانه</a>
                                                                }

                                                                @if (ViewBag.Seller == true)
                                                                {
                                                                    <a asp-action="Index" asp-area="Market" asp-controller="Home" class="dropdown-item "> پنل فروشنده  </a>
                                                                }

                                                                @if (ViewBag.DoctorOfficeEmployee == true)
                                                                {
                                                                    <a asp-action="Index" asp-area="Doctor" asp-controller="Home" class="dropdown-item ">  پنل پزشک</a>
                                                                }

                                                                @if (ViewBag.Supporter == true)
                                                                {
                                                                    <a asp-action="Index" asp-area="Supporter" asp-controller="Home" class="dropdown-item "> پنل پشتیبان</a>
                                                                }

                                                                @if (ViewBag.Nurse == true)
                                                                {
                                                                    <a asp-action="Index" asp-area="Nurse" asp-controller="Home" class="dropdown-item "> پنل پرستار</a>
                                                                }

                                                                @if (ViewBag.Consultant == true)
                                                                {
                                                                    <a asp-action="Index" asp-area="Consultant" asp-controller="Home" class="dropdown-item "> پنل مشاور</a>
                                                                }

                                                                <a asp-action="Logout" asp-controller="Account" class="dropdown-item"> خروج</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            }

                                        }
                                        else
                                        {

                                            <a asp-action="Login" asp-controller="Account" class="btn-Accept mr-2"><span> ورود/ثبت نام </span></a>

                                        }
                                    </div>
                                </div>
                            </div>

                        </div>
                    </nav>
                </div>

            </div>
        </div>
    </div>

</header>


@*<div class="search-input" id="search-input-box">
    <div class="container ">
        <form class="d-flex justify-content-between search-inner" style="color:white !important;">
            <input type="text" class="form-control" id="search-input" placeholder="جستجو ">
            <button type="submit" class="btn"></button> <span class="flaticon-close" id="close-search" title="Close Search"></span>
        </form>
    </div>
</div>*@
<!--header end-->
@*@if (User.Identity.IsAuthenticated)
{
    <div class=" row ">
        <div class=" col-md-10"></div>
        <div class=" col-md-2  align-items-center text-center justify-content-center">
            <a asp-action="Index" asp-area="UserPanel" asp-controller="Home" class="btn-AcceptX">ورود به صفحه شخصی</a>
        </div>
    </div>
}*@