@model List<DoctorFAM.Domain.ViewModels.Site.Doctor.Resume.Gallery.GalleryResumeInSitePanelViewModel>
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.StaticTools

@if (Model != null && Model.Any())
{
    <ul class="photos">
        @foreach (var item in Model)
        {
            <li>


                <a class="strip" href="@PathTools.ResumeGalleryPath@item.ImageName" data-strip-group="mygroup" data-strip-group-options="loop: false">
                    <img src="@PathTools.ResumeGalleryPath@item.ImageName" alt="">
                </a>
            </li>
        }
    </ul>
}

