@{
    ViewBag.Title = "صفحه پزشک";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content">
    <div class="container">

        <div class="card m-3 p-3">
            <div class="card-body">
                <div class="doctor-widget">
                    <div class="row">
                        <div class=" doc-info-left">
                            <div class="doctor-img">
                                <img src="~/Content/Doctor/assets/img/doctors/doctor-thumb-02.jpg" class="img-fluid" alt="User Image">
                            </div>
                            <div class="doc-info-cont">
                                <h4 class="doc-name">پزشک: یاسر قزوینی</h4>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="doc-speciality">  پزشک عمومی - پزشک خانواده </p>
                                         <span class="doc-speciality"> GP ، FD  </span>
                                        <div class="rating">
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star"></i>
                                            <span class="d-inline-block average-rating">(35)</span>
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-4 col-md-6">
                <h4 class="mb-1">11 مهر 1401</h4>
                <p class="text-muted">دوشنبه</p>
            </div>
            <div class="col-12 col-sm-8 col-md-6 ">
                <div class="bookingrange btn btn-white btn-sm mb-3">
                    <i class="far fa-calendar-alt me-2"></i>
                    <span></span>
                    <i class="fas fa-chevron-down ms-2"></i>
                </div>
            </div>
        </div>

        <div class="card booking-schedule schedule-widget">
            <div class="schedule-header">
                <div class="row">
                    <div class="col-md-12">

                        <div class="day-slot ">
                            <ul>
                                <li class="left-arrow">
                                    <a href="#">
                                        <i class="fa fa-chevron-left"></i>
                                    </a>
                                </li>
                                 <li>
                                    <span>جمعه</span>
                                    <span class="slot-date">17  مهر <small class="slot-year">1401</small></span>
                                </li>
                                <li>
                                    <span>پنجشنبه</span>
                                    <span class="slot-date">16  مهر <small class="slot-year">1401</small></span>
                                </li>
                                 <li>
                                    <span>چهارشنبه</span>
                                    <span class="slot-date">15  مهر <small class="slot-year">1401</small></span>
                                </li>
                                 <li>
                                    <span>سه‌شنبه</span>
                                    <span class="slot-date">14  مهر <small class="slot-year">1401</small></span>
                                </li>
                                <li>
                                    <span>دوشنبه</span>
                                    <span class="slot-date">13  مهر <small class="slot-year">1401</small></span>
                                </li>
                                <li>
                                    <span>یکشنبه</span>
                                    <span class="slot-date">12  مهر <small class="slot-year">1401</small></span>
                                </li>
                                <li>
                                    <span>شنبه</span>
                                    <span class="slot-date">11  مهر <small class="slot-year">1401</small></span>
                                </li>                                
                                <li class="right-arrow">
                                    <a href="#">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="schedule-cont">
                <div class="row">
                    <div class="col-md-12">

                        <div class="time-slot">
                            <ul class="clearfix">
                                <li>
                                    <a class="timing" href="#">
                                        <span>9:00</span> <span>صبح</span>
                                    </a>
                                    <a class="timing" href="#">
                                        <span>10:00</span> <span>صبح</span>
                                    </a>
                                    <a class="timing" href="#">
                                        <span>11:00</span> <span>صبح</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="timing" href="#">
                                        <span>9:00</span> <span>صبح</span>
                                    </a>
                                    <a class="timing" href="#">
                                        <span>10:00</span> <span>صبح</span>
                                    </a>
                                    <a class="timing" href="#">
                                        <span>11:00</span> <span>صبح</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="timing" href="#">
                                        <span>9:00</span> <span>صبح</span>
                                    </a>
                                    <a class="timing" href="#">
                                        <span>10:00</span> <span>صبح</span>
                                    </a>
                                    <a class="timing" href="#">
                                        <span>11:00</span> <span>صبح</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="timing" href="#">
                                        <span>9:00</span> <span>صبح</span>
                                    </a>
                                    <a class="timing" href="#">
                                        <span>10:00</span> <span>صبح</span>
                                    </a>
                                    <a class="timing" href="#">
                                        <span>11:00</span> <span>صبح</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="timing" href="#">
                                        <span>9:00</span> <span>صبح</span>
                                    </a>
                                    <a class="timing selected" href="#">
                                        <span>10:00</span> <span>صبح</span>
                                    </a>
                                    <a class="timing" href="#">
                                        <span>11:00</span> <span>صبح</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="timing" href="#">
                                        <span>9:00</span> <span>صبح</span>
                                    </a>
                                    <a class="timing" href="#">
                                        <span>10:00</span> <span>صبح</span>
                                    </a>
                                    <a class="timing" href="#">
                                        <span>11:00</span> <span>صبح</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="timing" href="#">
                                        <span>9:00</span> <span>صبح</span>
                                    </a>
                                    <a class="timing" href="#">
                                        <span>10:00</span> <span>صبح</span>
                                    </a>
                                    <a class="timing" href="#">
                                        <span>11:00</span> <span>صبح</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="submit-section proceed-btn text-left mt-2">
            <a href="checkout.html" class="btn btn-primary btn-Accept"> ثبت نوبت </a>
        </div>


    </div>
</div>