@model DoctorFAM.Domain.ViewModels.UserPanel.HealthHouse.HomeLaboratory.ShowHomeLaboratoryRequestResultLaboratorySideViewModel

@using DoctorFAM.Domain.Enums
@using DoctorFAM.Application.StaticTools
@using DoctorFAM.Domain.ViewModels.Common

@{
    ViewData["Title"] = "نتیجه ی آزمایش";
}

@section Scripts
    {
    <partial name="_JqueryValidation" />
}

@section Breadcrumb
    {
    <li>
        <a href="javascript:void(0)"> @ViewData["Title"] </a>
    </li>
}

<div class="col-lg-12 col-sm-12">
    <div class="row">

        <div class="col-lg-6 col-sm-12">
            <div class="row">


                <div class="col-lg-12 col-sm-12">
                    <div class="widget">
                        <div class="widget-header bordered-bottom bordered-green" style="background-color:#d1f4fa">
                            <span class="widget-caption"> اطلاعات  </span>
                        </div>



                        <div class="widget-body" style="background-color:#d1f4fa !important;">
                            <div class="row">

                                <div class="form-group col-md-12 col-sm-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" asp-for="ResultInDoctorFAMPanel">
                                            <span class="text"> دریافت نتیجه به وسیله ی درج در سامانه  </span>
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 col-sm-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" asp-for="ResultInVisitInPerson">
                                            <span class="text"> دریافت نتیجه به وسیله ی مراجعه ی حضوری متقضی  </span>
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group col-md-12 col-sm-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" asp-for="ResultInSocialMedia">
                                            <span class="text"> دریافت نتیجه از طریق شبکه های اجتماعی  </span>
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>


        @if (!string.IsNullOrEmpty(Model.ResultImage))
        {
            <div class="col-lg-6 col-sm-12">
                <div class="widget">
                    <div class="widget-header bordered-bottom bordered-green">
                        <span class="widget-caption"> فایل ضمیمه نتیجه ی آزمایش </span>
                    </div>
                    <div class="widget-body">
                        <div class="row">

                            <div class="col-md-6 mt-10px @((Model != null && !string.IsNullOrEmpty(Model.ResultImage)) ? "" : "display-none")" style="margin-bottom: 5px" id="CourseAttachmentDownloadBox">
                                <a asp-action="DownloadAttachmentFile" asp-controller="HealthHouse" asp-area="UserPanel" asp-route-fileName="@((Model != null && !string.IsNullOrEmpty(Model.ResultImage)) ? Model.ResultImage : string.Empty)" class="btn btn-primary">
                                    دانلود نتیجه
                                </a>
                            </div>

                            <div class="col-md-6 mt-10px @((Model != null && !string.IsNullOrEmpty(Model.ResultImage)) ? "" : "display-none")" style="margin-bottom: 5px" id="CourseAttachmentDownloadBox">
                                <a target="_blank" href="/Content/images/HomeLaboratoryInvoice/Files/@Model.ResultImage" class="btn btn-warning">
                                    مشاهده نتیجه
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
