@model DoctorFAM.Domain.ViewModels.Account.ForgetPasswordViewModel

@{
    ViewData["Title"] = " بازیابی کلمه ی عبور ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
<partial name="_JqueryValidation" />
}

<section class="login">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="white-bg box-shadow rounded o-hidden">
                    <div class="row align-items-center">
                        <div class="col-lg-7 col-md-12 ">
                            <img class="img-fluid" src="~/Content/images/login.png" alt="">
                        </div>
                        <div class="col-lg-5 col-md-12 ">
                            <div class="login-form text-center">
                                <div class="container login-header  text-center">
                                    <a href="/Home" class="text-center align-items-center">

                                        <img class="logoImage text-center align-items-center" src="~/Content/images/Logo/doctorfam-Header-Logo.png" alt="دکترفم" />

                                    </a>
                                </div>

                                <div class="login-form">

                                    <form asp-area="" asp-controller="Account" asp-action="ForgotPassword" method="post">

                                        <h4 class="text-center ">بازیابی کلمه ی عبور</h4>

                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input asp-for="Mobile" class="form-control" placeholder="موبایل" />
                                                <span class="text-danger" asp-validation-for="Mobile"></span>
                                            </div>
                                        </div>

                                        <div class="row  text-center  align-items-center justify-content-center ">
                                            <button type="submit" class="btn-Accept m-2">ارسال کد بازیابی</button>
                                            <span></span> <a asp-action="Register" asp-controller="Account" class="btn-Accept"><span> حساب کاربری ندارید؟   از اینجا ثبت نام کنید  </span></a>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



