@model DoctorFAM.Domain.ViewModels.Account.LoginUserViewModel

@{
    ViewData["Title"] = " ورود";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
<partial name="_JqueryValidation" />
}

<section class="login">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="white-bg box-shadow rounded o-hidden">
                    <div class="row align-items-center">
                        <div class="col-lg-7 col-md-12 ">
                            <img class="img-fluid" src="~/Content/images/login.png" alt="">
                        </div>
                        <div class="col-lg-5 col-md-12 ">
                            <div class="login-form text-center">
                                <div class="container login-header  text-center">
                                    <a href="/Home/Secpage" class="text-center align-items-center">

                                        <img class="logoImage text-center align-items-center" src="~/Content/images/Logo/doctorfam-Header-Logo.png" alt="دکترفام" />

                                    </a>
                                </div>

                                @if (User.Identity.IsAuthenticated && Context.Request.Query["ReturnUrl"] != "")
                                {
                                    <div class="alert alert-danger ">
                                        <p>کاربر گرامی @User.Identity.Name  شما مجوز ورود به بخش درخواست شده را ندارید.</p>
                                    </div>

                                }
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="login-form">
                                    <form asp-action="Login" asp-controller="Account" method="post">
                                        <input type="hidden" asp-for="ReturnUrl" />

                                        <h4 class="text-center ">ورود به سایت</h4>


                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input asp-for="Mobile" class="form-control" placeholder="موبایل" />
                                                <span class="text-danger" asp-validation-for="Mobile"></span>
                                            </div>
                                        </div>



                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input asp-for="Password" type="password" class="form-control" placeholder="کلمه عبور" />
                                                <span class="text-danger" asp-validation-for="Password"></span>
                                            </div>
                                        </div>


                                        <div class="row align-items-center">
                                            <div class="col-lg-6 col-md-6 col-sm-6 remember-me-wrap">
                                                <p>
                                                    <input type="checkbox" id="test1" asp-for="RememberMe">
                                                    <label for="test1">مرا بخاطر بسپار</label>
                                                </p>

                                            </div>

                                            <div class="col-lg-6 col-md-6 col-sm-6 mt-2 lost-your-password-wrap">
                                                <div class="form-group">
                                                    <a asp-action="ForgotPassword" asp-controller="Account">فراموشی رمز عبور  </a>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="row  text-center  align-items-center justify-content-center ">
                                            <button type="submit" class="btn-Accept m-2">ورود</button>
                                            <span></span> <a asp-action="Register" asp-controller="Account" class="btn-Accept"><span> حساب کاربری ندارید؟   از اینجا ثبت نام کنید  </span></a>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



