@model DoctorFAM.Domain.ViewModels.Account.RegisterUserViewModel

@{
    ViewData["Title"] = "ثبت نام";
}

@section Scripts
{
<partial name="_JqueryValidation" />
}

<section class="login">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="white-bg box-shadow rounded o-hidden">
                    <div class="row align-items-center">
                        <div class="col-lg-7 col-md-12 p-5">
                            <img class="img-fluid" src="~/Site/images/login.png" alt="">
                        </div>
                        <div class="col-lg-5 col-md-12 ">
                            <div class="login-form">
                                <img class="img-fluid mb-5" src="images/logo-white.png" alt="">
                                <h3 class="text-white"> ورود به سایت </h3>
                                @if (User.Identity.IsAuthenticated && Context.Request.Query["ReturnUrl"] != "")
                                {
                                    <div class="alert alert-danger mt-3">
                                        <p>کاربر گرامی @User.Identity.Name  شما مجوز ورود به بخش درخواست شده را ندارید.</p>
                                    </div>

                                }
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="login-form">

                                    <form asp-action="Register" asp-controller="Account" method="post">

                                        <h4 class="text-center ">ایجاد حساب کاربری</h4>
                                        <div class="form-group">                                           
                                            <div class="col-md-12">
                                                <input asp-for="Mobile" class="form-control" placeholder="تلفن همراه" />
                                                <span class="text-danger" asp-validation-for="Mobile"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">                                          
                                            <div class="col-md-12">
                                                <input asp-for="Password" type="password" class="form-control" placeholder="کلمه عبور" />
                                                <span class="text-danger" asp-validation-for="Password"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">                                            
                                            <div class="col-md-12">
                                                <input asp-for="RePassword" type="password" class="form-control" placeholder="تکرار کلمه ی عبور " />
                                                <span class="text-danger" asp-validation-for="RePassword"></span>
                                            </div>
                                        </div>
                                        <div class="remember-me-wrap">
                                            <p>
                                                <input type="checkbox" id="test1">
                                                <label for="test1">با   <a href="terms-of-service.html">شرایط و ضوابط سایت </a> موافق هستم</label>
                                            </p>
                                        </div>

                                        <div class="row p-3 m-3  text-center  align-items-center justify-content-center ">
                                            <button type="submit" class="btn-Accept">ثبت نام</button>
                                        </div>
                                        <div class="account-text">
                                            <p>حساب کاربری دارید؟ <a asp-action="Login" asp-controller="Account">ورود</a></p>
                                        </div>

                                    </form>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
