@model DoctorFAM.Domain.ViewModels.Site.Doctor.Follow.FollowCountViewComponentViewModel

<div class="clini-infos">
    <ul>
        <li><i class="fa fa-users"></i> دنبال کنندگان : @Model.FollowersCount </li>

        <li><i class="far fa-thumbs-up"></i> 0</li>

        <li><i class="far fa-money-bill-alt"></i> حق ویزیت: سامانه </li>
    </ul>
</div>
<div class="doctor-action">
    <a href="javascript:void(0)" class="btnDoc btn-white fav-btn">
        <i class="far fa-bookmark"></i>
    </a>
    <a href="chat.html" class="btnDoc btn-white msg-btn">
        <i class="far fa-comment-alt"></i>
    </a>
    <a href="javascript:void(0)" class="btnDoc btn-white call-btn" data-bs-toggle="modal" data-bs-target="#voice_call">
        <i class="fas fa-phone"></i>
    </a>
    <a href="javascript:void(0)" class="btnDoc btn-white call-btn" data-bs-toggle="modal" data-bs-target="#video_call">
        <i class="fas fa-video"></i>
    </a>
</div>
