# Rules in this file were initially inferred by Visual Studio IntelliCode from the E:\Task\BackEnd\DoctorFAM\Asp.net Core\DoctorFAM14010421\DoctorFAM\DoctorFAM.Presentation\Resources\Areas\Doctor\Views\ codebase based on best match to current usage at 7/12/2022
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

