@model DoctorFAM.Domain.ViewModels.Tourist.Token.ImportingTokenInformationTouristSideViewModele

@{
    ViewData["Title"] = @Localizer["افزودن شماره تلفن"];
}

@section Scripts
    {
    <partial name="_JqueryValidation" />
}

@section Breadcrumb
    {
    <li>
        <a asp-action="ManagePage" asp-controller="Token" asp-area="Tourist"> مدیریت توکن ها </a>
    </li>
}

<div class="row">
    <div class="col-lg-12 col-sm-12">

        <div class="widget">
            <div class="widget-header bordered-bottom bordered-green">
                <span class="widget-caption"> @Localizer["افزودن اطلاعات مسافر"] </span>
            </div>
            <div class="widget-body">
                <div>

                    <form asp-action="ImportingTokenInformation" asp-controller="Token" asp-area="Tourist" method="post">
                        <div class="modal-body">
                            <div class="row">

                                <div class="form-group col-md-6 col-sm-12">
                                    <label asp-for="StartDate"></label>
                                    <span style="color:red;">*</span>
                                    <input type="text" class="form-control" AdminDatePicker="1" style="z-index:9999!important;" asp-for="StartDate">
                                    <span class="text-danger" asp-validation-for="StartDate"></span>
                                </div>

                                <div class="form-group col-md-6 col-sm-12">
                                    <label asp-for="EndDate"></label>
                                    <span style="color:red;">*</span>
                                    <input type="text" class="form-control" AdminDatePicker="1" style="z-index:9999!important;" asp-for="EndDate">
                                    <span class="text-danger" asp-validation-for="EndDate"></span>
                                </div>

                                <div class="form-group col-md-12 col-sm-12">
                                    <label asp-for="TokenLabel">@Localizer["نام توکن"]</label>
                                    <span style="color:red;">*</span>

                                    <input type="text" class="form-control" asp-for="TokenLabel">
                                    <span class="text-danger" asp-validation-for="TokenLabel"></span>
                                </div>

                                <div class="clearfix"></div>

                                <div class="form-group col-md-12">
                                    <button type="submit" class="btn btn-success">@SharedLocalizer["ثبت"]</button>
                                </div>

                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

