@model DoctorFAM.Domain.ViewModels.Site.Reservation.ChooseTypeOfReservationViewModel

<form id="ChooseReservationType" method="post" asp-action="ChooseTypeOfReservation" asp-controller="FocalPoint" asp-area="">
    <input type="hidden" asp-for="ReservationDateTimeId" />
    <input type="hidden" asp-for="DoctorId" />

    <div class="modal-body">
        <div class="row">

            <div class="form-group col-md-12 col-sm-12">
                <label asp-for="DoctorReservationType">@Localizer["Reservation Type"] </label>
                <select asp-for="DoctorReservationType" class="form-control" asp-items="Html.GetEnumSelectList(typeof(DoctorFAM.Domain.Enums.DoctorReservation.DoctorReservationType))"></select>
                <span class="text-danger" asp-validation-for="DoctorReservationType"></span>
            </div>

            <hr />

            <div class="footer">
                <div class="row">
                    <div class="col-md-12 flex-style">
                        <button type="submit" class="btn btn-labeled w-100 btn-palegreen">
                            <i class="btn-label glyphicon glyphicon-filter"></i>@Localizer["Filter"]
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>