@model DoctorFAM.Domain.ViewModels.Consultant.Dashboard.ConsultantPanelDashboardViewModel

@{
    ViewData["Title"] = Localizer["داشبورد پنل مشاور"];
}

@section Breadcrumb {
}

    @section Styles
    {
    <style>

        .databox-bottom {
            height: 100% !important;
        }

        .databox.databox-vertical.databox-lg {
            height: 100%;
            width: 100%;
        }

        .databox.databox-vertical.databox-halved .databox-top {
            height: 60px;
        }

        .databox-icon {
            margin-top: 10px !important;
        }

        .dropdown-menu {
            left: 0;
            right: auto;
        }

    </style>
}

    @await Component.InvokeAsync("ConsultantInfos")

    <div class="page-body">

       

    </div>