@model bool

@if (Model == true)
{
     <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-bell"></i>
                <span class="menu-text"> @SharedLocalizer["Manage Customer Ads"]</span>

                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                <a asp-area="UserPanel" asp-controller="CustomerAdvertisement" asp-action="ListOfAdvertisements">
                        <span class="menu-text">@SharedLocalizer["List OF Customer Ads"]</span>
                    </a>
                </li>
            </ul>
        </li>
}
else
{

}