@model List<DoctorFAM.Domain.ViewModels.Site.Doctor.Resume.Certificate.CertificateResumeInSitePanelViewModel>
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.StaticTools

@if (Model != null && Model.Any())
{
    <div role="tabpanel" id="doc_reviews" class="tab-pane fade">

        @foreach (var item in Model)
        {
            <div class="location-list">
                <div class="row divst1">

                    <div class="col-md-9">
                        <div class="clinic-content">

                            @if (!string.IsNullOrEmpty(item.CertificateTitle))
                            {
                                <h4 class="clinic-name"><a href="#">@item.CertificateTitle</a></h4>
                            }
                            @if (!string.IsNullOrEmpty(item.ExporterRefrence))
                            {
                                <p>@item.ExporterRefrence</p>
                            }
                            
                            
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="clinic-content">                            
                            @if (!string.IsNullOrEmpty(item.ImageName))
                            {
                                <a href="@PathTools.CertificatePathThumb@item.ImageName" target="_blank" > <img style="border-radius: 8px;height: 90px;" src="@PathTools.CertificatePathThumb@item.ImageName" /></a>
                            }
                            
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
}
