@model List<DoctorFAM.Domain.ViewModels.Site.Doctor.Resume.Education.EducationResumeInSitePanelViewModel>
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Application.Extensions

<div class="col-md-5  divst1">
    <div class="widget education-widget">
        <h4 class="widget-title"> تحصیلات </h4>
        @if (Model != null && Model.Any())
        {
            <div class="experience-box">
                <ul class="experience-list">
                    @foreach (var item in Model)
                    {
                        <li>
                            <div class="experience-user">
                                <div class="before-circle"></div>
                            </div>
                            <div class="experience-content">
                                <div class="timeline-content">
                                    @if (!string.IsNullOrEmpty(item.UnivercityName))
                                    {
                                        <a href="#/" class="name">@item.UnivercityName</a>
                                    }
                                    @if (!string.IsNullOrEmpty(item.FieldOfStudy))
                                    {
                                        <div>@item.FieldOfStudy</div>
                                    }
                                    @if (item.StartDate != null && item.EndDate != null)
                                    {
                                        <span class="time">@item.StartDate.Value.ToShamsi() - @item.EndDate.Value.ToShamsi()</span>
                                    }
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</div>
