@model List<DoctorFAM.Domain.Entities.HealthInformation.HealthInformation>
@using DoctorFAM.Domain.ViewModels.Admin.Ticket
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Application.Extensions

<div class="col-lg-6 col-md-6 col-xl-12 col-sm-12 col-xs-12">

    <div class="widget">
        <div class="widget-header">
            <i class="widget-icon fa fa-comment"></i>
            <span class="widget-caption"> آخرین پادکستهای دانستنیهای سلامت ارسالی   </span>
            <div class="widget-buttons">
                <div class="row" style="margin-right: -84px;">

                    <a asp-action="FilterPodcasts" asp-area="Admin" asp-controller="HealthInformation" id="ShowUserCommentInAdminPanel" class="badge badge-info">نمایش همه</a>

                    <a id="ShowUserCommentInAdminPanelMinus" href="#" data-toggle="collapse">
                        <i class="fa fa-minus"></i>
                    </a>

                </div>
            </div><!--Widget Buttons-->
        </div><!--Widget Header-->
        <div class="widget-body" style="max-height: 230px !important; overflow-y: scroll; height:auto;">
            @if (Model != null && Model.Any())
            {
                <div class="table-responsive">
                    <table class="table table-hover table-bordered tc vm">
                        <thead class="tc vm">
                            <tr class="tc vm">
                                <th class="tc vm">
                                عنوان
                                </th>
                                <th class="tc vm">
                                    تاریخ درخواست
                                </th>
                                <th class="tc vm">
                                    امکانات
                                </th>
                            </tr>
                        </thead>
                        <tbody class="tc vm">
                            @foreach (var tvFAM in Model)
                            {
                                <tr class="tc vm" remove-ajax-item="@tvFAM.Id">
                                    <td class="vm">
                                        <div class="flex-style-center">
                                            @tvFAM.Title
                                        </div>
                                    </td>

                                    <td class="tc vm">
                                        <div class="tc vm">
                                            <p id="ArticleTitle">@tvFAM.CreateDate.ToShamsi()</p>
                                        </div>
                                    </td>

                                    <td class="tc vm">

                                        <a asp-action="EditPodcasts" asp-controller="HealthInformation" asp-area="Admin" asp-route-id="@tvFAM.Id" class="btn btn-warning btn-circle btn-xs"><i class="glyphicon glyphicon-edit"></i></a>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <!--Widget Body-->
            }
            else
            {
                <partial name="_AdminNotFoundPartial" />
            }

        </div>
    </div>
</div>



