@model List<DoctorFAM.Domain.ViewModels.DoctorPanel.DoctorsInfo.ListOfDoctorsLocationDTO>
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Application.Extensions

@{
    ViewData["Title"] = "لیست مطب ها و آدرس های شما";
}

@section Breadcrumb
    {
    <li>
        <a href="javascript:void(0)"> @ViewData["Title"] </a>
    </li>
}

@section Styles
    {
    <link href="/admin/css/dataTables.bootstrap.rtl.css" rel="stylesheet" />
}

@section Scripts
    {
    <script src="~/admin/js/datatable/jquery.dataTables.min.js"></script>
    <script src="~/admin/js/datatable/ZeroClipboard.js"></script>
    <script src="~/admin/js/datatable/dataTables.tableTools.min.js"></script>
    <script src="~/admin/js/datatable/dataTables.bootstrap.min.js"></script>
    <script src="~/admin/js/datatable/datatables-init.js"></script>
    <script>
        InitiateSimpleDataTable.init();
        InitiateEditableDataTable.init();
        InitiateExpandableDataTable.init();
        InitiateSearchableDataTable.init();
    </script>

    }

<div class="page-body">

    <div class="row text-center ">
        <a asp-action="CreateLocation" asp-area="Doctor" asp-controller="DoctorsInfo" class="exlStyle btn btn-primary">افزودن آدرس جدید   </a>
    </div>

    <div class="row">

        <div id="horizontal-form">

            @if (Model != null && Model.Any())
            {

                <div class="widget-body no-padding">
                    <div id="searchable_wrapper" class="dataTables_wrapper form-inline">

                        <table class="table table-bordered table-hover table-striped dataTable" id="searchable" role="grid" aria-describedby="searchable_info">
                            <thead class="bordered-darkorange">
                                <tr role="row">

                                    <th class="sorting" tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending">آدرس</th>
                                    <th class="sorting" tabindex="0" aria-controls="searchable" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending"></th>

                                </tr>
                            </thead>

                            <tbody>

                                @foreach (var address in Model)
                                {
                                    <tr role="row" class="even responsive" remove-ajax-item="@address.Id">

                                        <td class="center ">

                                            @address.WorkAddress

                                        </td>

                                        <td>
                                            <a asp-action="DeleteLocation" asp-area="Doctor" asp-controller="DoctorsInfo" asp-route-id="@address.Id" class="btn btn-danger btn-circle btn-xs"><i class="glyphicon glyphicon-trash"></i></a>
                                        </td>

                                    </tr>

                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            }
            else
            {
                <partial name="_DoctorPanelNotFoundPartial" />
            }

        </div>
    </div>

</div>


