@model DoctorFAM.Domain.ViewModels.Nurse.NurseDashboard.NurseDashboardViewModel
@{
    ViewData["Title"] = Localizer["Nurse Panel Dashboard"];
}

@section Breadcrumb {
    <li class="active">@SharedHtmlLocalizer["Home"]</li>
}

    @section Styles
    {
    <style>

        .databox-bottom {
            height: 100% !important;
        }

        .databox.databox-vertical.databox-lg {
            height: 100%;
            width: 100%;
        }

        .databox.databox-vertical.databox-halved .databox-top {
            height: 60px;
        }

        .databox-icon {
            margin-top: 10px !important;
        }

        .dropdown-menu {
            left: 0;
            right: auto;
        }

    </style>
}

    @await Component.InvokeAsync("NurseInfos")

    <div class="page-body">

        <div class="row">

            @*Box Of Home Nurse Requests*@
            <partial name="_ListOfHomeNurseRequests" model="@Model.ListOfHomeNurseRequest" />

        </div>

    </div>