@model List<DoctorFAM.Domain.ViewModels.ChatRoom.ListOfCurrentUserChatRooms>
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.StaticTools

@{
    ViewData["Title"] = "دکترفم چت";
}

@section Scripts
    {
    <script src="/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

    <script>

        //#region Create Connection

        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/hub/ChatRoom")
            .build();

        //#endregion

        //#region Send User Writed Message To The Server

        connection.on("ReceiveMessage", receive);

        //#endregion

        //#region Create Group

        connection.on("NewGroup", appendGroup);

        //#endregion

        //#region Join User To the Group

        connection.on("JoinGroup", joined);

        //#endregion

        connection.start();

        function joined(group, chats) {
            $(".header").css("display", "block");
            $(".footer").css("display", "block");
            $(".header h2").html(group.groupTitle);
            $(".header img").attr("src", `/content/images/user/thumb/${group.imageName}`);
        }

        function joinInGroup(token) {
            connection.invoke("JoinGroup", token);
        }

    </script>

}

<div class="row">
    <div class="col-8 chat-content">
        <div class="header" style="display: none">
            <img src="/ChatRoom/img/Default.jpg" />
            <h2>علی</h2>
        </div>
        <div class="chats">

            @*            <div class="chat-me">
            <div class="chat">
            <p>سلام خوبی چه خبر ؟ </p>
            <span>2020/06/05</span>
            </div>
            </div>
            <div class="chat-you">
            <div class="chat">
            <p>سلام ممنون یه خبر خیلییی خوبی دارم برات</p>
            <span>2020/06/05</span>
            </div>
            </div>
            <div class="chat-me">
            <div class="chat">
            <p>چی ؟!!</p>
            <span>2020/06/05</span>
            </div>
            </div>
            <div class="chat-you">
            <div class="chat">
            <p>توی سایت codeYad دوره SignalR رایگان برگزار شده</p>
            <span>2020/06/05</span>
            </div>
            </div>*@

        </div>
        <div class="footer" style="display: none">
            <form onsubmit="sendMessage(event)">
                <input id="messageText" type="text" class="form-control" placeholder="متن خود را وارد کنید">
                <button class="btn btn-success">
                    ارسال
                    <i class="fa fa-send"></i>
                </button>
            </form>
        </div>
    </div>
    <div class="col-4 rooms">
        <Ul>
            <li>
                <form>
                    <input type="text" onkeyup="search()" placeholder="جستوجو کنید" id="search_input" class="form-control" />
                    <i class="fa fas fa-search"></i>
                </form>
            </li>
            <li id="search_result" style="cursor: none; padding: 0;display: none">
                <ul>
                </ul>

            </li>

            <li id="user_groups" style="cursor: none;padding: 0">

                <ul>
                    <li>
                        <button data-toggle="modal" data-target="#exampleModal" class="btn btn-success btn-block" style="width: 100%">
                            <i class="fa fa-plus"></i>
                            ایجاد گروه جدید
                        </button>
                    </li>

                    @if (Model != null && Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <li onclick="joinInGroup('@item.ChatGroup.GroupToken')">
                                @item.ChatGroup.GroupTitle
                                <img src="@PathTools.UserAvatarPathThumb@item.ChatGroup.ImageName" />
                                <span>
                                    @((item.Chat != null) ? item.Chat.CreateDate.ToShamsiDateTime() : "-")
                                </span>
                            </li>
                        }
                    }
                </ul>

            </li>

        </Ul>
    </div>
</div>


@*Modal*@
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="modal-content" enctype="multipart/form-data" onsubmit="insertGroup(event)">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ایجاد گروه</h5>
            </div>
            <div class="modal-body">
                <input type="text" id="groupName" class="form-control" placeholder="نام گروه را وارد کنید" />
                <input type="file" accept="image/*" name="image" class="form-control mt-2" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                <button type="submit" class="btn btn-success">ایجاد گروه</button>
            </div>
        </form>
    </div>
</div>
