@model List<DoctorFAM.Domain.ViewModels.ChatRoom.ListOfCurrentUserChatRooms>
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.StaticTools

@{
    ViewData["Title"] = "دکترفم چت";
}

@section Scripts
    {
    <script src="/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

    <script>

        //#region Check Notification Permissions

        $(document).ready(function () {
            if (Notification.permission !== "granted") {
                Notification.requestPermission();
            }
        });

        //#endregion

        var currentGroupId = 0;
        var userId = 0;

        //#region Create Connection

        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/hub/ChatRoom")
            .build();

        //#endregion

        connection.on("Welcome",
            function (id) {
                userId = id;
            });

        //#region Send User Writed Message To The Server

        connection.on("ReceiveMessage", receive);

        //#endregion

        //#region Create Group

        connection.on("NewGroup", appendGroup);

        //#endregion

        //#region Join User To the Group

        connection.on("JoinGroup", joined);

        //#endregion

        //#region Recevice Notification

        connection.on("ReceiveNotification", sendNotification);

        //#endregion

        //#region Join To The Private Group

        function joinInPrivateGroup(receiverId) {
            connection.invoke("JoinPrivateGroup", receiverId, currentGroupId);
        }

        //#endregion

        //#region Start Connection 

        async function Start() {
            try {
                await connection.start();
                $(".disConnect").hide();

            } catch (e) {
                $(".disConnect").show();
                setTimeout(Start, 6000);
            }
        }

        connection.onclose(Start);
        Start();

        //#endregion 

        //#region Recevice Notification

        function sendNotification(chat) {
            if (Notification.permission === "granted") {
                if (currentGroupId !== chat.groupId) {

                    //Play Sound
                    var audio = {};
                    audio["walk"] = new Audio();
                    audio["walk"].src = "/common/sound/RingtoneGram.IR_1643187667_64009.mp3"
                    audio["walk"].play();

                    var notification = new Notification(chat.groupName,
                        {
                            body: chat.chatBody,
                            icone: 'Site/Manifest/doctorfamLogo512.png',
                            image: 'Site/Manifest/doctorfamLogo512.png'
                        });
                }
            }
        }

        //#endregion

        function receive(chat) {
            $("#messageText").val('');
            if (userId === chat.userId) {
                $(".chats").append(`

                                                            <div class="chat-me">
                                                                            <div class="chat">
                                                                                <span>${chat.userName}</span>
                                                                                <p>${chat.chatBody}</p>
                                                                                <span>${chat.createDate}</span>
                                                                            </div>
                                                                        </div>
                                                                    `);
            } else {
                $(".chats").append(`

                                                            <div class="chat-you">
                                                                            <div class="chat">
                                                                                 <span>${chat.userName}</span>
                                                                                <p>${chat.chatBody}</p>
                                                                                <span>${chat.createDate}</span>
                                                                            </div>
                                                                        </div>
                                                                    `);
            }

        }

        //#region invole = فراخوانی کردن

        function sendMessage(event) {
            event.preventDefault();

            var text = $("#messageText").val();
            if (text) {
                connection.invoke("SendMessage", text, currentGroupId);

            } else {
                alert("Error");
            }
        }

        //#endregion

        function joined(group, chats) {
            $(".header").css("display", "block");
            $(".footer").css("display", "block");
            $(".header h2").html(group.groupTitle);
            $(".header img").attr("src", `/content/images/user/thumb/${group.imageName}`);
            currentGroupId = group.id;

            $(".chats").html("");
            for (var i in chats) {
                var chat = chats[i];
                if (userId === chat.userId) {
                    $(".chats").append(`

                                                                                    <div class="chat-me">
                                                                                                    <div class="chat">
                                                                                                        <span>${chat.userName}</span>
                                                                                                        <p>${chat.chatBody}</p>
                                                                                                        <span>${chat.createDate}</span>
                                                                                                    </div>
                                                                                                </div>
                                                                                            `);
                } else {
                    $(".chats").append(`

                                                                                    <div class="chat-you">
                                                                                                    <div class="chat">
                                                                                                         <span>${chat.userName}</span>
                                                                                                        <p>${chat.chatBody}</p>
                                                                                                        <span>${chat.createDate}</span>
                                                                                                    </div>
                                                                                                </div>
                                                                                            `);
                }
            }
        }

        function joinInGroup(token) {
            connection.invoke("JoinGroup", token, currentGroupId);
        }

    </script>

}

<div class="disConnect">
    <div>
        <p>اتصال شما به سرور قطع شده .</p>
        <p>درحال برقراری ارتباط ...</p>
    </div>
</div>

<div class="row">
    <div class="col-8 chat-content">
        <div class="header" style="display: none">
            <img src="/ChatRoom/img/Default.jpg" />

            <h2>علی</h2>
        </div>
        <div class="chats">
        </div>
        <div class="footer" style="display: none">
            <form onsubmit="sendMessage(event)">
                <input id="messageText" type="text" class="form-control" placeholder="متن خود را وارد کنید">
                <button class="btn btn-success">
                    ارسال
                    <i class="fa fa-send"></i>
                </button>
            </form>
        </div>
    </div>
    <div class="col-4 rooms">
        <Ul>
            <li>
                <form>
                    <input type="text" onkeyup="search()" placeholder="جستجو کنید" id="search_input" class="form-control" />
                    <i class="fa fas fa-search"></i>
                </form>
            </li>
            <li id="search_result" style="cursor: none; padding: 0;display: none">
                <ul>
                </ul>

            </li>

            <li id="user_groups" style="cursor: none;padding: 0">

                <ul>
                    <li>
                        <button data-toggle="modal" data-target="#exampleModal" class="btn btn-success btn-block" style="width: 100%">
                            <i class="fa fa-plus"></i>
                            ایجاد گروه جدید
                        </button>
                    </li>

                    @if (Model != null && Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <li onclick="joinInGroup('@item.ChatGroup.GroupToken')">
                                @item.ChatGroup.GroupTitle
                                <img src="@PathTools.UserAvatarPathThumb@item.ChatGroup.ImageName" />
                                <span>
                                    @((item.Chat != null) ? item.Chat.CreateDate.ToShamsiDateTime() : "-")
                                </span>
                            </li>
                        }
                    }
                </ul>

            </li>

        </Ul>
    </div>
</div>


@*Modal*@
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="modal-content" enctype="multipart/form-data" onsubmit="insertGroup(event)">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ایجاد گروه</h5>
            </div>
            <div class="modal-body">
                <input type="text" id="groupName" class="form-control" placeholder="نام گروه را وارد کنید" />
                <input type="file" accept="image/*" name="image" class="form-control mt-2" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                <button type="submit" class="btn btn-success">ایجاد گروه</button>
            </div>
        </form>
    </div>
</div>
