@model List<DoctorFAM.Domain.ViewModels.ChatRoom.ListOfCurrentUserChatRooms>
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Application.Extensions

@{
    ViewData["Title"] = "دکترفم چت";
}

@section Scripts
    {
    <script src="/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

    <script>

        //#region Create Connection

        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/hub/ChatRoom")
            .build();

        //#endregion

        //#Send User Writed Message To The Server

        connection.on("ReceiveMessage", receive);

        function receive(text) {
            console.log(text);
        }

        //invole = فراخوانی کردن
        function sendMessage(event) {
            event.preventDefault();

            var text = $("#messageText").val();
            connection.invoke("SendMessage", text);
        }

        //#endregion

        //#region Create Group

        connection.on("NewGroup", appendGroup);

        //Add Group To The User Group List
        function appendGroup(groupName, token) {

            if (groupName === "Error") {
                ShowMessage("اعلان", "عملیات باشکست مواجه شده است.", "error");
            } 
            else {
                ShowMessage("اعلان", "عملیات باموفقیت انجام شده است.", "success");
                $(".rooms ul").append(`
                                     <li data-id='${token}'>
                                    ${groupName}
                                    <img src="/img/Default.jpg" />
                                    <span></span>
                                </li>
                                    `);
                $("#exampleModal").modal('toggle');
            }
        }

        //Create Group
        function insertGroup(event) {
            event.preventDefault();
            console.log('send');
            var text = $("#groupName").val();
            if (text) {
                connection.invoke("CreateGroup", text);
            }
        }

        //#endregion

        connection.start();

    </script>

}

<div class="row">
    <div class="col-8 chat-content">
        <div class="header">
            <img src="/ChatRoom/img/Default.jpg" />
            <h2>علی</h2>
        </div>
        <div class="chats">
            <div class="chat-me">
                <div class="chat">
                    <p>سلام خوبی چه خبر ؟ </p>
                    <span>2020/06/05</span>
                </div>
            </div>
            <div class="chat-you">
                <div class="chat">
                    <p>سلام ممنون یه خبر خیلییی خوبی دارم برات</p>
                    <span>2020/06/05</span>
                </div>
            </div>
            <div class="chat-me">
                <div class="chat">
                    <p>چی ؟!!</p>
                    <span>2020/06/05</span>
                </div>
            </div>
            <div class="chat-you">
                <div class="chat">
                    <p>توی سایت codeYad دوره SignalR رایگان برگزار شده</p>
                    <span>2020/06/05</span>
                </div>
            </div>
        </div>
        <div class="footer">
            <form onsubmit="sendMessage(event)">
                <input id="messageText" type="text" class="form-control" placeholder="متن خود را وارد کنید">
                <button class="btn btn-success">
                    ارسال
                    <i class="fa fa-send"></i>
                </button>
            </form>
        </div>
    </div>
    <div class="col-4 rooms">
        <Ul>
            <li>
                <form>
                    <input type="text" placeholder="جستوجو کنید" class="form-control" />
                    <i class="fa fas fa-search"></i>
                </form>
            </li>

            <li>
                <button data-toggle="modal" data-target="#exampleModal" class="btn btn-success btn-block" style="width: 100%">
                    <i class="fa fa-plus"></i>
                    ایجاد گروه جدید
                </button>
            </li>

            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <li>
                        @item.ChatGroup.GroupTitle
                        <img src="/ChatRoom/img/Default.jpg" />
                        <span>
                            @((item.Chat != null) ? item.Chat.CreateDate.ToShamsiDateTime() : "-")
                        </span>
                    </li>
                }
            }

        </Ul>
    </div>
</div>


@*Modal*@
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="modal-content" onsubmit="insertGroup(event)">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ایجاد گروه</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" id="groupName" class="form-control" placeholder="نام گروه را وارد کنید" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                <button type="submit" class="btn btn-success">ایجاد گروه</button>
            </div>
        </form>
    </div>
</div>
