@model DoctorFAM.Domain.ViewModels.DoctorPanel.DosctorSideBarInfo.DoctorSideBarViewModel

@{
    ViewData["Title"] = " ویزیت در منزل";
}

@section Breadcrumb
    {

}


<div class="">


    <div class="row text-center align-Item-center">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="bordered-well-container">
                <div class="well   ">

                    <div class="featured-icon">
                        <i class="fa fa-headphones fa-2x"></i>
                    </div>
                    <h2 class="text-center justify-content-center"> ویزیت در منزل  </h2>

                </div>
            </div>
            <div class="row">
                @if (Model.HomeVisit == true)
                {
                    <div class="col-lg-2 col-md-2   buttons-preview mt-5"></div>
                    <div class="col-lg-4 col-md-4  buttons-preview mt-5">
                        <div class="bordered-well-container">
                            
                            <a asp-action="ListOfHomeVisitRequest" asp-area="Doctor" asp-controller="HomeVisit">
                                <div class="well bordered-top bordered-bottom bordered-left bordered-right bordered-pink">
                                    <h4 class="text-center justify-content-center"> جدیدترین درخواستها  </h4>
                                </div>
                            </a>
                           
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4   buttons-preview mt-5">
                        <div class="bordered-well-container">
                            
                           
                            <a asp-action="ListOfYourHomeVisitRequest" asp-area="Doctor" asp-controller="HomeVisit">
                                <div class="well bordered-top  bordered-bottom bordered-left bordered-right bordered-palegreen">
                                    <h4 class="text-center justify-content-center"> درخواستهای پذیرفته شده  </h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2   buttons-preview mt-5"></div>
                }
             

            </div>
        </div>


    </div>


</div>
