@{
    ViewData["Title"] = "پیامک";
}



@section Breadcrumb
    {

}


<div class="page-body">


    <div class="row text-center align-Item-center">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="row">

                <div class="col-lg-4 col-md-4  buttons-preview mt-2">
                    <div class="bordered-well-container">
                        <div class="well bordered-top bordered-bottom  bordered-blue">
                            <a class=" hover-icon" asp-area="Doctor" asp-controller="IncomeSystem" asp-action="UploadFile">
                                <div class="featured-icon">
                                    <i class="fa fa-upload fa-2x"></i>
                                </div>
                                <p class="text-center justify-content-center" > بارگذاری لیست جمعیت  </p>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-4   buttons-preview mt-2">
                    <div class="bordered-well-container">
                        <div class="well bordered-top bordered-bottom  bordered-blue">
                            <a class=" hover-icon" asp-area="Doctor" asp-controller="IncomeSystem" asp-action="ListOfYourUsers">
                                <div class="featured-icon">
                                    <i class="fa fa-send fa fa-upload fa-2x"></i>
                                </div>
                                <p class="text-center justify-content-center" > ارسال پیامک  </p>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4 col-md-4 buttons-preview mt-2">
                    <div class="bordered-well-container">
                        <div class="well bordered-top bordered-bottom  bordered-blue">
                            <a class=" hover-icon" asp-area="Doctor" asp-controller="IncomeSystem" asp-action="ListOfVIPYourUsers">
                                <div class="featured-icon">
                                   	<i class="fa fa-send-o fa-2x"></i>  
                                </div>
                                <p class="text-center justify-content-center" > ارسال پیامک ویژه </p>
                            </a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
       

    </div>


</div>
