@mixin flex($j-c: center, $a-i: center, $dir: row) {
    display: flex;
    flex-direction: $dir;
    justify-content: $j-c;
    align-items: $a-i;
}
#radio {
    background-color: #141517;
    margin: 100px 15px;
    border-radius: 5px;
    padding: 20px 15px;
}
.radio-left {
    @include flex();
    margin-bottom: 15px;
    position: relative;
}
.radio-equalizer {
    @include flex();
    height: 30px;
    .music-bars {
        background-color: aliceblue;
    }
    #music-bars span {
        background-color: #fd5b03;
        width: 4px;
        border-radius: 10px;
        float: left;
        margin-left: 4px;
        height: 25px;
    }

    #music-bars .one {
        -webkit-animation-name: move-1;
        -moz-animation-name: move-1;
        -o-animation-name: move-1;
        animation-name: move-1;
    }

    #music-bars .two {
        -webkit-animation-name: move-2;
        -moz-animation-name: move-2;
        -o-animation-name: move-2;
        animation-name: move-2;
    }

    #music-bars .three {
        -webkit-animation-name: move-3;
        -moz-animation-name: move-3;
        -o-animation-name: move-3;
        animation-name: move-3;
    }

    #music-bars .four {
        -webkit-animation-name: move-4;
        -moz-animation-name: move-4;
        -o-animation-name: move-4;
        animation-name: move-4;
    }

    #music-bars .five {
        -webkit-animation-name: move-5;
        -moz-animation-name: move-5;
        -o-animation-name: move-5;
        animation-name: move-5;
    }
}
.active-equlizer {
    #music-bars span {
        height: 35px !important;
        -webkit-animation: 2.5s infinite ease-in-out;
        -moz-animation: 2.5s infinite ease-in-out;
        -o-animation: 2.5s infinite ease-in-out;
        animation: 2.5s infinite ease-in-out;
    }
    @keyframes move-1 {
        0%,
        100% {
            transform: scaleY(0.5);
        }
        50% {
            transform: scaleY(1);
        }
    }

    /* Move 2 */

    @keyframes move-2 {
        0%,
        100% {
            transform: scaleY(0.25);
        }
        50% {
            transform: scaleY(0.75);
        }
    }

    /* Move 3 */

    @keyframes move-3 {
        0%,
        100% {
            transform: scaleY(0.5);
        }
        30%,
        75% {
            transform: scaleY(0.75);
        }
        50% {
            transform: scaleY(0.25);
        }
    }

    /* Move 4 */

    @keyframes move-4 {
        0%,
        100% {
            transform: scaleY(0.5);
        }
        12%,
        85% {
            transform: scaleY(0.75);
        }
        35% {
            transform: scaleY(0.25);
        }
    }

    /* Move 5 */

    @keyframes move-5 {
        0%,
        50%,
        100% {
            transform: scaleY(0);
        }
        25%,
        75% {
            transform: scaleY(0.5);
        }
    }
}
.radio-folder {
    i {
        color: #fd5b03;
        font-size: 40px;
    }
}
.radio-music-list-popup {
    display: none;
    position: absolute;
    left: -32px;
    top: -98px;
    border-radius: 3px;
}
.radio-controls {
    @include flex();
    margin-right: 30px;
}
.radio-next {
    background: #40454b;
    padding: 20px;
    border: 1px solid #3c4041;
    border-radius: 0 10px 10px 0;
    margin-left: -8px;
}
.radio-stop-play {
    z-index: 9;
    border-radius: 50%;
    border: 1px solid #3c4041;
    padding: 35px;
    background-color: #40454b;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
.radio-previous {
    background: #40454b;
    padding: 20px;
    border: 1px solid #3c4041;
    border-radius: 10px 0 0 10px;
    margin-right: -8px;
}
.radio-content {
    @include flex($dir: column-reverse);
}
.desktop-folder {
    display: none;
}
@media screen and(min-width:610px) {
    #radio {
        background-color: #40454b;
        max-width: 600px;
        margin: 100px auto;
    }
    .radio-content {
        flex-direction: row;
    }
    .radio-left {
        margin: 0;
    }
    .radio-right {
        background-color: #141517;
        padding: 15px 40px;
        border-radius: 3px;
    }
    .radio-folder {
        margin-right: 15px;
    }
    .radio-controls {
        margin-right: 15px;
    }
    .radio-next {
        background-color: #191a1e;
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
        padding: 23px;
    }
    .radio-previous {
        background-color: #191a1e;
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
        padding: 23px;
    }
    .radio-stop-play {
        background-color: #191a1e;
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
        padding: 40px;
    }
    .active-popup {
        display: flex;
    }
    .radio-music-list-item {
        background-color: rgba(0, 0, 0, 0.9);
        cursor: pointer;
        border: 1px solid #fd5b03;
        width: 100px;
        padding: 10px 5px;
        &:first-child {
            border-radius: 0 5px 5px 0;
        }
        &:last-child {
            border-radius: 5px 0 0 5px;
        }
         a{
             color: #fd5b03;
             text-decoration: none;
         }
    }
    .radio-music-list-name {
        span {
            color: #fd5b03;
            font-size: 14px;
        }
    }
    .mobile-folder {
        display: none;
        cursor: pointer;
    }
    .desktop-folder {
        display: block;
        cursor: pointer;
    }
}
