<!DOCTYPE html>
<!--
BeyondAdmin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.6
Version: 1.6.0
Purchase: https://wrapbootstrap.com/theme/beyondadmin-adminapp-angularjs-mvc-WB06R48S4
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Head -->
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>

    <meta name="description" content="Dashboard" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <partial name="_UserPanelHeaderReferences" />

    @await RenderSectionAsync("Styles", false)

</head>
<body>
    @await Component.InvokeAsync("UserPanelNavbar")
    <div class="main-container container-fluid">
        <div class="page-container">
          @*  @await Component.InvokeAsync("UserPanelSideBar")*@
            @await Component.InvokeAsync("UserPanelChatBar")
            <div class="page-content-User">
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <i class="menu-icon fa fa-globe"></i>                            
                            <a asp-area="" asp-controller="Home" asp-action="Index">  <span class="menu-text"> صفحه اصلی سایت </span></a>
                        </li>
                        <li>
                           
                            <a asp-area="UserPanel" asp-controller="Home" asp-action="Index">صفحه شخصی کاربر</a>
                        </li>
                        @RenderSection("Breadcrumb", true)
                    </ul>
                </div>
                <partial name="_UserPanelPageHeader" />
                <div class="page-body">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <partial name="_UserPanelFooterReferences" />

    <partial name="_Notification" />

    <partial name="_Modals" />

    @await RenderSectionAsync("Scripts", false)

</body>
</html>
