@model DoctorFAM.Domain.ViewModels.Admin.Speciality.CreateSpecialityViewModel

@using DoctorFAM.Domain.Entities.Speciality
@using DoctorFAM.Web.Culture
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "افزودن تخصص";
    var parentId = ViewBag.parentId != null ? (ulong)ViewBag.parentId : (ulong?)null;
    var parentSpeciality = ViewBag.parentSpeciality != null ? ViewBag.parentSpeciality as Speciality : null;
}

@section Scripts
{
<partial name="_JqueryValidation" />
}

@section Breadcrumb
{
<li>
    <a asp-area="Admin" asp-controller="Speciality" asp-action="ListOfSpeciality"> مدیریت تخصص ها / </a>
    <a href="javascript:void(0)"> @ViewData["Title"] </a>
</li>
}

<form method="post" asp-action="CreateSpeciality" asp-controller="Speciality" asp-area="Admin">
    <input type="hidden" asp-for="ParentId" />
    <div class="row">
        <div class="col-lg-9 col-sm-12">
            <div class="widget">
                <div class="widget-header bordered-bottom bordered-green">
                    @if (parentSpeciality != null)
                    {
                        <span class="widget-caption"> افزودن تخصص @parentSpeciality.UniqueName </span>
                    }
                    else
                    {
                        <span class="widget-caption"> افزودن تخصص  </span>
                    }

                </div>
                <div class="widget-body">
                    <div>

                        <div class="row">
                            <div class="form-group col-md-6 col-sm-12">
                                <label asp-for="UniqueName"></label>
                                <input type="text" class="form-control" asp-for="UniqueName">
                                <span class="text-danger" asp-validation-for="UniqueName"></span>
                            </div>

                            <div class="form-group col-md-6 col-sm-12">
                                <label asp-for="UniqueId">کلید یکتا</label>
                                <input type="text" class="form-control" asp-for="UniqueId">
                                <span class="text-danger" asp-validation-for="UniqueId"></span>
                            </div>

                        </div>

                        <hr class="margin-bottom-10 margin-top-10" />

                        @{
                            int i = 0;
                        }
                        @foreach (var language in ApplicationCultures.CultureItems)
                        {
                            <div class="card">
                                <div class="card-body">
                                    <input type="hidden" asp-for="SpecialityInfo[i].Culture" value="@language.CultureKey" />
                                    <h5 class="mb-4">
                                        تخصص ( @language.Title )
                                    </h5>
                                    <div class="form-group">
                                        <label>عنوان تخصص</label>
                                        <input class="form-control" asp-for="SpecialityInfo[i].Title" />
                                        <span asp-validation-for="SpecialityInfo[i].Title" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <hr class="margin-bottom-10 margin-top-10" />

                            <br />
                            i++;
                        }

                        <div class="row">
                            <div class="col-md-12 flex-style">
                                <button type="submit" class="btn btn-labeled btn-palegreen">
                                    <i class="btn-label glyphicon glyphicon-ok"></i>ثبت
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-12">
            <div class="row">

                <div class="col-lg-12">
                    <div class="widget">
                        <div class="widget-header bordered-bottom bordered-green">
                            <span class="widget-caption"> وضعیت </span>
                        </div>
                        <div class="widget-body">
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" asp-for="IsTitle">
                                                <span class="text">  عنوان نمایشی است  </span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" asp-for="IsSpeciality">
                                                <span class="text"> تخصص می باشد </span>
                                            </label>
                                        </div>
                                    </div>

                                              <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" asp-for="IsSuperSpeciality">
                                                <span class="text"> فوق تخصص می باشد </span>
                                            </label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</form>


