html {
    direction: rtl;
    height: 100%;
}

body {
    background-color: #ffffff;
    color: #272b41;
    direction: rtl;
    font-family: iransans-light, "Poppins",sans-serif;
    font-size: 0.9375rem;
    height: 100%;
    overflow-x: hidden;
    text-align: right;
}
/*-----------------
	9. Slick Slider
-----------------------*/

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

    .slick-list:focus {
        outline: none;
    }

    .slick-list.dragging {
        cursor: pointer;
    }

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    right: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

    .slick-track:before,
    .slick-track:after {
        display: table;
        content: '';
    }

    .slick-track:after {
        clear: both;
    }

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: right;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.slick-prev,
.slick-next,
.pharmacy-home-slider .swiper-button-prev,
.pharmacy-home-slider .swiper-button-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    box-shadow: 1px 6px 14px rgba(0,0,0,0.2);
    background: #fff;
    border-radius: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    background: #fff;
    z-index: 999;
}

    .slick-prev:hover,
    .slick-prev:focus,
    .slick-next:hover,
    .slick-next:focus,
    .pharmacy-home-slider .swiper-button-prev:hover,
    .pharmacy-home-slider .swiper-button-next:hover {
        background-color: #0de0fe;
        color: #fff;
        opacity: 1;
    }

        .slick-prev:hover:before,
        .slick-prev:focus:before,
        .slick-next:hover:before,
        .slick-next:focus:before,
        .pharmacy-home-slider .swiper-button-prev:hover:before,
        .pharmacy-home-slider .swiper-button-next:hover:before {
            color: #fff;
            opacity: 1;
        }

    .slick-prev.slick-disabled:before,
    .slick-next.slick-disabled:before {
        opacity: .25;
    }

    .slick-prev:before,
    .slick-next:before {
        font-family: 'slick';
        font-size: 20px;
        line-height: 1;
        opacity: .75;
        color: #383838;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

.slick-prev {
    left: 0;
    z-index: 1;
}

.pharmacy-home-slider .swiper-button-prev:after,
.pharmacy-home-slider .swiper-button-next:after {
    display: none;
}

.pharmacy-home-slider .swiper-button-prev:before {
    content: "→";
    color: #383838;
    height: 40px;
    font-size: 20px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}

.pharmacy-home-slider .swiper-button-next:before {
    content: "←";
    color: #383838;
    font-size: 20px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    height: 40px;
}

[dir='rtl'] .slick-prev {
    right: -25px;
    left: auto;
}

.slick-prev:before {
    content: "←";
}

[dir='rtl'] .slick-prev:before {
    content: "→";
}

.slick-next {
    right: 0;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: -25px;
}

.slick-next:before {
    content: "→";
}

[dir='rtl'] .slick-next:before {
    content: "←";
}

.pharmacy-home-slider {
    position: relative;
}

    .pharmacy-home-slider .swiper-container {
        position: relative;
        padding: 0 !important;
        height: 450px;
        min-height: inherit;
    }

        .pharmacy-home-slider .swiper-container:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 99;
            background-color: rgba(13, 13, 13, 0.33);
        }

    .pharmacy-home-slider .banner-wrapper {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        padding: 0 15px;
        z-index: 999;
    }

        .pharmacy-home-slider .banner-wrapper .banner-header h1,
        .pharmacy-home-slider .banner-wrapper .banner-header p,
        .pharmacy-home-slider .search-box .form-text {
            color: #fff;
        }

    .pharmacy-home-slider img {
        max-width: 100%;
        height: 100%;
    }

    .pharmacy-home-slider .swiper-pagination {
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        padding: 20px;
    }
