@{
    ViewData["Title"] = "Index";
}

@section Breadcrumb{
}

    <div class="page-body">

        <div class="row">

            @*List Of Future Reservation*@
            @await Component.InvokeAsync("FutureReservationsDetail")

            @*List Of Future Reservation*@
            @await Component.InvokeAsync("ListOfBMIHistory")

        </div>

    </div>
