@model DoctorFAM.Domain.ViewModels.DoctorPanel.OnlineVisit.CreateDoctorSelectedOnlineVisitShiftDateViewModel

@using DoctorFAM.Domain.ViewModels.Common
@using DoctorFAM.Application.StaticTools
@using DoctorFAM.Domain.ViewModels.DoctorPanel.OnlineVisit

@{
    ViewData["Title"] = "انتخاب شیفت ویزیت آنلاین شما";
}
@{
    var availableShiftsCheckBox = ViewData["availableShiftsCheckBox"] != null ? ViewData["availableShiftsCheckBox"] as List<ListOfAvailableShiftForSelectViewModel> : null;
}

@section Scripts
    {
    <partial name="_JqueryValidation" />
}

@section Breadcrumb
    {
    <li>
        <a asp-action="VisitOnLine" asp-controller="Home" asp-area="Doctor"> ویزیت آنلاین  </a>
    </li>
    <li>
        <a asp-action="ListOfDoctorWorkShifts" asp-controller="OnlineVisit" asp-area="Doctor"> لیست شیفت های ویزیت آنلاین  </a>
    </li>
}

<div class="row">
    <div class="col-lg-12 col-sm-12">

        <div class="widget">
            <div class="widget-header bordered-bottom bordered-green">
                <span class="widget-caption"> انتخاب شیفت های ویزیت آنلاین شما </span>
            </div>
            <div class="widget-body">
                <div>

                    <form asp-action="CreateDoctorSelectedOnlineVisitShiftDate" asp-controller="OnlineVisit" asp-area="Doctor" method="post">
                        <div class="modal-body">
                            <div class="row">
                                <div class="form-group col-md-3 col-sm-12"></div>

                                <div class="form-group col-md-6 col-sm-12 text-center">

                                    <label asp-for="SelectedDateTime">تاریخ حضور آنلاین شما (خواهشمندیم در انتخاب تاریخ دقت فرمایید.)</label>
                                    <input type="text" class="form-control" AdminDatePicker="1" style="z-index:9999!important;" asp-for="SelectedDateTime">
                                    <span class="text-danger" asp-validation-for="SelectedDateTime"></span>

                                    <hr />

                                    @if (availableShiftsCheckBox is not null)
                                    {
                                        <div class="flex-style-center">
                                            @foreach (var item in availableShiftsCheckBox)
                                            {
                                                <label>
                                                    <input type="checkbox" name="usersId" value="@item.ShiftId">
                                                    <span class="text">@item.ShiftName</span>
                                                </label>
                                            }
                                        </div>
                                    }
                                    <hr />

                                    <button type="submit" class="btn btn-success">ثبت</button>
                                </div>

                                <div class="form-group col-md-3 col-sm-12">
                                </div>

                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
