@model List<DoctorFAM.Domain.Entities.HealthInformation.HealthInformation>
@using DoctorFAM.Application.StaticTools
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.Convertors

@if (Model != null && Model.Any())
{
    <div class=" mt-5  pl-3 pr-3">
        <div class="row mt-3 text-center justify-content-center">
            <div class="col-lg-3 col-md-3">
                <div class="section-title">
                    <img src="~/Content/Radio/images/icons8.png" />
                    <h6> رادیو فم </h6>
                    <p class="title"> <b>رادیو فم</b> هر روز یک برنامه جدید در زمینه پزشکی و سلامت برای شما مخاطب عزیز ارائه میکند. </p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6  mt-1">
                <div id="radio" class="container-fluid">
                    <div class="container">
                        <div class="radio-content text-center justify-content-center">
                            <div class="radio-right text-center justify-content-center">
                                <div class="radio-equalizer">
                                    <div id='music-bars' class="">
                                        <span class="four"></span>
                                        <span class="three"></span>
                                        <span class="one"></span>
                                        <span class="two"></span>
                                        <span class="four"></span>
                                        <span class="three"></span>
                                        <span class="one"></span>
                                        <span class="two"></span>
                                        <span class="four"></span>
                                        <span class="three"></span>
                                        <span class="one"></span>
                                        <span class="two"></span>
                                        <span class="four"></span>
                                        <span class="three"></span>
                                        <span class="one"></span>
                                        <span class="two"></span>
                                        <span class="four"></span>
                                        <span class="three"></span>
                                        <span class="one"></span>
                                        <span class="two"></span>
                                        <span class="four"></span>
                                        <span class="three"></span>
                                        <span class="one"></span>
                                        <span class="two"></span>
                                        <span class="four"></span>
                                        <span class="three"></span>
                                        <span class="one"></span>
                                        <span class="two"></span>
                                    </div>
                                </div>
                                <div class="radio-audio">
                                    <audio src="" preload="none"></audio>
                                </div>
                            </div>
                            <div class="radio-left text-center justify-content-center">
                                <div class="radio-controls text-center justify-content-center">
                                    <div class="radio-next">
                                        <i class="mt-3 bi bi-chevron-bar-right radio-next-prev-icon"></i>
                                    </div>
                                    <div class="radio-stop-play">
                                        <i class="mt-3 bi bi-play-fill radio-play-icon"></i>
                                    </div>
                                    <div class="radio-previous">
                                        <i class=" mt-3 bi bi-chevron-bar-left radio-next-prev-icon"></i>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mt-1 ">
                <ul class="music-list">
                    <div class="row">
                        @*  <!-- <div class="col-6">
                    <li class="music-list-item" onclick="playListMusic(event)">
                    <span class="radio-music-list-name">${musicName}</span>
                    <div class="radio-music-list-audio" data-audio-src="${musicSrc}" data-id="${index}"></div>
                    </li>
                    </div> -->*@
                    </div>
                </ul>
            </div>

        </div>
       
    </div>
}

