@model DoctorFAM.Domain.ViewModels.DoctorPanel.Dashbaord.DoctorPanelDashboardViewModel

@section Breadcrumb {
    <li class="active">@SharedHtmlLocalizer["Home"]</li>
}

@await Component.InvokeAsync("DoctorsInfos")


    <div class="page-body">
         <div class="row text-center ">
            
            
                <a asp-area="Doctor" asp-controller="IncomeSystem" asp-action="ListOfYourUsers" class="exlStyle btn btn-primary">برای ارسال پیامک به لیست زیر این کلید را فشار دهید</a>
            
        </div>

        <div class="row">           
            <partial name="_ListUserParsaSystemThatDidntSendSMSTOThem" model="@Model.UserNotSendSMS" />
            
            @*<partial name="_ListUserParsaSystemThatSentSMSTOThem" model="@Model.UserSendSMS" />   *@       
        </div>

    </div>