@{
    ViewData["Title"] = @Localizer["List Of Population Covered"];
}

@section Scripts
{
<partial name="_JqueryValidation" />
}

@section Breadcrumb
{
<li>
    <a asp-action="Index" asp-controller="Home" asp-area="Doctor"> @Localizer["Docotr Panel"] </a>
</li>
<li>
    <a href="javascript:void(0)"> @ViewData["Title"] </a>
</li>
}

<partial name="_DoctorPanelNotFoundPartial" />

