@model DoctorFAM.Domain.ViewModels.Site.Diabet.GFRViewModel

<form id="GFRForm" asp-action="ProcessGFR" asp-controller="Diabet" asp-area="">
    <h5 class="modal-title" id="exampleModalLabel">محاسبه ی GFR </h5>

    <div class="modal-body">
        <div class="row">

            <div class="form-group col-md-12 col-sm-12">
                <label asp-for="Gender">جنسیت</label>
                <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList(typeof(DoctorFAM.Domain.Enums.Gender.Gender))"></select>
            </div>

            <div class="form-group col-md-12 col-sm-12">
                <label asp-for="Weight">وزن (برحسب کیلوگرم)</label>
                <input type="number" min="0" class="form-control" asp-for="Weight">
                <span class="text-danger" asp-validation-for="Weight"></span>
            </div>

             <div class="form-group col-md-12 col-sm-12">
                <label asp-for="Age">سن</label>
                <input type="number" min="0" class="form-control" asp-for="Age">
                <span class="text-danger" asp-validation-for="Age"></span>
            </div>

            <div class="form-group col-md-12 col-sm-12">
                <label asp-for="Keratenin">کراتنین خون</label>
                <input type="number" min="0" class="form-control" asp-for="Keratenin">
                <span class="text-danger" asp-validation-for="Keratenin"></span>
            </div>

            <hr />

            <div class="footer">
                <button type="submit" style="padding-top: 10px;padding-bottom: 10px;padding-right: 20px;padding-left: 20px;" class="btn-SelfTest">ثبت</button>
                <button type="button" style="padding-top: 10px;padding-bottom: 10px;padding-right: 20px;padding-left: 20px;" class="btn-SelfTest" data-dismiss="modal">بستن</button>
            </div>

        </div>
    </div>

</form>
