@model DoctorFAM.Domain.ViewModels.Site.Diabet.SelfAssessmentSiteSideViewModel

@{
    var diabetRiskFactors = ViewBag.RisksFields as List<DoctorFAM.Domain.Entities.PeriodicSelfEvaluatuion.DiabetRiskFactorQuestions>;
}

<form id="PriodicSelfEvaluationForm" asp-action="ProcesSelfAssessment" asp-controller="Diabet" asp-area="">
    <h5 class="modal-title" id="exampleModalLabel"> خود ارزیابی دوره ای</h5>

    <div class="row">

        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label">آیا شما مبتلا به دیابت هستید؟</label>
                <select id="HasDiabet" class="form-control">
                    <option value="0">انتخاب کنید</option>
                    <option value="1">بله </option>
                    <option value="2">خیر</option>
                </select>
            </div>
        </div>
        <div class="col-md-12 d-none" id="DiabetHelp1-div">
            <div class="widget ">
                <div class="sidebar-links">
                    <ul class="list-unstyled ">
                        <li>
                            <p id="DiabetHelp1" class="link-text"> کاربر گرامی ! شما می توانید از بخش هشدار معاینات دوره ای، آزمایشهای دوره ای و مصرف دارو برای کنترل بهتر بیماری دیابت خود اقدام کنید. </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-12 d-none" id="RequestFor3MonthLater-div">
            <div class="form-group">
                <label class="control-label">
                    آیا در 3ماه گذشته آزمایش های مربوط به بررسی قند خون را انجام داده اید؟
                </label>
                <select id="RequestFor3MonthLater" class="form-control">
                    <option value="0">انتخاب کنید</option>
                    <option value="1">بله </option>
                    <option value="2">خیر</option>
                </select>
            </div>
        </div>
        <div class="col-md-12 d-none" id="DoctorFathi-div">
            <div class="form-group">
                <label class="control-label">
                    نتیجه ی آخرین آزمایش قند خون ناشتای صبح(FBS)
                </label>
                <input class="form-control" min="0" asp-for="FBS"/>
            </div>

               <div class="form-group">
                <label class="control-label">
                    نتیجه ی آخرین آزمایش قند خون 2 ساعت پس از صبحانه(2hpp)
                </label>
                <input class="form-control" min="0" asp-for="Twohpp"/>
            </div>

            <div class="form-group">
                <label class="control-label">
                    نتیجه ی آخرین آزمایش هموگلوبین ای وان سی(A1c)
                </label>
                <input class="form-control" type="number" step="0.1" value="0.0" asp-for="A1C" />
            </div>
        </div>
        <div class="col-md-12 d-none" id="HowYearsOld-div">
            <div class="form-group">
                <label class="control-label">
                    سن شما در چه بازه ای است ؟
                </label>
                <select id="HowYearsOld" class="form-control">
                    <option value="0">انتخاب کنید</option>
                    <option value="1">بیشتر از 35 سال </option>
                    <option value="2">کمتر از 35 سال</option>
                </select>
            </div>
        </div>
        <div class="col-md-12 d-none" id="DiabetRiskFactorFields-div">
            <div class="form-group">

                <label class="control-label">آیا شما به حداقل یکی از موارد زیر مبتلا هستید؟</label>

                @if (diabetRiskFactors != null && diabetRiskFactors.Any())
                {
                    foreach (var item in diabetRiskFactors)
                    {
                        <p>-@item.Title</p>
                    }
                }

            </div>
            <div class="form-group">
                <select id="QuestionOfDiabetRiskFactor" class="form-control">
                    <option value="0">انتخاب کنید</option>
                    <option value="1">بله </option>
                    <option value="2">خیر</option>
                </select>
            </div>
        </div>
        <div class="col-md-12 d-none" id="EmergancyFBS-div">
            <div class="widget ">
                <div class="sidebar-links">
                    <ul class="list-unstyled ">
                        <li>
                            <p id="DiabetHelp1" class="link-text">
                                حتما در اسرع وقت نسبت به انجام آزمایش قند خون ناشتا

                                (FBS) اقدام  و سپس این خود ارزیابی را تکرار نمایید.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-12 d-none" id="FBSTest-div">
            <div class="widget ">
                <div class="sidebar-links">
                    <ul class="list-unstyled ">
                        <li>
                            <p id="DiabetHelp1" class="link-text">
                                حتما در اسرع وقت نسبت به انجام آزمایش قند خون ناشتا

                                (FBS) اقدام  و سپس این خود ارزیابی را تکرار نمایید.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-12 d-none" id="FBSTest-div">
            <div class="widget ">
                <div class="sidebar-links">
                    <ul class="list-unstyled ">
                        <li>
                            <p id="DiabetHelp1" class="link-text">
                                حتما در اسرع وقت نسبت به انجام آزمایش قند خون ناشتا

                                (FBS) اقدام  و سپس این خود ارزیابی را تکرار نمایید.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-12 d-none" id="NoFBSTest-div">
            <div class="widget ">
                <div class="sidebar-links">
                    <ul class="list-unstyled ">
                        <li>
                            <p id="DiabetHelp1" class="link-text">
                                لطفا یکسال بعد مجددا این ارزیابی را تکرار کنید .
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="row d-none" id="Submit-div">
        <div class="col-md-12 mt-4 text-center">
            <div class="form-group">
                <input type="submit" value="محاسبه" class="btn-Accept" />
            </div>
        </div>
    </div>

</form>
