@{
    ViewBag.Title = "فعالیت بدنی و دیابت";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="section section-featurebox">
    <div class="row   ">
        <div class="col-md-3 page-breadcrumbs mr-4">
            <i class="menu-icon fa fa-globe"></i>
            <a asp-area="" asp-controller="Home" asp-action="Index">  <span class="menu-text"> صفحه اصلی سایت </span></a>
            <span>/</span>
            <a asp-area="" asp-controller="Diabet" asp-action="Index">بازگشت به صفحه دیابت</a>
        </div>
        <div class="col-md-6   text-center  text-align-justify ">


        </div>
        <div class="col-md-3 "></div>
    </div>
    <div class="container">
        <div class="section-header text-center">
            <h2>
                فعالیت بدنی و دیابت
            </h2>

        </div>

        <div class="row justify-content-center ">
            <div class="feature-col-list">
                <div class="feature-colDiabet">
                    <div class="feature-subox2 d-flex flex-wrap justify-content-center">
                        <img src="~/Content/images/PagesPic/DiabetAndActivity.bmp" class="img-fluid" alt="Features">

                        <p class="sub-title text-justify p-2 m-3" style="font-size:18px; color:#2264c5">
                            فعالیت بدنی منظم، همراه با رژیم غذایی و داروها، بخش مهمی در مدیریت دیابت یا برخورد با پیش دیابت است.
                            ورزش قطعا باعث می شود احساس بهتری داشته باشید. هر آنچه باعث افزایش فعالیت بدنی گردد مانند پیاده روی های منظم یا ثبت نام در یک گروه ورزشی تاثیرگذار است. به یاد داشته باشید حتی تغییرات کم، تفاوتهای بزرگی ایجاد می کند.
                            شروع کنید، اما بهتر است با خیال راحت شروع کنید، بنابراین، برنامه ورزشی خود را به پزشکتان اطلاع دهید. برنامه ورزشی باید با برنامه غذائی، داروئی و شرایط جسمی شما هماهنگ باشد.
                            مشاورین دیابت دکترفم در این مسیر راهنمائی های لازم را به شما ارائه می دهند.

                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>