@{
    ViewData["Title"] = "دیابت";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var bmiResult = ViewBag.bmiResult != null ? (int)ViewBag.bmiResult : 0;
    var GFRResult = ViewBag.gfrResult != null ? (decimal)ViewBag.gfrResult : 0;
}

@section Scripts{
<partial name="_JqueryValidation" />
<script src="~/Site/js/BMI.js"></script>
}

<div class="m-2  pr-3">
    <div class="row text-center ">
        <div class="col-lg-2 col-md-2 col-sm-12 justify-content-center text-center ">
            <div class="section-title mb-0">
                @* <h2 class="title">  دیابت </h2>*@
                <img src="~/Content/images/case-studies/DiabetTitle.png" />
            </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12 justify-content-center text-center ">
            <img src="~/Content/images/case-studies/diabetbanner.jpeg" style="width:100% !important ;height:65px;" />

        </div>
    </div>
</div>

<div class="m-2 pl-3 pr-3">
    <div class="row text-center">

        @*  <div class="col-lg-2 col-md-2 col-sm-12 mt-2 fbDivBor  justify-content-center text-center">
            <a class="btn-SelfTest mt-3 "> خودارزیابی دوره ای  </a>
            <div class="widget rounded widgetdiv m-1 mt-5 mb-5">
            <div class="widget-contact  px-3 py-3 xs-px-2 xs-py-2 text-white text-center" data-bg-img="/Content/images/case-studies/DiabeteGroup.jpg" data-overlay="6">


            <h5>راهنمای بخش</h5>
            <h4>دیابت دکترفم</h4>

            <a class="btn " href="contact-1.html"><span> تماس بگیرید </span></a>
            </div>
            </div>
            <div class="widget rounded widgetdiv m-1 mt-5 mb-5">
            <div class="widget-contact  px-3 py-3 xs-px-2 xs-py-2 text-white text-center" data-bg-img="/Content/images/case-studies/Diabete.jpg" data-overlay="6">
            <h5>مشاورین</h5>
            <h4>دیابت دکترفم</h4>
            <a class="btn " href="#DiabeteConsult"><span> مشاهده لیست </span></a>
            </div>
            </div>

            <div class="widget rounded widgetdiv m-1 mt-5">
            <div class="widget-contact  px-3 py-3 xs-px-2 xs-py-2 text-white text-center" data-bg-img="/Content/images/case-studies/DiabeteGroup.jpg" data-overlay="6">
            <h5>متخصصین</h5>
            <h4>دیابت دکترفم</h4>
            <a class="btn " href="#DiabeteTeam"><span> مشاهده لیست </span></a>
            </div>
            </div>
            <a class="btn-SelfTest mt-5 "> غرفه دیابت  </a>
            </div>*@
        <div class="col-lg-12 col-md-12 col-sm-12 justify-content-center text-center">
            <div class="tab  grey-bg ">

                <div class="row">
                    <div class="col-md-12">
                        <!-- Tab panes -->
                        <div class="tab-content section-title" id="nav-tabContent">
                            <div role="tabpanel" class=" col-md-12 fade show active" id="tab1-1">
                                <h4 class="title">ارزیابی اولیه </h4>
                                <h6> با استفاده از سرویسهای جانبی سامانه, بدون نیاز به مراجعه به پزشک, پیوسته وضعیت سلامت خود را ارزیابی نمایید. </h6>
                                <div class="row">




                                    <div class="col-xl-3  ">
                                        <div class="gauge">
                                            <canvas data-type="radial-gauge" data-width="280" data-height="280" data-units="Km/h"
                                                    data-title="false" data-value="@GFRResult" data-animate-on-init="true" data-animated-value="true"
                                                    data-min-value="0" data-max-value="120" data-major-ticks="0,20,40,60,80,100,120"
                                                    data-minor-ticks="5" data-stroke-ticks="false" data-highlights='[
                        { "from": 0, "to": 15, "color": "rgba(143,1,1)" },
                        { "from": 15, "to": 30, "color": "rgba(247,10,10)" },
                        { "from": 30, "to": 45, "color": "rgba(247,125,10)" },
                        { "from": 45, "to": 60, "color": "rgba(247,228,10)" },
                        { "from": 60, "to": 90, "color": "rgba(69,247,10)" },
                        { "from": 90, "to": 120, "color": "rgba(44,171,2)" }

                    ]' data-color-plate="transparent" data-color-major-ticks="black" data-color-minor-ticks="0d0d0d"
                                                    data-color-title="#fff" data-color-units="#000" data-color-numbers="#000"
                                                    data-color-needle-start="red" data-color-needle-end="red" data-value-box="true"
                                                    data-animation-rule="bounce" data-animation-duration="500" data-border-outer-width="0"
                                                    data-border-middle-width="0" data-border-inner-width="0"></canvas>
                                        </div>


                                        <div>

                                            <span>
                                                مراقبت دوره ای
                                            </span>
                                        </div>
                                        <button onclick="ShowGFRModal()" type="button" class="btn-SelfTest" data-toggle="modal" data-target="#exampleModal">
                                            خودارزیابی دوره ای
                                        </button>

                                    </div>






                                    <div class="col-xl-3  ">
                                        <div class="gauge">
                                            <canvas data-type="radial-gauge" data-width="280" data-height="280" data-units="ASCVD"
                                                    data-title="false" data-value="0" data-animate-on-init="true" data-animated-value="true"
                                                    data-min-value="0" data-max-value="120" data-major-ticks="0,20,40,60,80,100,120"
                                                    data-minor-ticks="5" data-stroke-ticks="false" data-highlights='[
                        { "from": 0, "to": 40, "color": "rgba(0,255,0)" },
                        { "from": 40, "to": 80, "color": "rgba(255,255,0)" },
                        { "from": 80, "to": 120, "color": "rgba(255,30,0)" }

                    ]' data-color-plate="transparent" data-color-major-ticks="black" data-color-minor-ticks="0d0d0d"
                                                    data-color-title="#fff" data-color-units="#000" data-color-numbers="#000"
                                                    data-color-needle-start="red" data-color-needle-end="red" data-value-box="true"
                                                    data-animation-rule="bounce" data-animation-duration="500" data-border-outer-width="0"
                                                    data-border-middle-width="0" data-border-inner-width="0"></canvas>


                                        </div>
                                        <div>

                                            <span>
                                                خطرسنجی قلبی عروقی
                                            </span>
                                        </div>

                                        <button class="btn-SelfTest">
                                            محاسبه ASCVD
                                            <span style="font-size: 12px; ">(به زودی)</span>
                                        </button>

                                    </div>








                                    <div class="col-xl-3  ">
                                        <div class="gauge">
                                            <canvas data-type="radial-gauge" data-width="280" data-height="280" data-units="Km/h"
                                                    data-title="false" data-value="@GFRResult" data-animate-on-init="true" data-animated-value="true"
                                                    data-min-value="0" data-max-value="120" data-major-ticks="0,20,40,60,80,100,120"
                                                    data-minor-ticks="5" data-stroke-ticks="false" data-highlights='[
                        { "from": 0, "to": 15, "color": "rgba(143,1,1)" },
                        { "from": 15, "to": 30, "color": "rgba(247,10,10)" },
                        { "from": 30, "to": 45, "color": "rgba(247,125,10)" },
                        { "from": 45, "to": 60, "color": "rgba(247,228,10)" },
                        { "from": 60, "to": 90, "color": "rgba(69,247,10)" },
                        { "from": 90, "to": 120, "color": "rgba(44,171,2)" }

                    ]' data-color-plate="transparent" data-color-major-ticks="black" data-color-minor-ticks="0d0d0d"
                                                    data-color-title="#fff" data-color-units="#000" data-color-numbers="#000"
                                                    data-color-needle-start="red" data-color-needle-end="red" data-value-box="true"
                                                    data-animation-rule="bounce" data-animation-duration="500" data-border-outer-width="0"
                                                    data-border-middle-width="0" data-border-inner-width="0"></canvas>
                                        </div>


                                        <div>

                                            <span>
                                                عملکرد کلیه
                                            </span>
                                        </div>
                                        <button onclick="ShowGFRModal()" type="button" class="btn-SelfTest" data-toggle="modal" data-target="#exampleModal">
                                            محاسبه GFR
                                        </button>

                                    </div>







                                    <div class="col-xl-3  ">
                                        <div class="gauge">
                                            <canvas data-type="radial-gauge" data-width="280" data-height="280" data-units="BMI"
                                                    data-title="false" data-value="@bmiResult" data-animate-on-init="true" data-animated-value="true"
                                                    data-min-value="0" data-max-value="60" data-major-ticks="0,20,30,40,50,60"
                                                    data-minor-ticks="5" data-stroke-ticks="false" data-highlights='[



                        { "from": 0, "to": 20, "color": "rgba(0,0,255)" },
                        { "from": 20, "to": 30, "color": "rgba(255,255,0)" },
                        { "from": 30, "to": 40, "color": "rgba(0,255,0)" },
                        { "from": 40, "to": 50, "color": "rgba(255,120,0)" },
                        { "from": 50, "to": 60, "color": "rgba(255,0,0)" }


                    ]' data-color-plate="transparent" data-color-major-ticks="black" data-color-minor-ticks="0d0d0d"
                                                    data-color-title="#fff" data-color-units="#000" data-color-numbers="#000"
                                                    data-color-needle-start="red" data-color-needle-end="red" data-value-box="true"
                                                    data-animation-rule="bounce" data-animation-duration="500" data-border-outer-width="0"
                                                    data-border-middle-width="0" data-border-inner-width="0"></canvas>
                                        </div>
                                        <div>

                                            <span>
                                                شاخص توده بدنی
                                            </span>
                                        </div>
                                        <button onclick="ShowBMIModal()" type="button" class="btn-SelfTest" data-toggle="modal" data-target="#exampleModal">
                                            محاسبه BMI
                                        </button>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <section class=" mt-3">
                    <div class=" col-md-12 fade show active section-title">
                        <h4 class="title">معرفی </h4>

                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="select-box aos m-3" data-aos="fade-up">
                                    <div class="d-flex align-items-center">
                                        <div class="image-holder">
                                            <span>
                                                <img src="~/Content/Doctor/assets/img/icons/consultant3.png" alt="" />
                                            </span>
                                        </div>
                                        <div>
                                            <h2 style="color:#fd5b03 !important;">مشاورین </h2>
                                            <h2>دیابت دکترفم </h2>
                                            <div class="row">
                                                <div class="col-md-5"></div>
                                                <div class="col-md-7 text-center justify-content-center">
                                                    <a asp-action="ListOfDiabetConsultants" asp-controller="Diabet" asp-area="" class="book-now  hover-icon">مشاهده </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="select-box theme aos m-3" data-aos="fade-up">
                                    <div class="d-flex align-items-center">
                                        <div class="image-holder">
                                            <span>
                                                <img src="~/Content/Doctor/assets/img/icons/doct-01.png" alt="" />
                                            </span>
                                        </div>
                                        <div>
                                            <h2 style="color:#fd5b03 !important;">متخصصین</h2>
                                            <h2>دیابت دکترفم </h2>
                                            <div class="row">
                                                <div class="col-md-5"></div>
                                                <div class="col-md-7 text-center justify-content-center">
                                                    <a asp-action="ListOfDiabetSpecialities" asp-controller="Diabet" asp-area="" class="book-now  hover-icon">مشاهده </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="select-box theme2 aos m-3" data-aos="fade-up">
                                    <div class="d-flex align-items-center">
                                        <div class="image-holder">
                                            <span>
                                                <img src="~/Content/Doctor/assets/img/icons/mall2.png" alt="" />
                                            </span>
                                        </div>
                                        <div>
                                            <h2 style="color:#fd5b03 !important;">غرفه</h2>
                                            <h2>دیابت دکترفم </h2>
                                            <div class="row">
                                                <div class="col-md-5"></div>
                                                <div class="col-md-7 text-center justify-content-center">
                                                    <a class="book-now  hover-icon" asp-action="CentersIntrud" asp-controller="Home">مشاهده</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


                <div class="row mt-5">
                    <div class="mt-2 col-md-12 fade show active section-title">
                        <h4 class="title">خدمات </h4>
                        <h6>
                            با استفاده از خدمات این بخش از سامانه برخی از امور مربوط به پیشگیری, مراقبت, کنترل و یا درمان بیماری دیابت را برای خود فعال نمایید.
                        </h6>
                    </div>
                    <div class="col-md-4">
                        <div class="cases-item text-center">
                            <a class=" hover-icon">
                                <div class="cases-images">
                                    <img class="img-fluid rounded box-shadow" src="~/Content/images/case-studies/PeriodicCheck.jpg" alt="">
                                </div>
                                <div class="cases-desc">
                                    <h5>هشدار انجام معاینات دوره ای (به زودی ...) </h5>

                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="cases-item text-center">
                            <a class=" hover-icon">
                                <div class="cases-images">
                                    <img class="img-fluid rounded box-shadow" src="~/Content/images/case-studies/Lab.jpg" alt="">
                                </div>
                                <div class="cases-desc">
                                    <h5>هشدار انجام آزمایشها (به زودی ...) </h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="cases-item text-center">
                            <a class=" hover-icon">
                                <div class="cases-images">
                                    <img class="img-fluid rounded box-shadow" src="~/Content/images/case-studies/PharmAlarm.jpg" alt="">
                                </div>
                                <div class="cases-desc">
                                    <h5>هشدار مصرف دارو (به زودی ...) </h5>

                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row mt-2 pl-3 pr-3">
    <div class="col-md-6 ">
        <div class="widget ">
            <div class="sidebar-links">
                <ul class="list-unstyled ">
                    <li>
                        <a><span class="link-icon link-arrow"></span><p class="link-text"> تغذیه و دیابت </p> </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6 ">
        <div class="widget ">
            <div class="sidebar-links">
                <ul class="list-unstyled ">

                    <li>
                        <a><span class="link-icon link-arrow"></span> <p class="link-text">  فعالیت بدنی و دیابت </p> </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    @* <div class="col-md-3 ">
        <div class="widget ">
        <div class="sidebar-links">
        <ul class="list-unstyled ">

        <li>
        <a asp-action="HomePharmacy" asp-controller="HomePharmacy"><span class="link-icon link-arrow"></span><p class="link-text"> سفارش دارو </p> </a>
        </li>
        </ul>
        </div>
        </div>
        </div>
        <div class="col-md-3 ">
        <div class="widget ">
        <div class="sidebar-links">
        <ul class="list-unstyled ">

        <li>
        <a asp-action="HomePharmacy" asp-controller="HomePharmacy"><span class="link-icon link-arrow"></span><p class="link-text"> غرفه دیابت </p> </a>
        </li>
        </ul>
        </div>
        </div>
        </div>*@
</div>

<div class="container mt-5  pl-3 pr-3">
    <div class="row mt-5 text-center">
        <div class="col-lg-12 col-md-12  text-center ">
            <div class="section-title">
                <h2 class="title"> آموزشها </h2>
                <h6>  آنچه برای پیشگیری از ابتلا به دیابت و یا پس از ابتلا، برای مراقبت و درمان نیاز دارید. </h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 ">
            <div class="card search-filter">
                <div class="card-header">
                    <h5 class="card-title mb-0">موضوعات آموزشی</h5>
                </div>
                <div class="card-body">
                    <div class="filter-widget">

                        <div>
                            <label class="custom_check">
                                <input type="checkbox" name="select_specialist" checked>
                                <span class="checkmark"></span> بیماری دیابت
                            </label>
                        </div>
                        <div>
                            <label class="custom_check">
                                <input type="checkbox" name="select_specialist" checked>
                                <span class="checkmark"></span> پره دیابت
                            </label>
                        </div>
                        <div>
                            <label class="custom_check">
                                <input type="checkbox" name="select_specialist">
                                <span class="checkmark"></span> دیابت بارداری
                            </label>
                        </div>
                        <div>
                            <label class="custom_check">
                                <input type="checkbox" name="select_specialist">
                                <span class="checkmark"></span> عوارض دیابت
                            </label>
                        </div>
                        <div>
                            <label class="custom_check">
                                <input type="checkbox" name="select_specialist">
                                <span class="checkmark"></span> درمان
                            </label>
                        </div>
                        <div>
                            <label class="custom_check">
                                <input type="checkbox" name="select_specialist">
                                <span class="checkmark"></span> تغذیه و دیابت
                            </label>
                        </div>
                        <div>
                            <label class="custom_check">
                                <input type="checkbox" name="select_specialist">
                                <span class="checkmark"></span> فعالیت بدنی و دیابت
                            </label>
                        </div>
                        <div>
                            <label class="custom_check">
                                <input type="checkbox" name="select_specialist">
                                <span class="checkmark"></span> مسافرت و دیابت
                            </label>
                        </div>
                        <div>
                            <label class="custom_check">
                                <input type="checkbox" name="select_specialist">
                                <span class="checkmark"></span> رمضان و دیابت
                            </label>
                        </div>
                        <div>
                            <label class="custom_check">
                                <input type="checkbox" name="select_specialist">
                                <span class="checkmark"></span> سالمندی و دیابت
                            </label>
                        </div>
                        <div>
                            <label class="custom_check">
                                <input type="checkbox" name="select_specialist">
                                <span class="checkmark"></span> بارداری و دیابت
                            </label>
                        </div>
                        <div>
                            <label class="custom_check">
                                <input type="checkbox" name="select_specialist">
                                <span class="checkmark"></span> پوشاک و دیابت
                            </label>
                        </div>
                    </div>
                    <div class="btn-search">
                        <button type="button" class=" btn-Accept w-100">جستجو</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8 align-items-center text-center">
                    <div id="radio" class="container-fluid">
                        <div class="container">
                            <div class="radio-content">
                                <div class="radio-right">
                                    <div class="radio-equalizer">
                                        <div id='music-bars' class="">
                                            <span class="four"></span>
                                            <span class="three"></span>
                                            <span class="one"></span>
                                            <span class="two"></span>
                                            <span class="four"></span>
                                            <span class="three"></span>
                                            <span class="one"></span>
                                            <span class="two"></span>
                                            <span class="four"></span>
                                            <span class="three"></span>
                                            <span class="one"></span>
                                            <span class="two"></span>
                                            <span class="four"></span>
                                            <span class="three"></span>
                                            <span class="one"></span>
                                            <span class="two"></span>
                                            <span class="four"></span>
                                            <span class="three"></span>
                                            <span class="one"></span>
                                            <span class="two"></span>
                                            <span class="four"></span>
                                            <span class="three"></span>
                                            <span class="one"></span>
                                            <span class="two"></span>
                                            <span class="four"></span>
                                            <span class="three"></span>
                                            <span class="one"></span>
                                            <span class="two"></span>
                                        </div>
                                    </div>
                                    <div class="radio-audio">
                                        <audio src="~/Content/Radio/music/experience.mp3" preload="none"></audio>
                                    </div>
                                </div>
                                <div class="radio-left">
                                    <div class="radio-folder">
                                        <i class="material-icons">folder_open</i>
                                    </div>
                                    <div class="radio-music-list-popup">
                                        <div class="radio-music-list-item">
                                            <a href="#">مشاهده همه</a>
                                        </div>
                                    </div>
                                    <div class="radio-controls">
                                        <div class="radio-next">
                                        </div>
                                        <div class="radio-stop-play">
                                        </div>
                                        <div class="radio-previous">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>

            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8 align-items-center">
                    <div class="video">
                        <video controls>
                            <source src="~/Content/Video/Bardari1.mp4" type="video/mp4">
                        </video>
                        <div class="overlay">
                            <img src="~/Content/images/tv-png-18664.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row ">
                <div class="col-4"></div>
                <div class="col-4 mt-4 mb-5 "></div>
                <div class="col-4"></div>
            </div>
        </div>
        <div class="col-md-2 align-items-center text-center p-2 ">
            <img src="~/Content/images/bg/Diabet-ADS.jpg" style="width:190px !important;" />
        </div>
    </div>


</div>


@*<section class=" pt-0">

    <div class="row ">
    <div class="col-4"></div>
    <div class="col-4 mt-2 mb-2 linediv" id="DiabeteTeam"></div>
    <div class="col-4"></div>
    </div>
    </section>

    <section class="mt-3 pt-0">
    <div class="container">
    <div class="row mb-3">
    <div class="col-md-12">
    <div class="section-title text-center mb-3">

    <h2 class="title"> متخصصین دیابت دکتر فم </h2>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-12 text-center">
    <div class="owl-carousel" data-items="5" data-md-items="4" data-margin="30" data-sm-items="2" data-autoplay="true">
    <div class="item">
    <div class="team-member style-1">
    <div class="team-images">
    <img class="img-fluid" src="~/Content/images/team/05.jpg" alt="">
    <div class="team-social-icon">
    <ul>
    <li>
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    </li>
    <li>
    <a href="#"><i class="fab fa-twitter"></i></a>
    </li>
    <li>
    <a href="#"><i class="fab fa-google-plus-g"></i></a>
    </li>
    <li>
    <a href="#"><i class="fab fa-linkedin-in"></i></a>
    </li>
    </ul>
    </div>
    </div>
    <div class="team-description">
    <span><a href="/FocalPoint/DocPage"> دکتــــــر  عذرا اخی </a></span>
    <span> فوق تخصص غدد داخلی و متابولیسم </span>
    </div>
    </div>
    </div>
    <div class="item">
    <div class="team-member style-1">
    <div class="team-images">
    <img class="img-fluid" src="~/Content/images/team/05.jpg" alt="">
    <div class="team-social-icon">
    <ul>
    <li>
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    </li>
    <li>
    <a href="#"><i class="fab fa-twitter"></i></a>
    </li>
    <li>
    <a href="#"><i class="fab fa-google-plus-g"></i></a>
    </li>
    <li>
    <a href="#"><i class="fab fa-linkedin-in"></i></a>
    </li>
    </ul>
    </div>
    </div>
    <div class="team-description">
    <span><a href="team-single.html"> دکتر شاهین‌رسولی </a></span>
    <span> پزشک خانواده </span>
    </div>
    </div>
    </div>
    <div class="item">
    <div class="team-member style-1">
    <div class="team-images">
    <img class="img-fluid" src="~/Content/images/team/05.jpg" alt="">
    <div class="team-social-icon">
    <ul>
    <li>
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    </li>
    <li>
    <a href="#"><i class="fab fa-twitter"></i></a>
    </li>
    <li>
    <a href="#"><i class="fab fa-google-plus-g"></i></a>
    </li>
    <li>
    <a href="#"><i class="fab fa-linkedin-in"></i></a>
    </li>
    </ul>
    </div>
    </div>
    <div class="team-description">
    <span><a href="team-single.html"> دکتر یاسرقزوینی </a></span>
    <span> پزشک خانواده </span>
    </div>
    </div>
    </div>

    </div>
    <a class="btn btn-acc  ml-sm-3 hover-icon p-3 text-center" asp-action="TeleFamItems" asp-controller="Home">
    <span class="p-5"> بیشتر    </span>
    </a>
    </div>
    </div>
    </div>
    </section>
*@
@*<section class=" pt-0">

    <div class="row ">
    <div class="col-4"></div>
    <div class="col-4 mt-2 mb-2 linediv" id="DiabeteConsult"></div>
    <div class="col-4"></div>
    </div>
    </section>

    @await Component.InvokeAsync("TestDoctorForReservation")
*@