@using DoctorFAM.Domain.Enums
@model DoctorFAM.Domain.ViewModels.Admin.Account.ChangePasswordInAdminViewModel

<div class="row">
    <div class="col-md-12">

        <form id="ChangePasswordForm" asp-action="ChangePassword" asp-controller="Account" asp-area="Admin" method="post" 
              data-ajax="true" data-ajax-method="post" data-ajax-begin="open_waiting()" data-ajax-success="ChangePasswordFormDone">

            <input type="hidden" asp-for="UserId" />

            <div class="form-group col-md-12 col-sm-12">
                <label asp-for="Password"></label>
                <input type="text" class="form-control" asp-for="Password">
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            
            <div class="form-group col-md-12 col-sm-12">
                <label asp-for="RePassword"></label>
                <input type="text" class="form-control" asp-for="RePassword">
                <span class="text-danger" asp-validation-for="RePassword"></span>
            </div>

            <div class="col-md-12 margin-bottom-10 text-left">
                <button type="submit" class="btn btn-labeled btn-palegreen">
                    <i class="btn-label glyphicon glyphicon-ok"></i>
                    ثبت
                </button>
            </div>

        </form>

    </div>
</div>