@model DoctorFAM.Domain.ViewModels.Admin.HealthInformation.RadioFAM.Category.EditRadioFAMCategoryViewModel

@using DoctorFAM.Domain.Entities.HealthInformation
@using DoctorFAM.Web.Culture
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "ویرایش دسته بندی";
    var parentId = ViewBag.parentId != null ? (ulong)ViewBag.parentId : (ulong?)null;
    var parentLocation = ViewBag.parentLocation != null ? ViewBag.parentLocation as RadioFAMCategory : null;
}

@section Scripts
    {
    <partial name="_JqueryValidation" />
}

    @section Breadcrumb
    {
    <li>
        <a asp-area="Admin" asp-action="ListOfRadioFAMCategoryList" asp-controller="HealthInformation"> مدیریت اطلاعات دسته بندی ها / </a>
        <a href="javascript:void(0)"> @ViewData["Title"] </a>
    </li>
}

    <form method="post" asp-action="EditRadioFAMCategory" asp-controller="HealthInformation" asp-area="Admin" enctype="multipart/form-data">
        <input type="hidden" asp-for="ParentId" />
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="CurrentInfos" />

        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="widget">
                    <div class="widget-header bordered-bottom bordered-blue">
                    @if (parentLocation != null)
                    {
                        <span class="widget-caption"> ویرایش دسته بندی های @parentLocation.UniqueName </span>
                    }
                    else
                    {
                        <span class="widget-caption"> ویرایش دسته بندی های  </span>
                    }

                </div>
                <div class="widget-body">
                    <div>

                        <div class="row">
                            <div class="form-group col-md-12 col-sm-12">
                                <label asp-for="UniqueName"></label>
                                <input type="text" class="form-control" asp-for="UniqueName">
                                <span class="text-danger" asp-validation-for="UniqueName"></span>
                            </div>

                        </div>

                        <hr class="margin-bottom-10 margin-top-10" />


                        @{
                            int i = 0;
                        }
                        @foreach (var language in ApplicationCultures.CultureItems)
                        {
                            var data = Model.CurrentInfos.FirstOrDefault(s => s.LanguageId == language.CultureKey);
                            <div class="card">
                                <div class="card-body">
                                    <input type="hidden" asp-for="RadioFAMCategoryInfos[i].Culture" value="@language.CultureKey" />
                                    <h5 class="mb-4">
                                        دسته بندی  ( @language.Title )
                                    </h5>
                                    <div class="form-group">
                                        <label>عنوان دسته بندی </label>
                                        <input class="form-control" asp-for="RadioFAMCategoryInfos[i].Title" value="@data?.Title" />
                                        <span asp-validation-for="RadioFAMCategoryInfos[i].Title" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <hr class="margin-bottom-10 margin-top-10" />

                            <br />
                            i++;
                        }

                        <div class="row">
                            <div class="col-md-12 flex-style">
                                <button type="submit" class="btn btn-labeled btn-blue">
                                    <i class="btn-label glyphicon glyphicon-ok"></i>ویرایش
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</form>


