@model DoctorFAM.Domain.ViewModels.UserPanel.CustomerAdvertisement.CreateCustomerAdvertisementUserPanelViewModel

@{
    ViewData["Title"] = "تبلیغات";
}

@section Breadcrumb
    {
    <li>
        <a href="javascript:void(0)"> @ViewData["Title"] </a>
    </li>
}

    @section Scripts
    {
    <partial name="_JqueryValidation" />
}

    <form asp-action="CreateAdvertisement" enctype="multipart/form-data" method="post">

        <div class="col-lg-9 col-sm-9 col-xs-12">
            <div id="settings" class="tab-pane  active">
                <div class="widget-header bordered-bottom bordered-sky">
                    <span class="widget-caption"> درخواست ثبت تبلیغات  </span>
                </div>
                <div class="widget-body">
                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="Title">عنوان </label>
                                <input asp-for="Title" class="form-control" placeholder="عنوان" />
                                <span class="text-danger" asp-validation-for="Title"></span>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="Username">نام و نام خانوادگی  </label>
                                <input asp-for="Username" class="form-control" placeholder="نام و نام خانوادگی" />
                                <span class="text-danger" asp-validation-for="Username"></span>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="ShortDescription">توضیح کوتاه </label>
                                <input asp-for="ShortDescription" class="form-control" placeholder="توضیح کوتاه" />

                                <span class="text-danger" asp-validation-for="ShortDescription"></span>
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <label asp-for="LongDescription">توضیح کامل</label>
                            <textarea class="form-control" ckeditor="1" asp-for="LongDescription"></textarea>
                            <span class="text-danger" asp-validation-for="LongDescription"></span>

                        </div>

                    </div>

                    <div>
                        <button type="submit" class="btn btn-labeled btn-palegreen">
                            <i class="btn-label glyphicon glyphicon-ok"></i>ثبت
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-12">
            <div class="row">

                <div class="col-lg-12">
                    <div class="widget">
                        <div class="widget-header bordered-bottom bordered-green">
                            <span class="widget-caption"> تصویر تبلیغ </span>
                        </div>
                        <div class="widget-body">
                            <div class="row">

                                <input type="file" class="display-none" name="UserAvatar" id="UserAvatar" ImageInput="1" accept=".jpg,.jpeg,.png" />

                                <div class="col-md-12">
                                    <label for="UserAvatar" class="file-input-style">
                                        <i class="glyphicon glyphicon-upload"></i>
                                        <span class="mr-8px"> لطفا تصویر مورد نطر را انتخاب کنید</span>
                                    </label>
                                </div>

                                <div class="col-md-12 tc mt-10px">
                                    <img src="/Content/images/no-image.png" class="image-style" ImageFile="1" />
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
