
@{
    ViewBag.Title = "درباره ما";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-wrapper">
    <!--page title start-->
   
    <!--page title end-->
    <!--body content start-->
    <div class="page-content">
        <!--about us start-->
        <section>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-12">
                        <img class="img-fluid rounded box-shadow w-100" src="/Content/images/about/04.jpg" alt="">
                    </div>
                    <div class="col-lg-6 col-12 md-mt-5">
                        <div class="section-title mb-4">
                            <h6> درباره ما </h6>
                            <h2 class="title"> ماموریت ما تبدیل شدن به بهترین مجموعه خدمات سلامت در جهان است </h2>
                            <p>خانه سلامت یک فضای فیزیکیست که در آن اقداماتی حمایتی و آموزشی جهت فعالیتهای مرتبط با سلامت انجام می شود. در این فضا به هیچ وجه اقدامات درمانی فاقد مجوز انجام نمیگیرد.</p>
                        </div>
                        <ul class="list-unstyled list-icon">
                            <li class="mb-4"><i class="flaticon-tick"></i>	آموزش جمعیت هدف در خصوص بیماریهای مربوطه </li>
                            <li class="mb-4"><i class="flaticon-tick"></i> 	اقدامات حمایتی پیشگیرانه  </li>
                            <li class="mb-4"><i class="flaticon-tick"></i>	مدیریت درمان دارویی و ایجاد پرونده های سلامت </li>
                            <li class="mb-4"><i class="flaticon-tick"></i>	ایجاد ارتباط از طریق نرم افزار برای مدیریت بیشتر گروه هدف </li>
                            <li><i class="flaticon-tick"></i>	مدیریت درمان های ارجاعی </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="p-0">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-12 order-lg-1">
                        <img class="img-fluid rounded box-shadow w-100" src="/Content/images/about/03.jpg" alt="">
                    </div>
                    <div class="col-lg-6 col-12 md-mt-5">
                        <div class="section-title mb-4">
                            <h6> باورهای بنیادین ما </h6>
                            <h2 class="title"> سه کلمه اساسی باورهای بنیادین خانواده سلامت را تشکیل می‌دهد </h2>
                        </div>
                        <ul class="list-unstyled list-icon">
                            <li class="mb-4"><i class="flaticon-tick"></i> امانتداری </li>
                            <li class="mb-4"><i class="flaticon-tick"></i> مسئولیت‌پذیری </li>
                            <li><i class="flaticon-tick"></i>نوآوری و کمال‌گرایی </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!--about us end-->
        <!--feature start-->
        <section>
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-lg-8 col-md-12">
                        <div class="section-title">
                            <h6> ویژگی </h6>
                            <h2 class="title"> ما نتایج ماندگار ارائه می دهیم </h2>
                            <p>خدماتی که ما ارائه میکنیم</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="owl-carousel no-pb" data-dots="false" data-nav="true" data-items="3" data-md-items="2" data-sm-items="1" data-autoplay="true">
                            <div class="item">
                                <div class="featured-item style-5">
                                    <div class="featured-icon">
                                        <i class="flaticon-solution"></i>
                                    </div>
                                    <div class="featured-title">
                                        <h5> خدمات حضوری </h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p class="text-center"> این مجموعه دارای اپراتور خدمات حضوری است</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="featured-item style-5 active">
                                    <div class="featured-icon">
                                        <i class="flaticon-money"></i>
                                    </div>
                                    <div class="featured-title">
                                        <h5> خدمات غیر حضوری </h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p class="text-center"> خدمات غیر حضوری از طریق سایت، اپلیکیشن و سایر رسانه‌های اجتماعی ارائه می‌گردد </p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="featured-item style-5">
                                    <div class="featured-icon">
                                        <i class="flaticon-testing"></i>
                                    </div>
                                    <div class="featured-title">
                                        <h5> عرضه محصولات </h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p class="text-center"> صدها عرضه‌کننده محصولات پزشکی، درمانی، دارویی، آرایشی و بهداشتی با خانواده سلامت همکاری می کند. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="featured-item style-5 active">
                                    <div class="featured-icon">
                                        <i class="flaticon-life"></i>
                                    </div>
                                    <div class="featured-title">
                                        <h5> مشاوره </h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p class="text-center"> ارائه انواع مشاوره‌های پزشکی، خانواده، تحصیلی، روانی و ... در خانواده سلامت انجام می‌گیرد. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--feature end-->
    </div>
    <!--body content end-->
</div>