@{
    ViewBag.Title = "درباره ما";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-wrapper">
    <!--page title start-->
    <!--page title end-->
    <!--body content start-->
    <div class="page-content">
        <!--about us start-->
        <section>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-2 md-mt-5"></div>
                    <div class="col-md-8 md-mt-5">
                        <div class="section-title mb-4">
                            <h5> ماموریت دکترفم: </h5>
                            <h3 class="title">  تبدیل شدن به بهترین مجموعه خدمات سلامت  </h3>
                            <p>
                                <b>دکتر فم</b>، یک مجموعه خصوصی انتفاعیست، که در راستای اهداف سلامت و چشم انداز تبیین شده خود، در نظر دارد با اتکا بر اصول علمی و بکار گیری فناوری دیجیتال، ارتباط تنگاتنگی ما بین خود، کاربران و خدمت دهندگان سلامت ایجاد نماید که مبتنی بر بهره مندی عادلانه، رضایت طرفین، سهولت دسترسی ، اطمینان از کیفیت خدمات، با رعایت استانداردهای جهانی  و انتفاع مشترک باشد.
                                <br />در این راه منابع انسانی، بزرگترین سرمایه های دکتر فم است و این سرمایه بزرگ تمامی توان خود را جهت نیل به اهداف متعالی ذکر شده به کار خواهد بست.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2 md-mt-5"></div>
                </div>
            </div>
        </section>
        <section class="p-0">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <img class="img-fluid rad_img2 " src="/Content/images/about/Believe_About.jpg" alt="">
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5">
                        <div class="section-title mb-4">
                            <h5> باورهای بنیادین دکترفم: </h5>

                        </div>
                        <ul class="list-unstyled list-icon">
                            <li class="mb-4"><i class="flaticon-tick"></i>صداقت و امانت داری</li>
                            <li class="mb-4"><i class="flaticon-tick"></i>رعایت استانداردهای علمی در ارائه خدمات</li>
                            <li class="mb-4"><i class="flaticon-tick"></i>استفاده از نیروهای مجرب</li>
                            <li class="mb-4"><i class="flaticon-tick"></i>پویایی و نوآوری</li>
                            <li class="mb-4"><i class="flaticon-tick"></i>وفاداری به منافع جمعی</li>
                            <li class="mb-4"><i class="flaticon-tick"></i>حمایت از منابع انسانی</li>
                        </ul>
                    </div>

                </div>
            </div>
        </section>

        <section class="p-0">
            <div class="container">
                <div class="row align-items-center">  
                     <div class="col-md-5 "></div>
                    <div class="col-md-2 text-center">
                         <img class="img-fluid rad_img3 " src="/Content/images/about/VisitOnline.jpg" alt="">
                     </div>
                    <div class="col-md-5 text-right">
                        <div class="section-title mt-5">
                            <h5> پزشک آنلاین: </h5>
                        </div>
                        <p>در این بخش، در ساعات تعیین شده، می توانید بصورت آنلاین، با پزشکان منتخب <b>دکترفم</b> ارتباط برقرار کنید.</p>
                    </div>

                </div>
            </div>
        </section>
        <section class="p-0">
            <div class="container">
                <div class="row align-items-center">
                   
                    <div class="col-md-2 text-center">
                         <img class="img-fluid rad_img3 " src="/Content/images/about/Familydoc.jpg" alt="">
                     </div>
                    <div class="col-md-5 text-right">
                        <div class="section-title mt-5">
                            <h5> پزشک خانواده من: </h5>
                        </div>
                        <p><b>دکترفم</b> این امکان را در اختیار شما قرار می دهد، تا پزشک مورد نظر خود را، برای خانواده انتخاب نمایید پزشک خانواده، مشاور و همراه خانواده شما در همه مسائل بهداشتی و درمانی است.</p>
                    </div>

                </div>
            </div>
        </section>
        <section class="p-0">
            <div class="container">
                <div class="row align-items-center"> 
                     <div class="col-md-5 "></div>
                     <div class="col-md-2 text-center">
                         <img class="img-fluid rad_img3 " src="/Content/images/about/Specialist.jpg" alt="">
                     </div>
                    <div class="col-md-5 text-right">
                        <div class="section-title mt-5">
                            <h5> پزشکان متخصص: </h5>
                        </div>
                        <p>
                            با معرفی پزشکان متخصص، به تفکیک مکان و تخصص، امکان نوبت گیری آسان را ایجاد کرده ایم.
                        </p>
                        <P>برخی از متخصصین، امکان ویزیت آنلاین را برای متقاضیان فراهم کرده اند.</P>
                    </div>

                </div>
            </div>
        </section>

        <section class="p-0 mt-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-8">
                        <div class="section-title mb-4">
                            <h5> دپارتمان های دکترفم: </h5>

                        </div>
                        <ul class="list-unstyled list-icon">
                            <li class="mb-4">
                                <i class="flaticon-tick"></i><span class="spanabout">خانه سلامت</span>
                            </li>
                        </ul>
                        <p>
                            مجموعه ای از خدمات که  <b>دکترفم</b> در منزل به شما ارائه می کند. این خدمات عبارتند از:
                            <div class="row">
                                <div class="col-md-3 btn2 m-1">
                                    <a href="#"><span class="spCol"> ویزیت در منزل </span></a>
                                </div>
                                <div class="col-md-3 btn2 m-1">
                                    <a href="#"><span class="spCol"> پرستار در منزل </span></a>
                                </div>
                                <div class="col-md-3 btn2 m-1">
                                    <a href="#"><span class="spCol"> مراقبت در منزل </span></a>
                                </div>
                                <div class="col-md-3 btn2 m-1">
                                    <a href="#"><span class="spCol"> داروخانه در منزل </span></a>
                                </div>

                                <div class="col-md-3 btn2 m-1">
                                    <a href="#"><span class="spCol"> آزمایشگاه در منزل </span></a>
                                </div>
                                <div class="col-md-3 btn2 m-1">
                                    <a href="#"><span class="spCol"> انتقال بیمار  </span></a>
                                </div>                               
                                <div class="col-md-3 btn2 m-1">
                                    <a href="#"><span class="spCol"> صدور گواهی فوت </span></a>
                                </div>

                            </div>
                        </p>
                        <ul class="list-unstyled list-icon">
                            <li class="mb-4">
                                <i class="flaticon-tick"></i><span class="spanabout">کلینیک سلامت</span>
                            </li>
                        </ul>
                        <p>
                            در  <b> کلینیک سلامت، </b> به تفکیک موضوعات بهداشتی و درمانی مورد نیاز شما ، خدمات ویژه ای ارائه گردیده است. این خدمات عبارتنداز:
                            <ul class="aboutlist">
                                <li>خودارزیابی ها</li>
                                <li>هشدارها</li>
                                <li>شاخص های سلامت</li>
                                <li>معرفی مشاورین، پزشکان و کارشناسان</li>
                                <li>سرویسهای جانبی</li>
                                <li>دانستنیهای سلامت</li>
                                
                            </ul>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <img class="img-fluid rad_img" src="/Content/images/about/Departments_About.jpg" alt="">
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class=" btn2 ">
                                        <a href="#"><span class="spCol"> دیابت </span></a>
                                    </div>
                                    <div class="row text-center  justify-content-center "  >
                                        <div class="col-md-6">
                                            <a class="btn btn-acc mt-2" href=""> مشاورین</a>
                                        </div>
                                        <div class="col-md-6">
                                            <a class="btn btn-acc mt-2" href=""> متخصصین</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class=" btn2 m-1">
                                        <a href="#"><span class="spCol"> فشار خون </span></a>
                                    </div>
                                    <div class="row text-center  justify-content-center ">
                                        <div class="col-md-6">
                                            <a class="btn btn-acc mt-2" href=""> مشاورین</a>
                                        </div>
                                        <div class="col-md-6">
                                            <a class="btn btn-acc mt-2" href=""> متخصصین</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class=" btn2 m-1">
                                        <a href="#"><span class="spCol"> سرطان </span></a>
                                    </div>
                                    <div class="row text-center  justify-content-center ">
                                        <div class="col-md-6">
                                            <a class="btn btn-acc mt-2" href=""> مشاورین</a>
                                        </div>
                                        <div class="col-md-6">
                                            <a class="btn btn-acc mt-2" href=""> متخصصین</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class=" btn2 m-1">
                                        <a href="#"><span class="spCol"> روان </span></a>
                                    </div>
                                    <div class="row text-center  justify-content-center ">
                                        <div class="col-md-6">
                                            <a class="btn btn-acc mt-2" href=""> مشاورین</a>
                                        </div>
                                        <div class="col-md-6">
                                            <a class="btn btn-acc mt-2" href=""> متخصصین</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-md-3">
                                    <div class=" btn2 m-1">
                                        <a href="#"><span class="spCol"> طب سنتی </span></a>
                                    </div>
                                    <div class="row text-center  justify-content-center ">
                                        <div class="col-md-6">
                                            <a class="btn btn-acc mt-2" href=""> مشاورین</a>
                                        </div>
                                        <div class="col-md-6">
                                            <a class="btn btn-acc mt-2" href=""> متخصصین</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class=" btn2 m-1">
                                        <a href="#"><span class="spCol"> پوست و زیبائی </span></a>
                                    </div>
                                    <div class="row text-center  justify-content-center ">
                                        <div class="col-md-6">
                                            <a class="btn btn-acc mt-2" href=""> مشاورین</a>
                                        </div>
                                        <div class="col-md-6">
                                            <a class="btn btn-acc mt-2" href=""> متخصصین</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class=" btn2 m-1">
                                        <a href="#"><span class="spCol"> تغذیه </span></a>
                                    </div>
                                    <div class="row text-center  justify-content-center ">
                                        <div class="col-md-6">
                                            <a class="btn btn-acc mt-2" href=""> مشاورین</a>
                                        </div>
                                        <div class="col-md-6">
                                            <a class="btn btn-acc mt-2" href=""> متخصصین</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class=" btn2 m-1">
                                        <a href="#"><span class="spCol"> رشد </span></a>
                                    </div>
                                    <div class="row text-center  justify-content-center ">
                                        <div class="col-md-6">
                                            <a class="btn btn-acc mt-2" href=""> مشاورین</a>
                                        </div>
                                        <div class="col-md-6">
                                            <a class="btn btn-acc mt-2" href=""> متخصصین</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-3">
                                    <div class=" btn2 m-1">
                                        <a href="#"><span class="spCol"> آزمایشها و پاراکلینیک </span></a>
                                    </div>
                                    <div class="row text-center  justify-content-center ">
                                        <div class="col-md-6">
                                            <a class="btn btn-acc mt-2" href=""> مشاورین</a>
                                        </div>
                                        <div class="col-md-6">
                                            <a class="btn btn-acc mt-2" href=""> متخصصین</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class=" btn2 m-1">
                                        <a href="#"><span class="spCol"> دندانپزشکی </span></a>
                                    </div>
                                    <div class="row text-center  justify-content-center ">
                                        <div class="col-md-6">
                                            <a class="btn btn-acc mt-2" href=""> مشاورین</a>
                                        </div>
                                        <div class="col-md-6">
                                            <a class="btn btn-acc mt-2" href=""> متخصصین</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                    </div>
                </div>
                <hr />
                <div class="row mt-5">
                    <div class="col-md-8">
                        <ul class="list-unstyled list-icon">
                            <li class="mb-4">
                                <i class="flaticon-tick"></i><span class="spanabout">بازار سلامت</span>
                            </li>
                        </ul>
                        <p>
                            در بازار سلامت موارد زیر عرضه میشوند:
                            <div class="row">
                                <div class="col-md-3 btn2 m-1">
                                    <a href="#"><span class="spCol"> تجهیزات پزشکی </span></a>
                                </div>
                                <div class="col-md-3 btn2 m-1">
                                    <a href="#"><span class="spCol">  آرایشی و بهداشتی </span></a>
                                </div>
                                <div class="col-md-3 btn2 m-1">
                                    <a href="#"><span class="spCol"> مکمل ها </span></a>
                                </div>
                                <div class="col-md-3 btn2 m-1">
                                    <a href="#"><span class="spCol"> خدمات بیمه حوزه سلامت </span></a>
                                </div>

                                <div class="col-md-3 btn2 m-1">
                                    <a href="#"><span class="spCol"> مشاوره حقوقی </span></a>
                                </div>
                                <div class="col-md-3 btn2 m-1">
                                    <a href="#"><span class="spCol"> کتب و مجلات حوزه سلامت </span></a>
                                </div>


                            </div>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <img class="img-fluid rad_img" src="/Content/images/about/Equipment.jpg" alt="">
                    </div>

                </div>
                <div class="row mt-5">                    
                    <div class="col-md-6">                       
                        <ul class="list-unstyled list-icon">
                            <li class="mb-4">
                                <i class="flaticon-tick"></i><span class="spanabout">دانستنیهای سلامت</span>
                            </li>
                        </ul>                        
                            <p>
                                <b>دکترفم</b>، در راستای افزایش دانش عمومی و تخصصی در حیطه سلامت، بخشهای زیر را معرفی می نماید:
                            </p>
                            <ul class="aboutlist">
                                <li>رادیوفم</li>
                                <p>در پنج روز هفته، پادکستهای رادیویی، در حوزه سلامت، با دعوت از کارشناسان مربوطه ارائه می شود.</p>
                                <li>تی وی فم</li>
                                <p> تلویزیون  <b>دکترفم</b>، کلیپهای آموزشی ارزنده ای در حوزه بهداشت و سلامت برای عموم کاربران ارائه می نماید.   </p>
                                <li>دانستنیهای عمومی</li>
                                <p>در این بخش مطالب حوزه سلامت، برای عموم کاربران ارائه می گردد. </p>
                                <li>مجله پزشکی</li>
                                <p>ماهنامه پزشکی <b>دکتر فم</b> حاوی مطالب علمی و تخصصی برای جامعه پزشکی می باشد.</p>                               
                                <li>اخبار سلامت</li>
                                <p>در این بخش، خبرهای حوزه بهداشت و درمان، برای عموم ارائه می شود.</p>
                                
                                
                            </ul>                           
                    </div>
                     <div class="col-md-6">
                          <div class="row mt-5">
                                <div class="col-md-4 btn2 m-1">
                                    <a href="#"><span class="spCol"> رادیوفم </span></a>
                                </div>
                                <div class="col-md-4 btn2 m-1">
                                    <a href="#"><span class="spCol">  تی وی فم </span></a>
                                </div>
                                <div class="col-md-4 btn2 m-1">
                                    <a href="#"><span class="spCol"> دانستنیهای عمومی </span></a>
                                </div>
                                <div class="col-md-4 btn2 m-1">
                                    <a href="#"><span class="spCol"> مجله پزشکی </span></a>
                                </div>
                                <div class="col-md-4 btn2 m-1">
                                    <a href="#"><span class="spCol"> اخبار سلامت </span></a>
                                </div>                                                                
                            </div>
                     </div>
                </div>
            </div>
        </section>

        <div class="row mt-5 mb-5">
        </div>

    </div>

</div>