@{
    ViewBag.Title = "درباره ما";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-wrapper">
    <!--page title start-->
    <!--page title end-->
    <!--body content start-->
    <div class="page-content">
        <!--about us start-->
        <section>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-2 md-mt-5"></div>
                    <div class="col-md-8 md-mt-5">
                        <div class="section-title mb-4">
                            <h6> ماموریت دکترفم: </h6>
                            <h3 class="title">  تبدیل شدن به بهترین مجموعه خدمات سلامت  </h3>
                            <p>
                                <b>دکتر فم</b>، یک مجموعه خصوصی انتفاعیست، که در راستای اهداف سلامت و چشم انداز تبیین شده خود، در نظر دارد با اتکا بر اصول علمی و بکار گیری فناوری دیجیتال، ارتباط تنگاتنگی ما بین خود، کاربران و خدمت دهندگان سلامت ایجاد نماید که مبتنی بر بهره مندی عادلانه، رضایت طرفین، سهولت دسترسی ، اطمینان از کیفیت خدمات، با رعایت استانداردهای جهانی  و انتفاع مشترک باشد.
                                <br />در این راه منابع انسانی، بزرگترین سرمایه های دکتر فم است و این سرمایه بزرگ تمامی توان خود را جهت نیل به اهداف متعالی ذکر شده به کار خواهد بست.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2 md-mt-5"></div>
                </div>
            </div>
        </section>
        <section class="p-0">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <img class="img-fluid rad_img2 " src="/Content/images/about/03.jpg" alt="">
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5">
                        <div class="section-title mb-4">
                            <h6> باورهای بنیادین دکترفم: </h6>

                        </div>
                        <ul class="list-unstyled list-icon">
                            <li class="mb-4"><i class="flaticon-tick"></i>صداقت و امانت داری</li>
                            <li class="mb-4"><i class="flaticon-tick"></i>رعایت استانداردهای علمی در ارائه خدمات</li>
                            <li class="mb-4"><i class="flaticon-tick"></i>استفاده از نیروهای مجرب</li>
                            <li class="mb-4"><i class="flaticon-tick"></i>پویایی و نوآوری</li>
                            <li class="mb-4"><i class="flaticon-tick"></i>وفاداری به منافع جمعی</li>
                            <li class="mb-4"><i class="flaticon-tick"></i>حمایت از منابع انسانی</li>
                        </ul>
                    </div>

                </div>
            </div>
        </section>


        <section class="p-0 mt-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-8">
                        <div class="section-title mb-4">
                            <h6> دپارتمان های دکترفم: </h6>

                        </div>
                        <ul class="list-unstyled list-icon">
                            <li class="mb-4">
                                <i class="flaticon-tick"></i>خانه سلامت
                            </li>
                        </ul>
                        <p>
                            مجموعه ای از خدمات که  <b>دکترفم</b> در منزل به شما ارائه می کند. این خدمات عبارتند از:
                            <div class="row">
                                <div class="col-md-3 btn2 m-1">
                                    <a href="#"><span class="spCol"> ویزیت در منزل </span></a>
                                </div>
                                <div class="col-md-3 btn2 m-1">
                                    <a href="#"><span class="spCol"> پرستار در منزل </span></a>
                                </div>
                                <div class="col-md-3 btn2 m-1">
                                    <a href="#"><span class="spCol"> مراقبت در منزل </span></a>
                                </div>
                                <div class="col-md-3 btn2 m-1">
                                    <a href="#"><span class="spCol"> داروخانه در منزل </span></a>
                                </div>

                                <div class="col-md-3 btn2 m-1">
                                    <a href="#"><span class="spCol"> آزمایشگاه در منزل </span></a>
                                </div>
                                <div class="col-md-3 btn2 m-1">
                                    <a href="#"><span class="spCol"> انتقال بیمار و متوفی </span></a>
                                </div>
                                <div class="col-md-3 btn2 m-1">
                                    <a href="#"><span class="spCol"> صدور گواهی فوت </span></a>
                                </div>

                            </div>
                        </p>
                        <ul class="list-unstyled list-icon">
                            <li class="mb-4">
                                <i class="flaticon-tick"></i>راه سلامت
                            </li>
                        </ul>
                        <p>
                            در  <b> راه سلامت، </b> به تفکیک موضوعات بهداشتی و درمانی مورد نیاز شما ، خدمات ویژه ای ارائه گردیده است. این خدمات شامل:
                            <ul class="aboutlist">
                                <li>خودارزیابی ها</li>
                                <li>هشدارها</li>
                                <li>شاخص های سلامت</li>
                                <li>معرفی مشاورین، پزشکان و کارشناسان</li>
                                <li>سرویسهای جانبی</li>
                                <li>دانستنیهای سلامت</li>
                                <p>و ... می باشد.</p>
                            </ul>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <img class="img-fluid rad_img" src="/Content/images/about/05.jpg" alt="">
                    </div>
                    <div class="row">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="cases-item style-2 text-center">
                                        <div class="cases-desc">
                                            <span> دیابت </span>
                                            <ul class="UL_Alig">
                                                <li><a href="#">دکتر عذرا اخا</a></li>
                                                <li><a href="#">دکتر شاهین رسولی</a></li>
                                                <li><a href="#">دکتر یاسر قزوینی</a></li>
                                            </ul>
                                            <a class="btn btn-acc  mt-2" href=""> سایر همکاران  </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="cases-item style-2 text-center">
                                        <div class="cases-desc">
                                            <span> فشار خون </span>
                                            <ul class="UL_Alig">
                                                <li><a href="#">دکتر فرسویان</a></li>
                                                <li><a href="#">دکتر محمد یوسفیان</a></li>
                                                <li><a href="#">دکتر یاسر قزوینی</a></li>
                                            </ul>
                                            <a class="btn btn-acc mt-2" href=""> سایر همکاران  </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="cases-item style-2 text-center">
                                        <div class="cases-desc">
                                            <span> پوست و زیبایی </span>
                                            <ul class="UL_Alig">
                                                <li><a href="#">دکتر مهران فتحی</a></li>
                                                <li><a href="#">دکتر شاهین رسولی</a></li>
                                                <li><a href="#">دکتر یاسر قزوینی</a></li>
                                            </ul>
                                            <a class="btn btn-acc  mt-2" href=""> سایر همکاران  </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="cases-item style-2 text-center">
                                        <div class="cases-desc">
                                            <span> تغذیه </span>
                                            <ul class="UL_Alig">
                                                <li><a href="#">دکتر مهران فتحی</a></li>
                                                <li><a href="#">دکتر شاهین رسولی</a></li>
                                                <li><a href="#">دکتر یاسر قزوینی</a></li>
                                            </ul>
                                            <a class="btn btn-acc  mt-2" href=""> سایر همکاران  </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="cases-item style-2 text-center">
                                        <div class="cases-desc">
                                            <span> رشد </span>
                                            <ul class="UL_Alig">
                                                <li><a href="#">دکتر مهران فتحی</a></li>
                                                <li><a href="#">دکتر شاهین رسولی</a></li>
                                                <li><a href="#">دکتر یاسر قزوینی</a></li>
                                            </ul>
                                            <a class="btn btn-acc  mt-2" href=""> سایر همکاران  </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="cases-item style-2 text-center">
                                        <div class="cases-desc">
                                            <span> سرطان </span>
                                            <ul class="UL_Alig">
                                                <li><a href="#">دکتر آرش قاسمی</a></li>
                                                <li><a href="#">دکتر شاهین رسولی</a></li>
                                                <li><a href="#">دکتر یاسر قزوینی</a></li>
                                            </ul>
                                            <a class="btn btn-acc  mt-2" href=""> سایر همکاران  </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="cases-item style-2 text-center">
                                        <div class="cases-desc">
                                            <span>  آزمایشها و پاراکلینیک  </span>
                                            <ul class="UL_Alig">
                                                <li><a href="#">دکتر مهدوی</a></li>
                                                <li><a href="#">دکتر محمد یوسفیان</a></li>
                                                <li><a href="#">دکتر یاسر قزوینی</a></li>
                                            </ul>
                                            <a class="btn btn-acc  mt-2" href=""> سایر همکاران  </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="cases-item style-2 text-center">
                                        <div class="cases-desc">
                                            <span> طب سنتی </span>
                                            <ul class="UL_Alig">
                                                <li><a href="#">دکتر خامه ور</a></li>
                                                <li><a href="#">دکتر هدایتی</a></li>
                                                <li><a href="#">دکتر شاهین رسولی</a></li>
                                            </ul>
                                            <a class="btn btn-acc  mt-2" href=""> سایر همکاران  </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="cases-item style-2 text-center">
                                        <div class="cases-desc">
                                            <span> دندانپزشکی </span>
                                            <ul class="UL_Alig">
                                                <li><a href="#">دکتر ابراهیمی</a></li>
                                                <li><a href="#">دکتر هدایتی</a></li>
                                                <li><a href="#">دکتر شاهین رسولی</a></li>
                                            </ul>
                                            <a class="btn btn-acc  mt-2" href=""> سایر همکاران  </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row mt-5">
                        <div class="col-md-8">
                            <ul class="list-unstyled list-icon">
                                <li class="mb-4">
                                    <i class="flaticon-tick"></i>بازار سلامت
                                </li>
                            </ul>
                            <p>
                                در بازار سلامت موارد زیر عرضه میشوند:
                                <div class="row">
                                    <div class="col-md-3 btn2 m-1">
                                        <a href="#"><span class="spCol"> تجهیزات پزشکی </span></a>
                                    </div>
                                    <div class="col-md-3 btn2 m-1">
                                        <a href="#"><span class="spCol">  آرایشی و بهداشتی </span></a>
                                    </div>
                                    <div class="col-md-3 btn2 m-1">
                                        <a href="#"><span class="spCol"> مکمل ها </span></a>
                                    </div>
                                    <div class="col-md-3 btn2 m-1">
                                        <a href="#"><span class="spCol"> خدمات بیمه حوزه سلامت </span></a>
                                    </div>

                                    <div class="col-md-3 btn2 m-1">
                                        <a href="#"><span class="spCol"> مشاوره حقوقی </span></a>
                                    </div>
                                    <div class="col-md-3 btn2 m-1">
                                        <a href="#"><span class="spCol"> کتب و مجلات حوزه سلامت </span></a>
                                    </div>


                                </div>
                            </p>
                        </div>
                        <div class="col-md-4">
                            <img class="img-fluid rad_img" src="/Content/images/Products/main/cbafb0d9-08df-43a2-8fbe-98606d0ec913.jpeg" alt="">
                        </div>

                    </div>
                    <div class="row mt-5">
                        <div class="col-md-4">
                            <img class="img-fluid rad_img2" src="/Content/images/LabPrescription/main/123.jpg" alt="">
                        </div>
                        <div class="col-md-8">
                            <ul class="list-unstyled list-icon">
                                <li class="mb-4">
                                    <i class="flaticon-tick"></i>کلینیک دکتر فم
                                </li>
                            </ul>
                            <p>
                                در کلینیک <b>دکتر فم</b> ارئه دهندگان خدمات درمانی را مستقیما به شما ارتباط می دهیم. این بخش شامل نوبت دهی در موارد زیر می باشد:

                                <div class="row">
                                    <div class="col-md-3 btn2 m-1">
                                        <a href="#"><span class="spCol"> پزشک آنلاین </span></a>
                                    </div>
                                    <div class="col-md-3 btn2 m-1">
                                        <a href="#"><span class="spCol">  پزشک خانواده من </span></a>
                                    </div>
                                    <div class="col-md-3 btn2 m-1">
                                        <a href="#"><span class="spCol"> متخصصین </span></a>
                                    </div>
                                    <div class="col-md-3 btn2 m-1">
                                        <a href="#"><span class="spCol"> مشاورین روانشناسی </span></a>
                                    </div>

                                    <div class="col-md-3 btn2 m-1">
                                        <a href="#"><span class="spCol"> دندانپزشکان </span></a>
                                    </div>
                                    
                                </div>
                            </p>
                        
                            <ul class="list-unstyled list-icon">
                                <li class="mb-4">
                                    <i class="flaticon-tick"></i>دانستنیهای سلامت 
                                </li>
                            </ul>
                            <p>
                                با دانستنیهای سلامت <b>دکترفم</b> ضمن آشنایی با بدن خود نسبت به بروز علایم بیماری حساس بوده و در خصوص بیماری های خود به طور صحیح نسبت به درمان اقدام نمایید.

                                <div class="row">
                                    <div class="col-md-4 btn2 m-1">
                                        <a href="#"><span class="spCol"> رادیوفم </span></a>
                                    </div>
                                    <div class="col-md-4 btn2 m-1">
                                        <a href="#"><span class="spCol">  تیوی فم </span></a>
                                    </div>
                                    <div class="col-md-4 btn2 m-1">
                                        <a href="#"><span class="spCol"> اخبار سلامت </span></a>
                                    </div>
                                    <div class="col-md-4 btn2 m-1">
                                        <a href="#"><span class="spCol"> مجله علمی </span></a>
                                    </div>

                                </div>
                            </p>
                        </div> 
                    </div>
                </div>
            </div>
        </section>

        <div class="row mt-5 mb-5">

        </div>

    </div>

</div>