@{
    ViewBag.Title = "معرفی مراکز تشخیصی و درمانی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="section section-featurebox">
    <div class="container">
        <div class="section-header text-center">
            <h2>
                 معرفی مراکز تشخیصی و درمانی
            </h2>
            <p class="sub-title">
                

            </p>
        </div>
        <div class="row justify-content-center">
            <div class="feature-col-list">
                <a class=" hover-icon " asp-action="CentersIntruds" asp-controller="CentersIntrud" asp-area="">
                <div class="feature-col">
                    <div class="feature-subox d-flex flex-wrap justify-content-center">
                        <img src="~/Content/img/features/feature-07.jpg" class="img-fluid" alt="Features">
                        <h4>درمانگاه تخصصی سلامت</h4>
                    </div>
                    </div>
                </a>
                <div class="feature-col">
                    <div class="feature-subox d-flex flex-wrap justify-content-center">
                        <img src="~/Content/img/features/feature-09.jpg" class="img-fluid" alt="Features">
                        <h4>درمانگاه ابوالفضل</h4>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</section>