@{
    ViewBag.Title = "معرفی مراکز";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="section section-featurebox">
    <div class="container">
        <div class="section-header text-center">
            <h2>
                معرفی مراکز
            </h2>
            <p class="sub-title">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است

            </p>
        </div>
        <div class="row justify-content-center">
            <div class="feature-col-list">
                <div class="feature-col">
                    <div class="feature-subox d-flex flex-wrap justify-content-center">
                        <img src="~/Content/img/features/feature-07.jpg" class="img-fluid" alt="Features">
                        <h4>عمل</h4>
                    </div>
                </div>
                <div class="feature-col">
                    <div class="feature-subox d-flex flex-wrap justify-content-center">
                        <img src="~/Content/img/features/feature-09.jpg" class="img-fluid" alt="Features">
                        <h4>پزشکی</h4>
                    </div>
                </div>
                <div class="feature-col">
                    <div class="feature-subox d-flex flex-wrap justify-content-center">
                        <img src="~/Content/img/features/feature-08.jpg" class="img-fluid" alt="Features">
                        <h4>بخش بیمار</h4>
                    </div>
                </div>
                <div class="feature-col">
                    <div class="feature-subox d-flex flex-wrap justify-content-center">
                        <img src="~/Content/img/features/feature-10.jpg" class="img-fluid" alt="Features">
                        <h4>اتاق تست</h4>
                    </div>
                </div>
                <div class="feature-col">
                    <div class="feature-subox d-flex flex-wrap justify-content-center">
                        <img src="~/Content/img/features/feature-11.jpg" class="img-fluid" alt="Features">
                        <h4>آی سی یو</h4>
                    </div>
                </div>
                <div class="feature-col">
                    <div class="feature-subox d-flex flex-wrap justify-content-center">
                        <img src="~/Content/img/features/feature-12.jpg" class="img-fluid" alt="Features">
                        <h4>آزمایشگاه</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>