@*@{
    ViewData["Title"] = "آرایشی و بهداشتی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-content" >
<div class="container">
    <div class="row mt-2" >
        
        <div class="col-md-6 col-sm-6 text-center justify-content-center">            
                <div class="featured-icon">
                    <img class="img-fluid rounded box-shadow "  src="~/Content/images/ADS/Ledora.jpg" alt="">
                </div>
                <h3 class=" mt-2"> آرایشی و بهداشتی </h3>            
        </div>
        <div class="col-md-6 col-sm-6 text-center justify-content-center">            
                <div class="featured-icon">
                    <img class="img-fluid rounded box-shadow "  src="~/Content/images/ADS/Mirshafa.jpg" alt="">
                </div>
                <h3 class=" mt-2"> آرایشی و بهداشتی </h3>            
        </div>
    </div>
</div>
</div>
*@



@{
    ViewData["Title"] = "آرایشی و بهداشتی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="section section-featurebox">
    <div class="container">
        <div class="section-header text-center">
            <h2>
                آرایشی و بهداشتی
            </h2>
            
        </div>
        <div class="row justify-content-center">
            <div class="feature-col-list">
                <div class="feature-col">
                    <div class="feature-subox d-flex flex-wrap justify-content-center">
                        <img src="~/Content/images/ADS/Ledora.jpg" class="img-fluid" alt="Features">
                        <h4> آرایشی و بهداشتی</h4>
                    </div>
                </div>
                <div class="feature-col">
                    <div class="feature-subox d-flex flex-wrap justify-content-center">
                        <img src="~/Content/images/ADS/Mirshafa.jpg" class="img-fluid" alt="Features">
                        <h4> آرایشی و بهداشتی</h4>
                    </div>
                </div>
              
            </div>
        </div>
    </div>
</section>