@{
    ViewBag.Title = "داروخانه ها";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="section section-featurebox">
    <div class="container">
        <div class="section-header text-center">
            <h2>
                داروخانه ها
            </h2>
            
        </div>
        <div class="row justify-content-center">
            <div class="feature-col-list">
                <div class="feature-col">
                    <div class="feature-subox d-flex flex-wrap justify-content-center">
                        <img src="~/Content/images/ADS/Mirshafa.jpg" class="img-fluid" alt="Features">
                        <h4>داروخانه دکتر میرشفا</h4>
                    </div>
                </div>
              
            </div>
        </div>
    </div>
</section>