@{
    ViewBag.Title = "فم تور";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section>
    <div class="container">

        <div class="col-md-12 text-center justify-content-center ">
            <h2 class="hColorFontt famOnlinecolor">فم تور  </h2>

            <h4 class=" text-center justify-content-center" style="color:#2264c5;"> (سفرِ درمانی) </h4>



        </div>
        <div class="row mt-5 text-white">
            <div class="col-lg-8  p-5 theme-bg text-white text-center justify-content-center ">

                <h4 class="font-w-7  mt-3 text-white "> فرایند سفرِ درمانی </h4>
               
              

            </div>
            <div class="col-lg-4"></div>

        </div>
        <div class="row mt-5 text-white">
            <div class="col-lg-4"></div>
            <div class="col-lg-8  p-5 dark-bg text-white text-center justify-content-center ">

                <h4 class="font-w-7  mt-3 text-white"> معرفی خدمات</h4>

                <div class="row text-center justify-content-center" style="background-color:#0d092c; ">
                   

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center   mt-3">
                        <a class=" hover-icon" asp-action="ListOfFamilyDoctors" asp-controller="FamilyDoctor" asp-area="">
                            <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/FamilyDoctor.png" style="width:75px; height:75px; border:2px solid #ffffff;  border-radius:50% !important ;" alt="">
                            <p class="text-white mt-2">  پوست، مو و زیبایی </p>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center   mt-3">
                        <a class=" hover-icon" asp-action="ListOfSpecialists" asp-controller="Specialists" asp-area="">
                            <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/SpecialistDoctor.png" style="width:75px; height:75px; border:2px solid #ffffff;  border-radius:50% !important; " alt="">
                            <p class="text-white mt-2">  جراحی پلاستیک </p>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center   mt-3">
                        <a class=" hover-icon" asp-action="ListOfSuperSpecialists" asp-controller="Specialists" asp-area="">
                            <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/OverSpecialistDoctor.png" style="width:75px; height:75px; border:2px solid #ffffff;  border-radius:50% !important; " alt="">
                            <p class="text-white mt-2"> آزمایشگاهی و تشخیصی </p>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center j  mt-3">
                        <a class=" hover-icon" asp-action="ListOfDentists" asp-controller="Dentist" asp-area="">
                            <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/Dentist.jpg" style="width:75px; height:75px; border:2px solid #ffffff;  border-radius:50% !important;" alt="">
                            <p class="text-white mt-2"> قلب و عروق </p>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center j  mt-3">
                        <a class=" hover-icon" asp-action="ListOfDentists" asp-controller="Dentist" asp-area="">
                            <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/Dentist.jpg" style="width:75px; height:75px; border:2px solid #ffffff;  border-radius:50% !important;" alt="">
                            <p class="text-white mt-2"> دندانپزشکی </p>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center j  mt-3">
                        <a class=" hover-icon" asp-action="ListOfDentists" asp-controller="Dentist" asp-area="">
                            <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/Dentist.jpg" style="width:75px; height:75px; border:2px solid #ffffff;  border-radius:50% !important;" alt="">
                            <p class="text-white mt-2"> ارتوپدی </p>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center j  mt-3">
                        <a class=" hover-icon" asp-action="ListOfDentists" asp-controller="Dentist" asp-area="">
                            <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/Dentist.jpg" style="width:75px; height:75px; border:2px solid #ffffff;  border-radius:50% !important;" alt="">
                            <p class="text-white mt-2"> چشم پزشکی </p>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center j  mt-3">
                        <a class=" hover-icon" asp-action="ListOfDentists" asp-controller="Dentist" asp-area="">
                            <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/Dentist.jpg" style="width:75px; height:75px; border:2px solid #ffffff;  border-radius:50% !important;" alt="">
                            <p class="text-white mt-2"> جراحی زنان </p>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="row mt-5 text-white">
            <div class="col-lg-12 p-5 theme-bg-2 text-white text-center justify-content-center ">

                <h4 class="font-w-7  mt-3 text-white" > ثبت درخواست </h4>
               
                

            </div>
            
        </div>
    </div>
</section>
