@{
    ViewBag.Title = "  فم تور-فرایند سفر";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container">

        <div class="col-md-12 text-center justify-content-center ">
            <h2 class="hColorFontt famOnlinecolor">فم تور  </h2>

            <h4 class=" text-center justify-content-center" style="color:#2264c5;"> (سفرِ درمانی) </h4>



        </div>
        <div class="row mt-5 text-white">
           
            <div class="col-lg-12  p-5 theme-bg text-white text-center justify-content-center ">

                <h4 class="font-w-7  mt-3 text-white "> فرایند سفرِ درمانی </h4>



            </div>
           

        </div>
      
    </div>
</section>