@{
    ViewData["Title"] = "خانه سلامت";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">

    <!--case studies start-->

    <section>
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-8 col-md-12">
                    <div class="section-title">
                        <h6>خانه سلامت</h6>

                        <p class="text-center">
                            خانه سلامت یک فضای فیزیکی‌است که در آن اقدامات حمایتی و آموزشی جهت  فعالیت‌های مرتبط با سلامت انجام می‌شود. در این فضا به هیچ‌وجه اقدامات درمانی فاقد مجوز انجام نمی‌گیرد .

                        </p>
                        <h2 class="title">
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="cases-item text-center">
                        <a class=" hover-icon" asp-action="HomeVisit" asp-controller="HomeVisit">
                            <div class="cases-images">
                                <img class="img-fluid rounded box-shadow" src="~/Content/images/case-studies/01.jpg" alt="">
                            </div>
                            <div class="cases-desc">
                                <h5>ویزیت در منزل </h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="cases-item text-center">
                        <a class=" hover-icon" asp-action="HomeNurse" asp-controller="HomeNurse">
                            <div class="cases-images">
                                <img class="img-fluid rounded box-shadow" src="~/Content/images/case-studies/02.jpg" alt="">
                            </div>
                            <div class="cases-desc">
                                <h5>پرستاری در منزل </h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="cases-item text-center">
                        <a class=" hover-icon" asp-action="HomePharmacy" asp-controller="HomePharmacy">
                            <div class="cases-images">
                                <img class="img-fluid rounded box-shadow" src="~/Content/images/case-studies/03.jpg" alt="">
                            </div>
                            <div class="cases-desc">
                                <h5>داروخانه در منزل</h5>

                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="cases-item text-center">
                        <a class=" hover-icon" asp-action="HomeLaboratory" asp-controller="HomeLaboratory">
                            <div class="cases-images">
                                <img class="img-fluid rounded box-shadow" src="~/Content/images/case-studies/04.jpg" alt="">
                            </div>
                            <div class="cases-desc">
                                <h5>آزمایشگاه در منزل </h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="cases-item text-center">
                        <a class=" hover-icon" asp-action="HomePatientTransport" asp-controller="HomePatientTransport">
                            <div class="cases-images">
                                <img class="img-fluid rounded box-shadow" src="~/Content/images/case-studies/05.jpg" alt="">
                            </div>
                            <div class="cases-desc">
                                <h5>انتقال بیمار و متوفی </h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="cases-item text-center">
                        <a class=" hover-icon" asp-action="DeathCertificate" asp-controller="DeathCertificat">
                            <div class="cases-images">
                                <img class="img-fluid rounded box-shadow" src="~/Content/images/case-studies/06.jpg" alt="">
                            </div>
                            <div class="cases-desc">
                                <h5>صدور گواهی فوت </h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--case studies end-->

</div>