@{
    ViewData["Title"] = "محصولات سلامت";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-content">


    <section>
        <div class="container">
            <div class="row text-center text-align-justify text-align-center text-center ">
                <div class="col-lg-4 col-md-4 mt-5">
                    <div class="flip-box cases-item style-4 text-align-center text-align-justify text-center">
                        <div class="flip-box-inner text-align-center text-align-justify text-center">
                            <div class="flip-box-front" data-bg-img="/Content/images/case-studies/Equipment.jpg"></div>
                            <div class="flip-box-back" data-bg-img="/Content/images/case-studies/Equipment.jpg">
                                <div class="cases-desc text-align-center text-align-justify text-center">
                                    <span class="mt-3"> فروشگاه </span>
                                    <h5><a class=" hover-icon" asp-action="MedicalEquipment" asp-controller="Shop"> تجهیزات پزشکی و بیمارستانی  </a></h5>
                                    <p> فروش کلیه تجهیزات پزشکی و بیمارستانی جزیی, کلی, تخصصی و فوق تخصصی</p>
                                </div>

                            </div>
                        </div>
                        <h5 class="mt-4"><a href="~/Marketing/Home/Index"> تجهیزات پزشکی و بیمارستانی </a></h5>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 mt-5">
                    <div class="flip-box cases-item style-4 text-align-center text-align-justify text-center">
                        <div class="flip-box-inner text-align-center text-align-justify text-center">
                            <div class="flip-box-front" data-bg-img="/Content/images/case-studies/Hygienic.jpg"></div>
                            <div class="flip-box-back" data-bg-img="/Content/images/case-studies/Hygienic.jpg">
                                <div class="cases-desc text-align-center text-align-justify text-center">
                                    <span class="mt-3"> فروشگاه </span>
                                    <h5><a class=" hover-icon" asp-action="Cosmetic" asp-controller="Shop">  آرایشی و بهداشتی   </a></h5>
                                    <p> فروش بهترین لوازم آرایشی و بهداشتی در سراسر کشور</p>
                                </div>
                            </div>
                        </div>
                        <h5 class="mt-4"><a href="~/Marketing/Home/Index2"> لوازم آرایشی و بهداشتی </a></h5>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 mt-5">
                    <div class="flip-box cases-item style-4 text-align-center text-align-justify text-center">
                        <div class="flip-box-inner ">
                            <div class="flip-box-front" data-bg-img="/Content/images/case-studies/01.jpg"></div>
                            <div class="flip-box-back" data-bg-img="/Content/images/case-studies/01.jpg">
                                <div class="cases-desc ">
                                    <span class="mt-3"> فروشگاه </span>
                                    <h5><a class=" hover-icon" asp-action="MedicalEquipment" asp-controller="Shop"> مکمل ها  </a></h5>
                                    <p> فروش انواع مکملهای دارویی، ورزشی، کودک و ...</p>
                                </div>

                            </div>
                        </div>
                        <h5 class="mt-4"><a href="~/Marketing/Home/Index"> مکمل ها </a></h5>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 mt-5">
                    <div class="flip-box cases-item style-4 mt-5">
                        <div class="flip-box-inner">
                            <div class="flip-box-front" data-bg-img="/Content/images/case-studies/Books.jpg"></div>
                            <div class="flip-box-back" data-bg-img="/Content/images/case-studies/Books.jpg">
                                <div class="cases-desc">
                                    <span class="mt-3"> فرهنگی </span>
                                    <h5><a href="#"> کتب و مجلات   </a></h5>
                                    <p> تهیه و ارسال کتب و مجلات علمی, دانشگاهی, تخصصی و فوق تخصصی</p>
                                </div>
                            </div>
                        </div>
                        <h5 class="mt-4"><a href="case-studies-single.html"> کتب و مجلات </a></h5>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 mt-5">
                    <div class="flip-box cases-item style-4 mt-5">
                        <div class="flip-box-inner">
                            <div class="flip-box-front" data-bg-img="/Content/images/case-studies/Insurance.jpg"></div>
                            <div class="flip-box-back" data-bg-img="/Content/images/case-studies/Insurance.jpg">
                                <div class="cases-desc">
                                    <span class="mt-3"> بیمه </span>
                                    <h5><a href="#"> خدمات بیمه   </a></h5>
                                    <p> ارایه انواع خدمات بیمه و کارگزاری </p>
                                </div>
                            </div>
                        </div>
                        <h5 class="mt-4"><a href="case-studies-single.html"> خدمات بیمه </a></h5>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 mt-5">
                    <div class="flip-box cases-item style-4 mt-5">
                        <div class="flip-box-inner">
                            <div class="flip-box-front" data-bg-img="/Content/images/case-studies/05.jpg"></div>
                            <div class="flip-box-back" data-bg-img="/Content/images/case-studies/05.jpg">
                                <div class="cases-desc">
                                    <span class="mt-3"> مشاور حقوقی </span>
                                    <h5><a href="#"> حقوقی    </a></h5>
                                    <p> ارایه خدمات و مشاوره حقوقی </p>
                                </div>
                            </div>
                        </div>
                        <h5 class="mt-4"><a href="case-studies-single.html"> مشاور حقوقی </a></h5>
                    </div>
                </div>

            </div>
        </div>
    </section>


</div>