
@{
    ViewData["Title"] = "خدمات سلامت";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  <div class="page-content">

            <!--case studies start-->

            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="cases-item style-3 text-center">
                                <div class="cases-images">
                                    <img class="img-fluid rounded box-shadow" src="~/Content/images/case-studies/01.jpg" alt="">
                                </div>
                                  <div class="cases-desc"> <span> دیابت </span>
                                    <h5><a href="#"> پیشگیری, مراقبت و درمان </a></h5>
                                    <p> آنچه برای پیشگیری از ابتلا به دیابت و یا پس از ابتلا برای مراقبت و درمان نیاز دارید.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 sm-mt-5">
                            <div class="cases-item style-3 text-center">
                                <div class="cases-images">
                                    <img class="img-fluid rounded box-shadow" src="~/Content/images/case-studies/02.jpg" alt="">
                                </div>
                                 <div class="cases-desc"> <span> فشار خون </span>
                                    <h5><a href="#"> کنترل و مراقبت </a></h5>
                                    <p> با کنترل و مراقبت روزانه خطرات ناشی از فشار خون بالا را به حداقل برسانید.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 md-mt-5">
                            <div class="cases-item style-3 text-center">
                                <div class="cases-images">
                                    <img class="img-fluid rounded box-shadow" src="~/Content/images/case-studies/03.jpg" alt="">
                                </div>
                                <div class="cases-desc"> <span> تغذیه </span>
                                    <h5><a href="#"> برنامه ریزی و اصلاح رفتار غذایی </a></h5>
                                    <p> با اصلاح رفتار غذایی ضمن پیشگیری از ابتلا به بیماریهای مختلف زندگی سالمی داشته باشید.</p>
                                </div>                           
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-5">
                            <div class="cases-item style-3 text-center">
                                <div class="cases-images">
                                    <img class="img-fluid rounded box-shadow" src="~/Content/images/case-studies/04.jpg" alt="">
                                </div>
                               <div class="cases-desc"> <span> پوست و زیبایی </span>
                                    <h5><a href="#"> مراقبت و درمان </a></h5>
                                    <p> انجام اقدامات درمانی و مراقبتی برای داشتن پوستی سالم و زیبا</p>
                                </div>  
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-5">
                            <div class="cases-item style-3 text-center">
                                <div class="cases-images">
                                    <img class="img-fluid rounded box-shadow" src="~/Content/images/case-studies/05.jpg" alt="">
                                </div>
                                <div class="cases-desc"> <span> ورزش و تناسب اندام </span>
                                    <h5><a href="#"> برنامه ریزی سالم </a></h5>
                                    <p> با داشتن یک برنامه سالم و علمی ورزشی در شرایط مختلف بدنی زندگی سالمی را تجربه کنید. </p>
                                </div> 
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-5">
                            <div class="cases-item style-3 text-center">
                                <div class="cases-images">
                                    <img class="img-fluid rounded box-shadow" src="~/Content/images/case-studies/06.jpg" alt="">
                                </div>
                                 <div class="cases-desc"> <span> طب سنتی </span>
                                    <h5><a href="#"> زیر نظر متخصصین </a></h5>
                                    <p> استفاده از طب سنتی برای حفظ سلامت و بهداشت افراد تحت نظر متخصصین طب سنتی  </p>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!--case studies end-->

        </div>

