
  <!-- favicon icon -->
    <link rel="shortcut icon" href="~/Content/images/Logo/doctorfam-Icon_logo.png" />

    <!-- inject css start -->

    <!--== theme plugin -->
    <link href="~/Content/css/theme-plugin.css" rel="stylesheet" type="text/css" />

    <!--== style -->
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" />

    <!--== responsive -->
    <link href="~/Content/css/responsive.css" rel="stylesheet" type="text/css" />

    <!--== color-customizer -->
    <link href="#" data-style="styles" rel="stylesheet">
    <link href="~/Content/css/color-customize/color-customizer.css" rel="stylesheet" type="text/css" />
    <title> خانه سلامت دکتر فام </title>

<section class="fullscreen-banner p-0">
    <div class="container-fluid p-0 ">
        <div class="row ">
            <div class="col-lg-5 col-md-12  d-flex align-items-center text-center">
                <div class="w-100 container p-4">
                    <div class=" login-header  text-center">
                                    <a href="/Home" class="text-center align-items-center">

                                        <img class="logoImage text-center align-items-center" src="~/Content/images/Logo/doctorfam-Header-Logo.png" alt="دکترفام" />

                                    </a>
                                </div>

                    <h1 class="mt-4 mb-2 font-w-7"> به زودی </h1>
                    <p> ما محصولی <a href="/Home/SecPage" style="color:#5f6368;">جذاب</a> و هیجان انگیز به شما ارایه می کنیم </p>
                </div>
            </div>
            <div class="col-lg-7 col-md-12  dark-bg p-5 d-flex align-items-center">
                <div class="coming-soon w-100">
                    <ul class="countdown list-inline d-flex justify-content-between" data-countdown="2022/09/01"></ul>
                    <div>
                        <h4 class="title z-index-1 mb-4"> برای اطلاع رسانی مشترک شوید! </h4>
                        <div class="subscribe-form xs-w-100 w-50">
                            <form id="mc-form" class="group">
                                <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="آدرس ایمیل را وارد کنید" required="">
                                <input class=" btn btn-Accept" type="submit" name="subscribe" value="اشتراک">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


    <!--back-to-top start-->

    <div class="scroll-top"><a class="smoothscroll" href="#top"><i class="flaticon-top"></i></a></div>

    <!--back-to-top end-->


    <!--== jquery -->
    <script src="~/Content/js/theme.js"></script>

    <!--== theme-plugin -->
    <script src="~/Content/js/theme-plugin.js"></script>

    <!--== color-customize -->
    <script src="~/Content/js/color-customize/color-customizer.js"></script>

    <!--== theme-script -->
    <script src="~/Content/js/theme-script.js"></script>

    <!-- inject js end -->