@{
    ViewBag.Title = "صفحه نخست";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">

    <section class="Banner-select ">
        
        <div class="select-Banner ">

            <div class="d-flex align-items-center">

                <div class="container">
                    <h2 class="hColorFontt"> پزشک خانواده من </h2>
                    <div class="col-md-4 pricing-btn text-center">
                        <a asp-action="ListOfFamilyDoctors" asp-controller="FamilyDoctor" asp-area="" class="pricing-btn default-btn">مشاهده لیست پزشکان خانواده</a>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <div class="row  text-center justify-content-center mt-5">

        <div class=" col-md-3 single-pricing_Div theme-bg p-4 m-2   text-center justify-content-center">
            <h5 class="font-w-7 text-white mt-3">  خانه سلامت </h5>

            <p class="text-justify right text-light">
                آنچه <b>دکتر فم</b> در منزل به شما ارائه می دهد:
            </p>
            <hr />
            <div class="row mt-3 text-center justify-content-center">
                <div class="col-md-6 col-sm-6 text-center justify-content-center">
                    <a class=" hover-icon" asp-action="HomeVisit" asp-controller="HomeVisit">

                        <div class="featured-icon">

                            <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/HomeVisit.jpg" alt="">
                        </div>
                        <p class="text-white mt-2"> ویزیت در منزل </p>
                    </a>
                </div>
                <div class="col-md-6 col-sm-6 text-center justify-content-center">
                    <a class=" hover-icon" asp-action="HomeNurse" asp-controller="HomeNurse">

                        <div class="featured-icon">

                            <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/HouseNurse.jpg" alt="">
                        </div>
                        <p class="text-white mt-2"> پرستار در منزل </p>
                    </a>
                </div>
                @* <div class="col-md-6 col-sm-6 text-center justify-content-center">
                    <a class=" hover-icon" asp-action="HomePharmacy" asp-controller="HomePharmacy">
                    <div class="featured-icon">

                    <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/Pharmacy.jpg" alt="">
                    </div>
                    <p class="text-white mt-2"> داروخانه در منزل </p>
                    </a>
                    </div>*@
                <div class="col-md-6 col-sm-6 text-center justify-content-center">
                    <a class=" hover-icon" asp-action="HomeLaboratory" asp-controller="HomeLaboratory">

                        <div class="featured-icon">

                            <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/HomeLab.jpg" alt="">
                        </div>
                        <p class="text-white mt-2"> آزمایشگاه در منزل </p>
                    </a>
                </div>
                @* <div class="col-md-6 col-sm-6 text-center justify-content-center">
                    <a class=" hover-icon" asp-action="HomePatientTransport" asp-controller="HomePatientTransport">
                    <div class="featured-icon">

                    <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/Transfer.jpg" alt="">
                    </div>
                    <p class="text-white mt-2"> انتقال بیمار  </p>
                    </a>
                    </div>*@
                <div class="col-md-6 col-sm-6 text-center justify-content-center">
                    <a class=" hover-icon" asp-action="DeathCertificate" asp-controller="DeathCertificat">

                        <div class="featured-icon">

                            <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/Death.jpg" alt="">
                        </div>
                        <p class="text-white mt-2"> صدور گواهی فوت </p>
                    </a>
                </div>

                @*   <a class="btn hover-icon p-3 mt-3 text-center" style="border:1px solid #0b0637; border-radius:5px !important;" asp-action="HealthHouseItems" asp-controller="Home">
                    <span class="p-5"> بیشتر    </span>

                    </a>*@
            </div>
        </div>
        <div class=" col-md-3 single-pricing_Div  dark-bg p-4 m-2   text-center justify-content-center">
            <h5 class="font-w-7 text-white mt-3">  کلینیک سلامت</h5>
            <p class="text-justify right text-light">
                خدمات ویژه <b>دکتر فم</b> بر اساس  نیاز شما:
            </p>

            <hr />
            <div class="row mt-3 text-center justify-content-center">
                <div class="col-md-6 col-sm-6 text-center justify-content-center">
                    <a class=" hover-icon" asp-action="Index" asp-controller="Diabet">

                        <div class="featured-icon">

                            <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/Diabete.jpg" alt="">
                        </div>
                        <p class="text-white mt-2"> دیابت<p>
                    </a>
                </div>
                <div class="col-md-6 col-sm-6 text-center justify-content-center">
                    <a class=" hover-icon" asp-action="Index" asp-controller="BloodPressure">

                        <div class="featured-icon">

                            <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/Blod.jpg" alt="">
                        </div>
                        <p class="text-white mt-2"> فشار خون </p>
                    </a>
                </div>
                <div class="col-md-6 col-sm-6  text-center justify-content-center">
                    <a class=" hover-icon" asp-action="Index" asp-controller="Cancer">

                        <div class="featured-icon">

                            <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/Cancer.jpg" alt="">
                        </div>
                        <p class="text-white mt-2">سرطان</p>
                    </a>
                </div>
                <div class="col-md-6 col-sm-6  text-center justify-content-center">
                    <a class=" hover-icon" asp-action="Index" asp-controller="Psych">

                        <div class="featured-icon">

                            <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/Grow.jpg" alt="">
                        </div>
                        <p class="text-white mt-2"> روان </p>
                    </a>
                </div>
                @*  <div class="col-md-6 col-sm-6  text-center justify-content-center">
                    <a class=" hover-icon" asp-action="Index" asp-controller="TradMed">

                    <div class="featured-icon">

                    <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/Trad.jpg" alt="">
                    </div>
                    <p class="text-white mt-2">طب سنتی</p>
                    </a>
                    </div>*@
                @*   <div class="col-md-6 col-sm-6  text-center justify-content-center">
                    <a class=" hover-icon" asp-action="Index" asp-controller="Skin">

                    <div class="featured-icon">

                    <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/Skin.jpg" alt="">
                    </div>
                    <p class="text-white mt-2"> پوست و زیبائی </p>
                    </a>
                    </div>*@


                @*   <a class="btn hover-icon mt-3 p-3 text-center" style="border:1px solid #3143ef; border-radius:5px !important;" asp-action="HealthServicesItems" asp-controller="Home">
                    <span class="p-5"> بیشتر    </span>

                    </a>*@
            </div>
        </div>
        <div class=" col-md-3 single-pricing_Div  theme-bg-2 p-4 m-2   text-center justify-content-center">
            <h5 class="font-w-7 text-white mt-3">  بازار سلامت </h5>
            <p class="text-justify right text-light">
                از فروشگاه سلامت <b>دکتر فم</b> دیدن نمایید:
            </p>

            <hr />
            <div class="row mt-3 text-center justify-content-center">

                <div class="col-md-6 col-sm-6 text-center justify-content-center">
                    <a class=" hover-icon" asp-action="MedicalEquipment" asp-controller="Shop">

                        <div class="featured-icon">

                            <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/Equipment.jpg" alt="">
                        </div>
                        <p class="text-white mt-2"> تجهیزات پزشکی  </p>
                    </a>
                </div>

                <div class="col-md-6 col-sm-6 text-center justify-content-center">
                    <a class=" hover-icon" asp-action="Cosmetic" asp-controller="Shop">

                        <div class="featured-icon">
                            <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/Cosmetics.jpeg" alt="">

                        </div>
                        <p class="text-white mt-2">  آرایشی وبهداشتی </p>
                    </a>
                </div>
                @* <div class="col-md-6 col-sm-6 text-center justify-content-center">
                    <a class=" hover-icon" asp-action="MedicalEquipment" asp-controller="Shop">

                    <div class="featured-icon">

                    <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/Adjective.jpeg" alt="">
                    </div>
                    <p class="text-white mt-2"> مکمل ها  </p>
                    </a>
                    </div>*@
                @*  <div class="col-md-6 col-sm-6 text-center justify-content-center">
                    <a class=" hover-icon">

                    <div class="featured-icon">

                    <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/Books.jpg" alt="">
                    </div>
                    <p class="text-white mt-2"> کتب و مجلات </p>
                    </a>
                    </div>*@
                <div class="col-md-6 col-sm-6 text-center justify-content-center">
                    <a class=" hover-icon">

                        <div class="featured-icon">

                            <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/Insurance.jpg" alt="">
                        </div>
                        <p class="text-white mt-2"> خدمات بیمه </p>
                    </a>
                </div>
                <div class="col-md-6 col-sm-6 text-center justify-content-center">
                    <a class=" hover-icon">

                        <div class="featured-icon">

                            <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/Legal.jpeg" alt="">
                        </div>
                        <p class="text-white mt-2"> مشاوره حقوقی </p>
                    </a>
                </div>

                @* <a class="btn hover-icon mt-3 p-3 text-center" style="border:1px solid #0b0637; border-radius:5px !important;" asp-action="HealthProductsItems" asp-controller="Home">
                    <span class="p-5"> بیشتر    </span>

                    </a>*@

            </div>
        </div>

    </div>
    <section class="patient-select mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="select-box aos m-3" data-aos="fade-up">
                        <div class="d-flex align-items-center">
                            <div class="image-holder">
                                <span>
                                    <img src="~/Content/Doctor/assets/img/icons/doct-01.png" alt="" />
                                </span>
                            </div>
                            <div>
                                <h2>معرفی پزشکان</h2>
                                <p>پزشک مورد نظر خود را جستجو و اطلاعات خود را تکمیل نمایید. </p>
                                <div class="row">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-7 text-center justify-content-center">
                                        <a class="book-now  hover-icon" asp-action="DoctorIntrud" asp-controller="Home">مشاهده</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="select-box theme aos m-3" data-aos="fade-up">
                        <div class="d-flex align-items-center">
                            <div class="image-holder">
                                <span>
                                    <img src="~/Content/Doctor/assets/img/icons/doct-02.png" alt="" />
                                </span>
                            </div>
                            <div>
                                <h2>معرفی مراکز</h2>
                                <p>مرکز درمانی مورد نظر خود را بیابید و اطلاعات مورد نیازتان را جویا شوید. </p>
                                <div class="row">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-7 text-center justify-content-center">
                                        <a class="book-now  hover-icon" asp-action="CentersIntrud" asp-controller="Home">مشاهده</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @* <section class=" pt-0 mt-8 custom-mt-10 sm-mt-0">
        <div class="container">
        <div class="row">
        <div class="col-md-12">
        <div class="row  ">
        <div class="col-md-6 mt-3 text-center justify-content-center">
        <section class="banner p-0  fullscreen-banner">
        <div class="banner-slider owl-carousel no-pb" data-dots="false" data-nav="true">
        <div class="item" data-bg-img="/Content/images/bg/02.jpg" data-overlay="5">
        <div class="align-center">
        <div class="container">
        <div class="row justify-content-center text-center">
        <div class="col-lg-7 col-md-12">
        <h1 class="mb-4 text-white animated1"> نوبت گیری </h1>
        <p class="lead text-white animated2">  اخذ نوبت از مراکز پر ترافیک درمانی در سراسر کشور </p>
        <div class="animated3 mt-5">
        <a class="btn-Accept " href="#">
        ثبت درخواست
        </a>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="item" data-bg-img="/Content/images/bg/01.jpg" data-overlay="5">
        <div class="align-center">
        <div class="container">
        <div class="row justify-content-center text-center">
        <div class="col-lg-7 col-md-12">
        <h1 class="mb-4 text-white animated1"> مددکاری </h1>
        <p class="lead text-white animated2"> معرفی بیماران مبتلا به سرطان به موسسات خیریه </p>
        <div class="animated3 mt-5">
        <a class="btn-Accept " href="#">
        ثبت درخواست
        </a>

        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </section>
        </div>
        <div class="col-md-6  ">
        <div class="col-md-12 mt-5">
        <div class="select-box2 theme aos" data-aos="fade-up">
        <div class="d-flex align-items-center">
        <div class="image-holder">
        <span>
        <img src="~/Content/Doctor/assets/img/icons/doct-02.png" alt="" />
        </span>
        </div>
        <div>
        <h2>نوبت گیری</h2>
        <p>در این بخش به شما در اخذ نوبت از مراکز درمانی و پزشکانی که در مجموعه دکترفم حضور ندارند کمک می کنیم.</p>
        <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-7 text-center justify-content-center">
        <a href="booking.html" class="book-now ">مشاهده</a>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="col-md-12 mt-5">
        <div class="select-box2 theme aos" data-aos="fade-up">
        <div class="d-flex align-items-center">
        <div class="image-holder">
        <span>
        <img src="~/Content/Doctor/assets/img/icons/doct-02.png" alt="" />
        </span>
        </div>
        <div>
        <h2>مددکاری</h2>
        <p>در این بخش تلاش می کنیم بیماران مبتلا به سرطان را جهت دریافت کمکهای درمانی به مراکز مددکاری معرفی نمائیم. </p>
        <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-7 text-center justify-content-center">
        <a href="booking.html" class="book-now ">مشاهده</a>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </section>*@





    <div class=" mt-5  pl-3 pr-3">
        <div class="row mt-3 text-center">
            <div class="col-lg-12 col-md-12  text-center ">
                <div class="section-title">
                    <h2 class="title"> دانستنیهای سلامت </h2>
                    <h6 class="col-md-8 text-center"> جامعه سالم نتیجه افراد آگاه است. آگاهی در حوزه سلامت به شما کمک میکند ضمن آشنایی با بدن خود نسبت به بروز علایم بیماری حساس بوده و در خصوص بیماری های خود به طور صحیح نسبت به درمان اقدام نمایید.</h6>

                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="section-title">
                    <img src="~/Content/Radio/images/icons8.png" />
                    <h6> رادیو فم </h6>
                    <p class="title"> <b>رادیو فم</b> هر روز یک برنامه جدید در زمینه پزشکی و سلامت برای شما مخاطب عزیز ارائه میکند. </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div id="radio" class="container-fluid">
                    <div class="container">
                        <div class="radio-content">
                            <div class="radio-right">
                                <div class="radio-equalizer">
                                    <div id='music-bars' class="">
                                        <span class="four"></span>
                                        <span class="three"></span>
                                        <span class="one"></span>
                                        <span class="two"></span>
                                        <span class="four"></span>
                                        <span class="three"></span>
                                        <span class="one"></span>
                                        <span class="two"></span>
                                        <span class="four"></span>
                                        <span class="three"></span>
                                        <span class="one"></span>
                                        <span class="two"></span>
                                        <span class="four"></span>
                                        <span class="three"></span>
                                        <span class="one"></span>
                                        <span class="two"></span>
                                        <span class="four"></span>
                                        <span class="three"></span>
                                        <span class="one"></span>
                                        <span class="two"></span>
                                        <span class="four"></span>
                                        <span class="three"></span>
                                        <span class="one"></span>
                                        <span class="two"></span>
                                        <span class="four"></span>
                                        <span class="three"></span>
                                        <span class="one"></span>
                                        <span class="two"></span>
                                    </div>
                                </div>
                                <div class="radio-audio">
                                    <audio src="~/Content/Radio/music/experience.mp3" preload="none"></audio>
                                </div>
                            </div>
                            <div class="radio-left">
                                <div class="radio-folder">
                                    <i class="material-icons">folder_open</i>
                                </div>
                                <div class="radio-music-list-popup">
                                    <div class="radio-music-list-item">
                                        <a href="#">مشاهده همه</a>
                                    </div>
                                </div>
                                <div class="radio-controls">
                                    <div class="radio-next">
                                    </div>
                                    <div class="radio-stop-play">
                                    </div>
                                    <div class="radio-previous">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="widget">
                    <h6 class="widget-title"> جدیدترین برنامه  </h6>
                    <div class="recent-post">
                        <ul class="list-unstyled">
                            <li class="mb-1">
                                <div class="recent-post-thumb">
                                    <img class="img-fluid" src="~/Content/images/team/02.jpg" alt="">
                                </div>
                                <div class="recent-post-desc">
                                    <a href="blog-single.html"> مراقبت از چشم  </a>
                                    <span style="color:red; "> 14 مهر ، 1401 </span>

                                </div>
                                <a class="btn btn-acc   hover-icon  text-center" asp-action="TeleFamItems" asp-controller="Home">
                                    <span> ارتباط با کارشناس</span>
                                </a>
                            </li>
                            @* <li class="mb-4">
                                <div class="recent-post-thumb">
                                <img class="img-fluid" src="~/Content/images/team/04.jpg" alt="">
                                </div>
                                <div class="recent-post-desc">
                                <a href="blog-single.html"> تنوع محصولات دارویی </a>
                                <span style="color:red; "> 6 تیر ، 1401 </span>

                                </div>
                                <a class="btn btn-acc   hover-icon  text-center" asp-action="TeleFamItems" asp-controller="Home">
                                <span> ارتباط با کارشناس</span>
                                </a>
                                </li>*@

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row    ">
            <div class="col-lg-3 col-md-3 text-center">
                <div class="section-title">
                    <i class="fa fa-television fa-2x" style="color:#3143ef;" aria-hidden="true"></i>
                    <h6> تی وی فم </h6>
                    <p class="title"> در تلویزیون <b>دکتر فم</b> به صورت روزانه تماشاگر دانستنیهای علمی در زمینه پزشکی و سلامت باشید </p>
                </div>
            </div>
            <div class="col-md-6 align-items-center">
                <div class="video">
                    <video controls>
                        <source src="~/Content/Video/Bardari1.mp4" type="video/mp4">
                    </video>
                    <div class="overlay">
                        <img src="~/Content/images/tv-png-18664.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 text-center">
                <div class="widget">
                    <h6 class="widget-title"> جدیدترین برنامه  </h6>
                    <div class="recent-post">
                        <ul class="list-unstyled">
                            <li class="mb-1">
                                <div class="recent-post-thumb">
                                    <img class="img-fluid" src="~/Content/images/team/02.jpg" alt="">
                                </div>
                                <div class="recent-post-desc">
                                    <a href="blog-single.html"> مراقبت از چشم  </a>
                                    <span style="color:red; "> 14 مهر ، 1401 </span>

                                </div>
                                <a class="btn btn-acc   hover-icon  text-center" asp-action="TeleFamItems" asp-controller="Home">
                                    <span> ارتباط با کارشناس</span>
                                </a>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="mt-5" id="News">
        <div class="container">
            <div class="row mt-3 justify-content-center text-center">
                <div class="col-lg-8 col-md-12">
                    <div class="section-title">

                        <h2 class="title"> اخبار سلامت </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="post">
                        <div class="post-image">
                            <img class="img-fluid rounded w-100" src="~/Content/images/News/Varzesh.jpeg" style="height:230px !important;" alt="">
                        </div>
                        <div class="post-desc">
                            <div class="post-meta">
                                <ul class="list-inline">
                                    <li>
                                        <a href="https://per.euronews.com/2022/04/11/is-30-minutes-of-exercise-a-day-enough-to-keep-you-healthy" target="_blank"> اخبار سلامت </a>
                                    </li>
                                    <li> 23 مهر ، 1401 </li>
                                </ul>
                            </div>
                            <div class="post-title">
                                <h4><a href="https://per.euronews.com/2022/04/11/is-30-minutes-of-exercise-a-day-enough-to-keep-you-healthy" target="_blank"> آیا ۳۰ دقیقه ورزش در روز کافی است؟ </a></h4>
                            </div>
                            <div class="post-author">
                                <div class="post-author-img">
                                </div> <a href="https://per.euronews.com/2022/04/11/is-30-minutes-of-exercise-a-day-enough-to-keep-you-healthy" target="_blank"><span>  یورونیوز</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 md-mt-5">
                    <div class="post">
                        <div class="post-image">
                            <img class="img-fluid rounded w-100" src="~/Content/images/News/Einak.jpeg" style="height:230px !important;" alt="">
                        </div>
                        <div class="post-desc">
                            <div class="post-meta">
                                <ul class="list-inline">
                                    <li>
                                        <a href="https://www.khabaronline.ir/news/1683469/%D8%B9%D9%84%D8%A7%D8%A6%D9%85%DB%8C-%DA%A9%D9%87-%D9%86%D8%B4%D8%A7%D9%86-%D9%85%DB%8C-%D8%AF%D9%87%D9%86%D8%AF-%D8%A7%D8%AD%D8%AA%D9%85%D8%A7%D9%84%D8%A7-%D8%A8%D9%87-%D8%B9%DB%8C%D9%86%DA%A9-%D9%86%DB%8C%D8%A7%D8%B2-%D8%AF%D8%A7%D8%B1%DB%8C%D8%AF" target="_blank"> بهداشت چشم </a>
                                    </li>
                                    <li> 23 مهر ، 1401 </li>
                                </ul>
                            </div>
                            <div class="post-title">
                                <h4><a href="https://www.khabaronline.ir/news/1683469/%D8%B9%D9%84%D8%A7%D8%A6%D9%85%DB%8C-%DA%A9%D9%87-%D9%86%D8%B4%D8%A7%D9%86-%D9%85%DB%8C-%D8%AF%D9%87%D9%86%D8%AF-%D8%A7%D8%AD%D8%AA%D9%85%D8%A7%D9%84%D8%A7-%D8%A8%D9%87-%D8%B9%DB%8C%D9%86%DA%A9-%D9%86%DB%8C%D8%A7%D8%B2-%D8%AF%D8%A7%D8%B1%DB%8C%D8%AF" target="_blank"> علائمی که نشان می‌دهند احتمالا به عینک نیاز دارید. </a></h4>
                            </div>
                            <div class="post-author">
                                <div class="post-author-img">
                                </div><a href="https://www.khabaronline.ir/news/1683469/%D8%B9%D9%84%D8%A7%D8%A6%D9%85%DB%8C-%DA%A9%D9%87-%D9%86%D8%B4%D8%A7%D9%86-%D9%85%DB%8C-%D8%AF%D9%87%D9%86%D8%AF-%D8%A7%D8%AD%D8%AA%D9%85%D8%A7%D9%84%D8%A7-%D8%A8%D9%87-%D8%B9%DB%8C%D9%86%DA%A9-%D9%86%DB%8C%D8%A7%D8%B2-%D8%AF%D8%A7%D8%B1%DB%8C%D8%AF" target="_blank"> <span> خبرآنلاین </span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 md-mt-5">
                    <div class="post">
                        <div class="post-image">
                            <img class="img-fluid rounded w-100" src="~/Content/images/News/khoon.jpeg" style="height:230px !important;" alt="">
                        </div>
                        <div class="post-desc">
                            <div class="post-meta">
                                <ul class="list-inline">
                                    <li>
                                        <a href="https://www.irna.ir/news/84907582/%D8%AA%D8%A7%D9%85%DB%8C%D9%86-%DB%B4-%D9%85%DB%8C%D9%84%DB%8C%D9%88%D9%86-%D9%88%D8%A7%D8%AD%D8%AF-%D9%81%D8%B1%D8%A2%D9%88%D8%B1%D8%AF%D9%87-%D9%87%D8%A7%DB%8C-%D8%AE%D9%88%D9%86%DB%8C-%D8%A8%DB%8C%D8%B4-%D8%A7%D8%B2-%DB%8C%DA%A9-%D9%85%DB%8C%D9%84%DB%8C%D9%88%D9%86-%D9%86%D9%81%D8%B1-%D8%AE%D9%88%D9%86" target="_blank"> اهدای خون </a>
                                    </li>
                                    <li> 23 مهر ، 1401 </li>
                                </ul>
                            </div>
                            <div class="post-title">
                                <h4><a href="https://www.irna.ir/news/84907582/%D8%AA%D8%A7%D9%85%DB%8C%D9%86-%DB%B4-%D9%85%DB%8C%D9%84%DB%8C%D9%88%D9%86-%D9%88%D8%A7%D8%AD%D8%AF-%D9%81%D8%B1%D8%A2%D9%88%D8%B1%D8%AF%D9%87-%D9%87%D8%A7%DB%8C-%D8%AE%D9%88%D9%86%DB%8C-%D8%A8%DB%8C%D8%B4-%D8%A7%D8%B2-%DB%8C%DA%A9-%D9%85%DB%8C%D9%84%DB%8C%D9%88%D9%86-%D9%86%D9%81%D8%B1-%D8%AE%D9%88%D9%86" target="_blank"> بیش از یک میلیون نفر خون اهدا کردند. </a></h4>
                            </div>
                            <div class="post-author">
                                <div class="post-author-img">
                                </div><a href="https://www.irna.ir/news/84907582/%D8%AA%D8%A7%D9%85%DB%8C%D9%86-%DB%B4-%D9%85%DB%8C%D9%84%DB%8C%D9%88%D9%86-%D9%88%D8%A7%D8%AD%D8%AF-%D9%81%D8%B1%D8%A2%D9%88%D8%B1%D8%AF%D9%87-%D9%87%D8%A7%DB%8C-%D8%AE%D9%88%D9%86%DB%8C-%D8%A8%DB%8C%D8%B4-%D8%A7%D8%B2-%DB%8C%DA%A9-%D9%85%DB%8C%D9%84%DB%8C%D9%88%D9%86-%D9%86%D9%81%D8%B1-%D8%AE%D9%88%D9%86" target="_blank"> <span> ایرنا </span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="dark-bg parallaxie" data-bg-img="/Content/images/bg/slide-1.jpg" data-overlay="6">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-3 col-sm-6">
                    <div class="counter">
                        <span class="count-number" data-to="235" data-speed="200">235</span>
                        <span>+</span>
                        <h6> خدمت دهندگان </h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 xs-mt-5">
                    <div class="counter">
                        <span class="count-number" data-to="20" data-speed="200">20</span><span>+</span>
                        <h6> عرضه کنندگان محصولات </h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 sm-mt-5">
                    <div class="counter">
                        <span class="count-number" data-to="4000" data-speed="200">4000</span><span>+</span>
                        <h6> خدمت گیرندگان </h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 sm-mt-5">
                    <div class="counter">
                        <span class="count-number" data-to="15000" data-speed="200">15000</span><span>+</span>
                        <h6> بازدیدکنندگان</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pos-r pt-0 mt-8 mb-3 custom-mt-10 sm-mt-0">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row no-gutters box-shadow">
                        <div class="col-md-5 theme-bg p-5">
                            <div class="section-title mb-4">
                                <h2 class="title"> درخواست همکاری </h2>
                            </div>
                            <p class="line-h-3 text-rgba">
                                برای پیوستن به همکاران ما در استارت آپ <span style="font-size:22px; color:#fd5b03;">دکترفم</span> فرم زیر را تکمیل نموده و منتظر تماس ما باشید:
                            </p>
                            <form id="queto-form" method="post" action="http://themeht.com/consulterz/rtl/php/contact.php">
                                <div id="formmessage"></div>
                                <div class="form-group">
                                    <input id="form_name" type="text" name="name" class="form-control" placeholder="نام و نام خانوادگی " required="required" data-error="لطفا نام خود را وارد کنید .">
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <input id="form_email" type="email" name="email" class="form-control" placeholder="ایمیل " required="required" data-error="لطفا ایمیل خود را وارد کنید .">
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <input id="form_number" type="text" name="phone" class="form-control" placeholder="شماره همراه" required="required">
                                </div>
                                <div class="form-group">
                                    <select name="select" class="form-control">
                                        <option> - زمینه همکاری خود را انتخاب کنید </option>
                                        <option> پزشکی </option>
                                        <option> پیراپزشکی</option>
                                        <option> مشاور </option>
                                        <option> پشتیبان </option>
                                        <option> عرضه محصولات </option>
                                        <option> سایر </option>
                                    </select>
                                </div>
                                <button class="btn btn-2 btn-border white mt-5">
                                    <span class="btn-icon btn-arrow"></span>
                                    <span class="btn-text"> ارسال </span>
                                </button>
                            </form>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-lg-6 col-md-12 mt-5">
                            <div class="owl-carousel no-pb" data-items="1" data-margin="30" data-dots="false" data-autoplay="true">
                                <div class="item">
                                    <div class="post">
                                        <div class="post-image">
                                            <img class="img-fluid rounded w-100" src="~/Content/images/case-studies/HomeVisit.jpg" alt="">
                                        </div>
                                        <div class="post-desc">
                                            <div class="post-meta">
                                                <ul class="list-inline">
                                                    <li>
                                                        پزشکان، متخصصین، داروخانه ها و آزمایشگاهها
                                                    </li>

                                                </ul>
                                            </div>
                                            <div class="post-title">
                                                <h4><a href="blog-single.html"> پذیرش کادر محترم درمان در سراسر کشور </a></h4>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="post">
                                        <div class="post-image">
                                            <img class="img-fluid rounded w-100" src="~/Content/images/case-studies/Equipment.jpg" alt="">
                                        </div>
                                        <div class="post-desc">
                                            <div class="post-meta">
                                                <ul class="list-inline">
                                                    <li>
                                                        عرضه کنندگان محصولات و تجهیزات پزشکی
                                                    </li>

                                                </ul>
                                            </div>
                                            <div class="post-title">
                                                <h4><a href="blog-single.html"> با عرضه محصولات خود در بازار سلامت عضو خدمت دهندگان دکترفم شوید </a></h4>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>







</div>



@*<div class="pricing-area bg-f9fafb ">
    <div class="row  text-center justify-content-center">
    <table class="table-responsive-md table-responsive-sm">
    <tr>
    <div class="col-lg-3 col-md-3 col-sm-3 p-4 m-2">
    <div class="single-pricing-box bg-image  single-pricing_Div">
    <div class="pricing-header">
    <h5 class="hColorFontt">پزشک آنلاین</h5>
    </div>
    <div class="pricing-btn  text-center">
    <a asp-action="OnlineVisit" asp-area="" asp-controller="OnlineVisit" class="col-md-12 default-btn">پزشک آنلاین</a>
    </div>
    </div>
    </div>


    <div class="col-lg-12 col-md-12 col-sm-12 ">
    <div class="single-pricing-box bg-image">
    <div class="pricing-header">
    <h3 class="hColorFontt">پزشک خانواده من</h3>
    </div>
    <div class="pricing-btn  text-center">
    <a href="Home/DoctorIntrud" class="col-md-2 default-btn">پزشک خانواده من</a>
    </div>
    </div>
    </div>


    <div class="col-lg-3 col-md-3 col-sm-3 p-4 m-2">
    <div class="single-pricing-box bg-image">
    <div class="pricing-header">
    <h5 class="hColorFontt">پزشکان متخصص</h5>
    </div>
    <div class="pricing-btn  text-center">
    <a href="contact.html" class="col-md-12 default-btn">پزشکان متخصص</a>
    </div>
    </div>
    </div>
    </tr>
    </table>
    </div>
    </div>*@