@{
    ViewBag.Title = "صفحه نخست";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">

    <section class="Banner-select ">

        <div class="select-Banner ">

            <div class="d-flex align-items-center">

                <div class="container">
                    <h2 class="hColorFontt"> پزشکان عمومی و خانواده </h2>
                    <div class="col-md-4 pricing-btn text-center">
                        <a asp-action="ListOfFamilyDoctors" asp-controller="FamilyDoctor" asp-area="" class="pricing-btn default-btn">مشاهده </a>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="section section-featurebox">
        <div class="row  text-center justify-content-center ">

            <div class=" col-md-3 single-pricing_Div theme-bg p-4 m-2   text-center justify-content-center">
                <h5 class="font-w-7 text-white mt-3">  خانه سلامت </h5>

                <p class="text-justify right text-light">
                    آنچه <b>دکتر فم</b> در منزل به شما ارائه می دهد:
                </p>
                <hr />
                <div class="row mt-3 text-center justify-content-center">
                    <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center justify-content-center">
                        <a class=" hover-icon" asp-action="HomeVisit" asp-controller="HomeVisit">

                            <div class="featured-icon">

                                <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/HomeVisit.jpg" alt="">
                            </div>
                            <p class="text-white mt-2"> ویزیت در منزل </p>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center justify-content-center">
                        <a class=" hover-icon" asp-action="HomeNurse" asp-controller="HomeNurse">

                            <div class="featured-icon">

                                <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/HouseNurse.jpg" alt="">
                            </div>
                            <p class="text-white mt-2"> پرستار در منزل </p>
                        </a>
                    </div>
                    @* <div class="col-md-6 col-sm-6 text-center justify-content-center">
                    <a class=" hover-icon" asp-action="HomePharmacy" asp-controller="HomePharmacy">
                    <div class="featured-icon">

                    <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/Pharmacy.jpg" alt="">
                    </div>
                    <p class="text-white mt-2"> داروخانه در منزل </p>
                    </a>
                    </div>*@
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center justify-content-center">
                        <a class=" hover-icon" asp-action="HomeLaboratory" asp-controller="HomeLaboratory">

                            <div class="featured-icon">

                                <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/HomeLab.jpg" alt="">
                            </div>
                            <p class="text-white mt-2"> آزمایشگاه در منزل </p>
                        </a>
                    </div>
                    @* <div class="col-md-6 col-sm-6 text-center justify-content-center">
                    <a class=" hover-icon" asp-action="HomePatientTransport" asp-controller="HomePatientTransport">
                    <div class="featured-icon">

                    <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/Transfer.jpg" alt="">
                    </div>
                    <p class="text-white mt-2"> انتقال بیمار  </p>
                    </a>
                    </div>*@
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center justify-content-center">
                        <a class=" hover-icon" asp-action="DeathCertificate" asp-controller="DeathCertificat">

                            <div class="featured-icon">

                                <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/Death.jpg" alt="">
                            </div>
                            <p class="text-white mt-2"> صدور گواهی فوت </p>
                        </a>
                    </div>

                    @*   <a class="btn hover-icon p-3 mt-3 text-center" style="border:1px solid #0b0637; border-radius:5px !important;" asp-action="HealthHouseItems" asp-controller="Home">
                    <span class="p-5"> بیشتر    </span>

                    </a>*@
                </div>
            </div>
            <div class=" col-md-3 single-pricing_Div  dark-bg p-4 m-2   text-center justify-content-center">
                <h5 class="font-w-7 text-white mt-3">  کلینیک سلامت</h5>
                <p class="text-justify right text-light">
                    خدمات ویژه <b>دکتر فم</b> بر اساس  نیاز شما:
                </p>

                <hr />
                <div class="row mt-3 text-center justify-content-center">
                    <div class="col-md-6 col-sm-6 text-center justify-content-center">
                        <a class=" hover-icon" asp-action="Index" asp-controller="Diabet">
                            @* <a class=" hover-icon">*@
                            <div class="featured-icon">

                                <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/Diabete.jpg" alt="">
                            </div>
                            <p class="text-white mt-2"> دیابت<p>
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-6 text-center justify-content-center">
                        <a class=" hover-icon" asp-action="Index" asp-controller="BloodPressure">
                            @* <a class=" hover-icon">*@
                            <div class="featured-icon">

                                <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/Blod.jpg" alt="">
                            </div>
                            <p class="text-white mt-2"> فشار خون </p>
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-6  text-center justify-content-center">
                        @* <a class=" hover-icon" asp-action="Index" asp-controller="Cancer">*@
                        <a class=" hover-icon">
                            <div class="featured-icon">

                                <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/Cancer.jpg" alt="">
                            </div>
                            <p class="text-white mt-2">سرطان</p>
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-6  text-center justify-content-center">
                        @*<a class=" hover-icon" asp-action="Index" asp-controller="Psych">*@
                        <a class=" hover-icon">
                            <div class="featured-icon">

                                <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/Psyche.jpg" alt="">
                            </div>
                            <p class="text-white mt-2"> روان </p>
                        </a>
                    </div>
                    @*  <div class="col-md-6 col-sm-6  text-center justify-content-center">
                    <a class=" hover-icon" asp-action="Index" asp-controller="TradMed">

                    <div class="featured-icon">

                    <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/Trad.jpg" alt="">
                    </div>
                    <p class="text-white mt-2">طب سنتی</p>
                    </a>
                    </div>*@
                    @*   <div class="col-md-6 col-sm-6  text-center justify-content-center">
                    <a class=" hover-icon" asp-action="Index" asp-controller="Skin">

                    <div class="featured-icon">

                    <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/Skin.jpg" alt="">
                    </div>
                    <p class="text-white mt-2"> پوست و زیبائی </p>
                    </a>
                    </div>*@


                    @*   <a class="btn hover-icon mt-3 p-3 text-center" style="border:1px solid #3143ef; border-radius:5px !important;" asp-action="HealthServicesItems" asp-controller="Home">
                    <span class="p-5"> بیشتر    </span>

                    </a>*@
                </div>
            </div>
            <div class=" col-md-3 single-pricing_Div  theme-bg-2 p-4 m-2   text-center justify-content-center">
                <h5 class="font-w-7 text-white mt-3">  بازار سلامت </h5>
                <p class="text-justify right text-light">
                    از فروشگاه سلامت <b>دکتر فم</b> دیدن نمایید:
                </p>

                <hr />
                <div class="row mt-3 text-center justify-content-center">

                    <div class="col-md-6 col-sm-6 text-center justify-content-center">
                        <a class=" hover-icon" asp-action="Cosmetics" asp-controller="Home">

                            <div class="featured-icon">

                                <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/Equipment.jpg" alt="">
                            </div>
                            <p class="text-white mt-2"> تجهیزات پزشکی  </p>
                        </a>
                    </div>

                    <div class="col-md-6 col-sm-6 text-center justify-content-center">
                        <a class=" hover-icon" asp-action="Cosmetics" asp-controller="Home">

                            <div class="featured-icon">
                                <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/Cosmetics.jpeg" alt="">

                            </div>
                            <p class="text-white mt-2">  آرایشی وبهداشتی </p>
                        </a>
                    </div>
                    @* <div class="col-md-6 col-sm-6 text-center justify-content-center">
                    <a class=" hover-icon" asp-action="MedicalEquipment" asp-controller="Shop">

                    <div class="featured-icon">

                    <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/Adjective.jpeg" alt="">
                    </div>
                    <p class="text-white mt-2"> مکمل ها  </p>
                    </a>
                    </div>*@
                    <div class="col-md-6 col-sm-6 text-center justify-content-center">
                        <a class=" hover-icon">

                            <div class="featured-icon">

                                <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/Books.jpg" alt="">
                            </div>
                            <p class="text-white mt-2"> کتب و مجلات </p>
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-6 text-center justify-content-center">
                        <a class=" hover-icon" asp-action="Insurance" asp-controller="Home">

                            <div class="featured-icon">

                                <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/Insurance.jpg" alt="">
                            </div>
                            <p class="text-white mt-2"> خدمات بیمه </p>
                        </a>
                    </div>

                    @* <div class="col-md-6 col-sm-6 text-center justify-content-center">
                    <a class=" hover-icon">

                    <div class="featured-icon">

                    <img class="img-fluid rounded box-shadow divch" src="~/Content/images/case-studies/Legal.jpeg" alt="">
                    </div>
                    <p class="text-white mt-2"> مشاوره حقوقی </p>
                    </a>
                    </div>*@

                    @* <a class="btn hover-icon mt-3 p-3 text-center" style="border:1px solid #0b0637; border-radius:5px !important;" asp-action="HealthProductsItems" asp-controller="Home">
                    <span class="p-5"> بیشتر    </span>

                    </a>*@

                </div>
            </div>

        </div>
    </section>
    <section class="patient-select mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="select-box aos m-3" data-aos="fade-up">
                        <div class="d-flex align-items-center">
                            <div class="image-holder">
                                <span>
                                    <img src="~/Content/Doctor/assets/img/icons/doct-01.png" alt="" />
                                </span>
                            </div>
                            <div>
                                <h2> پزشکان و دندانپزشکان</h2>
                                <p>پزشک و یا دندانپزشک مورد نظر خود را جستجو و اطلاعات خود را تکمیل نمایید. </p>
                                <div class="row">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-7 text-center justify-content-center">
                                        <a class="book-now  hover-icon" asp-action="ListOfFamilyDoctors" asp-controller="FamilyDoctor" asp-area="">مشاهده</a>
                                        @*<a class="book-now  hover-icon" asp-action="DoctorIntrud" asp-controller="Home">مشاهده</a>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="select-box theme aos m-3" data-aos="fade-up">
                        <div class="d-flex align-items-center">
                            <div class="image-holder">
                                <span>
                                    <img src="~/Content/Doctor/assets/img/icons/doct-02.png" alt="" />
                                </span>
                            </div>
                            <div>
                                <h2> مراکز تشخیصی و درمانی</h2>
                                <p>مرکز تشخیصی و درمانی مورد نظر خود را بیابید و اطلاعات مورد نیازتان را جویا شوید. </p>
                                <div class="row">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-7 text-center justify-content-center">
                                        <a class="book-now  hover-icon" asp-action="CentersIntrud" asp-controller="Home">مشاهده</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <div class="container">
        <div class="row mt-3 text-center justify-content-center">

            <div class="col-md-3 text-center align-items-center">
                <div class="new-box  aos " data-aos="fade-up">
                    <div class="d-flex text-center align-items-center justify-content-center">

                        <a class="text-center align-items-center" asp-action="DrugStores" asp-controller="Home"><h2 class="text-center justify-content-center align-items-center mt-2">داروخانه ها</h2></a>




                    </div>
                </div>
            </div>
            <div class="col-md-6 ">
                <hr style="color:#fd5b03;" />
            </div>
            <div class="col-md-3 text-center align-items-center justify-content-center">
                <div class="new-box2  aos " data-aos="fade-up">
                    <div class="d-flex  text-center align-items-center justify-content-center">

                        <a class="text-center align-items-center" asp-action="Laboratory" asp-controller="Home"><h2 class="text-center justify-content-center align-items-center mt-2">آزمایشگاه ها</h2></a>

                    </div>
                </div>
            </div>

        </div>
    </div>
    @* <section class=" pt-0 mt-8 custom-mt-10 sm-mt-0">
    <div class="container">
    <div class="row">
    <div class="col-md-12">
    <div class="row  ">
    <div class="col-md-6 mt-3 text-center justify-content-center">
    <section class="banner p-0  fullscreen-banner">
    <div class="banner-slider owl-carousel no-pb" data-dots="false" data-nav="true">
    <div class="item" data-bg-img="/Content/images/bg/02.jpg" data-overlay="5">
    <div class="align-center">
    <div class="container">
    <div class="row justify-content-center text-center">
    <div class="col-lg-7 col-md-12">
    <h1 class="mb-4 text-white animated1"> نوبت گیری </h1>
    <p class="lead text-white animated2">  اخذ نوبت از مراکز پر ترافیک درمانی در سراسر کشور </p>
    <div class="animated3 mt-5">
    <a class="btn-Accept " href="#">
    ثبت درخواست
    </a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="item" data-bg-img="/Content/images/bg/01.jpg" data-overlay="5">
    <div class="align-center">
    <div class="container">
    <div class="row justify-content-center text-center">
    <div class="col-lg-7 col-md-12">
    <h1 class="mb-4 text-white animated1"> مددکاری </h1>
    <p class="lead text-white animated2"> معرفی بیماران مبتلا به سرطان به موسسات خیریه </p>
    <div class="animated3 mt-5">
    <a class="btn-Accept " href="#">
    ثبت درخواست
    </a>

    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    </div>
    <div class="col-md-6  ">
    <div class="col-md-12 mt-5">
    <div class="select-box2 theme aos" data-aos="fade-up">
    <div class="d-flex align-items-center">
    <div class="image-holder">
    <span>
    <img src="~/Content/Doctor/assets/img/icons/doct-02.png" alt="" />
    </span>
    </div>
    <div>
    <h2>نوبت گیری</h2>
    <p>در این بخش به شما در اخذ نوبت از مراکز درمانی و پزشکانی که در مجموعه دکترفم حضور ندارند کمک می کنیم.</p>
    <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-7 text-center justify-content-center">
    <a href="booking.html" class="book-now ">مشاهده</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-md-12 mt-5">
    <div class="select-box2 theme aos" data-aos="fade-up">
    <div class="d-flex align-items-center">
    <div class="image-holder">
    <span>
    <img src="~/Content/Doctor/assets/img/icons/doct-02.png" alt="" />
    </span>
    </div>
    <div>
    <h2>مددکاری</h2>
    <p>در این بخش تلاش می کنیم بیماران مبتلا به سرطان را جهت دریافت کمکهای درمانی به مراکز مددکاری معرفی نمائیم. </p>
    <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-7 text-center justify-content-center">
    <a href="booking.html" class="book-now ">مشاهده</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>*@


    <div class=" mt-5  pl-3 pr-3">
        <div class="row mt-3 text-center">
            <div class="col-lg-12 col-md-12  text-center ">
                <div class="section-title">
                    <h2 class="title"> دانستنیهای سلامت </h2>
                    <h6 class="col-md-8 text-center"> جامعه سالم نتیجه افراد آگاه است. آگاهی در حوزه سلامت به شما کمک میکند ضمن آشنایی با بدن خود نسبت به بروز علایم بیماری حساس بوده و در خصوص بیماری های خود به طور صحیح نسبت به درمان اقدام نمایید.</h6>

                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="section-title">
                    <img src="~/Content/Radio/images/icons8.png" />
                    <h6> رادیو فم </h6>
                    <p class="title"> <b>رادیو فم</b> هر روز یک برنامه جدید در زمینه پزشکی و سلامت برای شما مخاطب عزیز ارائه میکند. </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div id="radio" class="container-fluid">
                    <div class="container">
                        <div class="radio-content">
                            <div class="radio-right">
                                <div class="radio-equalizer">
                                    <div id='music-bars' class="">
                                        <span class="four"></span>
                                        <span class="three"></span>
                                        <span class="one"></span>
                                        <span class="two"></span>
                                        <span class="four"></span>
                                        <span class="three"></span>
                                        <span class="one"></span>
                                        <span class="two"></span>
                                        <span class="four"></span>
                                        <span class="three"></span>
                                        <span class="one"></span>
                                        <span class="two"></span>
                                        <span class="four"></span>
                                        <span class="three"></span>
                                        <span class="one"></span>
                                        <span class="two"></span>
                                        <span class="four"></span>
                                        <span class="three"></span>
                                        <span class="one"></span>
                                        <span class="two"></span>
                                        <span class="four"></span>
                                        <span class="three"></span>
                                        <span class="one"></span>
                                        <span class="two"></span>
                                        <span class="four"></span>
                                        <span class="three"></span>
                                        <span class="one"></span>
                                        <span class="two"></span>
                                    </div>
                                </div>
                                <div class="radio-audio">
                                    <audio src="~/Content/Radio/music/experience.mp3" preload="none"></audio>
                                </div>
                            </div>
                            <div class="radio-left">
                                <div class="radio-folder">
                                    <i class="material-icons">folder_open</i>
                                </div>
                                <div class="radio-music-list-popup">
                                    <div class="radio-music-list-item">
                                        <a href="#">مشاهده همه</a>
                                    </div>
                                </div>
                                <div class="radio-controls">
                                    <div class="radio-next">
                                    </div>
                                    <div class="radio-stop-play">
                                    </div>
                                    <div class="radio-previous">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3  text-center">

                <div class="row  p-3 text-center">
                    <div class="col-12 text-center">
                        <h6> برنامه های هفته جاری </h6>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 Divborder">
                        <p>شنبه</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 Divborder">
                        <p>یکشنبه</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 Divborder">
                        <p>دوشنبه</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 Divborder">
                        <p>سه شنبه</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 Divborder">
                        <p>چهارشنبه</p>
                    </div>
                    <div class="col-lg-34 col-md-4 col-sm-4 col-xs-4 Divborder">
                        <p>پنجشنبه</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row    ">
            <div class="col-lg-3 col-sm-3 col-xs-12 text-center">
                <div class="section-title">
                    <i class="fa fa-television fa-2x" style="color:#3143ef;" aria-hidden="true"></i>
                    <h6> تی وی فم </h6>
                    <p class="title"> در  <b>تی وی فم</b>  تماشاگر دانستنیهای علمی در زمینه پزشکی و سلامت باشید. </p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12 align-items-center">
                <div class="video">
                    <video controls>
                        <source src="~/Content/Video/Bardari1.mp4" type="video/mp4">
                    </video>
                    <div class="overlay">
                        <img src="~/Content/images/tv-png-18664.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center mt-4">
                <div class="row text-center">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <video class="thumbnail" onmouseover="this.play()" onmouseout="this.pause(); this.currentTime=0;" style="width:130px !important; height:130px !important;">
                            <source src="~/Content/Video/Retinopati-1.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <video class="thumbnail" onmouseover="this.play()" onmouseout="this.pause(); this.currentTime=0;" style="width:130px !important; height:130px !important;">
                            <source src="~/Content/Video/BloodPresure_1.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <video class="thumbnail" onmouseover="this.play()" onmouseout="this.pause(); this.currentTime=0;" style="width:130px !important; height:130px !important;">
                            <source src="~/Content/Video/Bardari1.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @*Lastest News For Show in Landing Page*@
    @await Component.InvokeAsync("LastestNewsOnLandingPage")



    <section class="dark-bg parallaxie" data-bg-img="/Content/images/bg/slider-1.jpg" data-overlay="6">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-3 col-sm-6">
                    <div class="counter">
                        <span class="count-number" data-to="235" data-speed="200">235</span>
                        <span>+</span>
                        <h6> خدمت دهندگان </h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 xs-mt-5">
                    <div class="counter">
                        <span class="count-number" data-to="20" data-speed="200">20</span><span>+</span>
                        <h6> عرضه کنندگان محصولات </h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 sm-mt-5">
                    <div class="counter">
                        <span class="count-number" data-to="4000" data-speed="200">4000</span><span>+</span>
                        <h6> خدمت گیرندگان </h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 sm-mt-5">
                    <div class="counter">
                        <span class="count-number" data-to="15000" data-speed="200">15000</span><span>+</span>
                        <h6> بازدیدکنندگان</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="pos-r pt-0 mt-8 mb-3 custom-mt-10 sm-mt-0">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row no-gutters box-shadow">
                        <div class="col-md-5 theme-bg p-5">
                            @await Component.InvokeAsync("CooperationRequest")
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-lg-6 col-md-12 mt-5">
                            <div class="owl-carousel no-pb" data-items="1" data-margin="30" data-dots="false" data-autoplay="true">
                                <div class="item">
                                    <div class="post">
                                        <div class="post-image">
                                            <img class="img-fluid rounded w-100" src="~/Content/images/case-studies/HomeVisit.jpg" alt="">
                                        </div>
                                        <div class="post-desc">
                                            @*<div class="post-meta">
                                            <ul class="list-inline">
                                            <li>
                                            پزشکان، متخصصین، داروخانه ها و آزمایشگاهها
                                            </li>

                                            </ul>
                                            </div>
                                            <div class="post-title">
                                            <h4><a href="blog-single.html"> پذیرش کادر محترم درمان در سراسر کشور </a></h4>
                                            </div>*@
                                            <div class="post-title text-center">
                                                <h4><a asp-action="CreateAdvertisement" asp-controller="CustomerAdvertisement" asp-area="UserPanel" class="btn btn-acc   hover-icon  text-center ">  پذیرش تبلیغات از سراسر کشور </a></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="post">
                                        <div class="post-image">
                                            <img class="img-fluid rounded w-100" src="~/Content/images/case-studies/Equipment.jpg" alt="">
                                        </div>
                                        <div class="post-desc">
                                            @*<div class="post-meta">
                                            <ul class="list-inline">
                                            <li>
                                            عرضه کنندگان محصولات و تجهیزات پزشکی
                                            </li>

                                            </ul>
                                            </div>*@
                                            <div class="post-title  text-center">
                                                <h4><a asp-action="CreateAdvertisement" asp-controller="CustomerAdvertisement" asp-area="UserPanel" class="btn btn-acc   hover-icon  text-center ">  پذیرش تبلیغات از سراسر کشور </a></h4>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>




</div>



@*<div class="pricing-area bg-f9fafb ">
    <div class="row  text-center justify-content-center">
    <table class="table-responsive-md table-responsive-sm">
    <tr>
    <div class="col-lg-3 col-md-3 col-sm-3 p-4 m-2">
    <div class="single-pricing-box bg-image  single-pricing_Div">
    <div class="pricing-header">
    <h5 class="hColorFontt">پزشک آنلاین</h5>
    </div>
    <div class="pricing-btn  text-center">
    <a asp-action="OnlineVisit" asp-area="" asp-controller="OnlineVisit" class="col-md-12 default-btn">پزشک آنلاین</a>
    </div>
    </div>
    </div>


    <div class="col-lg-12 col-md-12 col-sm-12 ">
    <div class="single-pricing-box bg-image">
    <div class="pricing-header">
    <h3 class="hColorFontt">پزشک خانواده من</h3>
    </div>
    <div class="pricing-btn  text-center">
    <a href="Home/DoctorIntrud" class="col-md-2 default-btn">پزشک خانواده من</a>
    </div>
    </div>
    </div>


    <div class="col-lg-3 col-md-3 col-sm-3 p-4 m-2">
    <div class="single-pricing-box bg-image">
    <div class="pricing-header">
    <h5 class="hColorFontt">پزشکان متخصص</h5>
    </div>
    <div class="pricing-btn  text-center">
    <a href="contact.html" class="col-md-12 default-btn">پزشکان متخصص</a>
    </div>
    </div>
    </div>
    </tr>
    </table>
    </div>
    </div>*@