@*@{
    ViewData["Title"] = "خدمات بیمه";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-content" >
<div class="container">
    <div class="row mt-2" >
        <div class="col-md-2 col-sm-2"></div>
        <div class="col-md-8 col-sm-8 text-center justify-content-center">            
                <div class="featured-icon">
                    <img class="img-fluid rounded box-shadow divch" style="border:1px solid #fd5b03;" src="~/Content/images/ADS/Bime.jpg" alt="">
                </div>
                <h3 class=" mt-2"> خدمات بیمه </h3>            
        </div>
        <div class="col-md-2 col-sm-2"></div>
    </div>
</div>
</div>*@



@{
    ViewData["Title"] = "خدمات بیمه";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="section section-featurebox">
    <div class="container">
        <div class="section-header text-center">
            <h2>
                خدمات بیمه
            </h2>
            
        </div>
        <div class="row justify-content-center">
            <div class="feature-col-list">
                <div class="feature-col">
                    <div class="feature-subox d-flex flex-wrap justify-content-center">
                        <img src="~/Content/images/ADS/Bime.jpg" class="img-fluid" alt="Features">
                        <h4> خدمات بیمه</h4>
                    </div>
                </div>
                
              
            </div>
        </div>
    </div>
</section>
