@{
    ViewBag.Title = "آزمایشگاهها";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="section section-featurebox">
    <div class="container">
        <div class="section-header text-center">
            <h2>
                آزمایشگاهها
            </h2>

        </div>

        <div class="row justify-content-center">

            <div class="col-md-12">
                <div class="feature-subox d-flex flex-wrap justify-content-center">
                    <img src="~/Content/img/features/Laboratory.jpg" class="img-fluid" alt="Features">
                    <h4>آزمایشگاه سیمرغ</h4>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature-subox d-flex flex-wrap justify-content-center">
                    <img src="~/Content/img/features/Laboratory1.jpg" class="img-fluid" alt="Features">
                    <h4>آزمایشگاه لاله</h4>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature-subox d-flex flex-wrap justify-content-center">
                    <img src="~/Content/img/features/Laboratory2.jpg" class="img-fluid" alt="Features">
                    <h4>آزمایشگاه آرش</h4>
                </div>
            </div>

            <hr />


            <div class="feature-col-list">
                <div class="feature-col">
                    <div class="feature-subox d-flex flex-wrap justify-content-center">
                        <img src="~/Content/img/features/feature-07.jpg" class="" alt="Features" style="width:800px;">
                        <h4>آزمایشگاه </h4>
                    </div>
                </div>
                <div class="feature-col">
                    <div class="feature-subox d-flex flex-wrap justify-content-center">
                        <img src="~/Content/img/features/feature-09.jpg" class="img-fluid" alt="Features">
                        <h4>آزمایشگاه  </h4>
                    </div>
                </div>
                <div class="feature-col">
                    <div class="feature-subox d-flex flex-wrap justify-content-center">
                        <img src="~/Content/img/features/feature-08.jpg" class="img-fluid" alt="Features">
                        <h4>آزمایشگاه </h4>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>