@{
    ViewBag.Title = "حریم خصوصی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-content">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="accordion" class="accordion">
                        
                      
                        <div class="card">
                            <div class="card-header">
                                <h6 class="mb-0">
                                    سیاستهای رعایت حریم خصوصی
                                </h6>
                            </div>
                            <div >
                                <div class="card-body">
                                   <p>
                                       1.	<b>دکترفم</b> به اطلاعات خصوصی اشخاصی که از خدمات سامانه استفاده می‏‌کنند، احترام گذاشته و از آن محافظت می‏‌کند. 
                                   </p>
                                   <p>
                                       2.	<b>دکترفم</b> متعهد می‏‌شود در حد توان از حریم شخصی شما دفاع کند و در این راستا، تکنولوژی مورد نیاز برای هرچه مطمئن‏‌تر و امن‏‌تر شدن استفاده شما از سامانه را، توسعه دهد. در واقع با استفاده از سامانه <b>دکترفم</b>، شما رضایت خود را از این سیاست نشان می‏‌دهید. 
                                   </p>
                                   <p>
                                       3.	همه مطالب در دسترس از طریق هر یک از خدمات <b>دکترفم</b>، مانند متن، گرافیک، آرم، آیکون دکمه، تصاویر، ویدئوهای تصویری، موارد قابل دانلود و کپی، داده‌ها و کلیه محتوای تولید شده توسط <b>دکترفم</b> جزئی از اموال <b>دکترفم</b> محسوب می‏‌شود و حق استفاده و نشر تمامی مطالب موجود و در دسترس در انحصار <b>دکترفم</b> است و هرگونه استفاده بدون کسب مجوز کتبی، حق پیگرد قانونی را برای <b>دکترفم</b> محفوظ می‏‌دارد. 
                                   </p>
                                   <p>
                                       4.	اسکریپت‌ها، و اسامی خدمات قابل ارائه از طریق هر یک از خدمات ایجاد شده توسط <b>دکترفم</b> و علائم تجاری ثبت شده نیز در انحصار <b>دکترفم</b> است و هر گونه استفاده با مقاصد تجاری پیگرد قانونی دارد. 
                                   </p>
                                   <p>
                                       5.	کاربران مجاز به بهره‌‏برداری و استفاده از لیست خدمات و محصولات و هر گونه استفاده از مشتقات سامانه <b>دکترفم</b> و یا هر یک از خدمات و یا مطالب، دانلود یا کپی کردن اطلاعات با مقاصد تجاری، هر گونه استفاده از داده کاوی، روبات، یا روش‌‏های مشابه مانند جمع آوری داده‌‏ها و ابزارهای استخراج، نیستند و کلیه این حقوق به صراحت برای <b>دکترفم</b> محفوظ است. 
                                   </p>
                                   <p>
                                       6.	تنها مرجع رسمی مورد تایید ما برای ارتباط با شما، پایگاه رسمی این سامانه یعنی <a href="http://doctorfam.com/" target="_blank">www.doctorfam.com</a> است. ما با هیچ روش دیگری جز روش های مندرج در صفحه "ارتباط با ما" در سایت فوق با شما تماس نمی‌‏گیریم. 
                                   </p>
                                   <p>
                                       7.	سامانه <b>دکترفم</b> هیچگونه سایت اینترنتی با آدرسی غیر از <a href="http://doctorfam.com/" target="_blank">www.doctorfam.com</a> ندارد و همچنین از طریق هیچ یک از  برنامه‏‌های گفتگوی اینترنتی با شما تماس نمی‏‌گیرد. کاربران جهت برقراری ارتباط، تنها می‏‌توانند از آدرس‌‏های ذکر شده در بخش ارتباط با ما استفاده کنند.
                                   </p>
                                </div>
                            </div>
                        </div>
                       
                      
       
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>