@{
    ViewBag.Title = "راهنمای سایت";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section section-featurebox">
    <div class="container">
        <div class="section-header text-center">
            <h2>
               راهنمای سامانه دکترفم
            </h2>
            <p class="sub-title">
               با استفاده از راهنمای تصویری سامانه دکترفم با بخشهای مختلف سامانه آشنا خواهید شد

            </p>
        </div>
        <div class="row justify-content-center">
            <div class="feature-col-list">
                <div class="feature-col text-center justify-content-center">
                    <div class="feature-subox d-flex flex-wrap text-center justify-content-center">
                        <img src="~/Content/img/features/feature-14.jpg" class="img-fluid" alt="Features">

                        <a href="~/Content\GuidLines\SiteGuid1_1.pdf" target="_blank">


                        <h4>بخش نخست</h4>
                        <h5>ثبت نام، ورود به سامانه و ...</h5>
                        </a>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</section>