 @{
    ViewBag.Title = "قوانین و مقررات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-content">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="accordion" class="accordion">
                        <div class="card ">
                            <div class="card-header">
                                <h6 class="mb-0">
                                    شرایط و قوانین استفاده از سرویس‌ها و خدمات <b>دکترفم</b>
                                </h6>
                            </div>
                            <div>
                                <div class="card-body">
                                    کاربر گرامی لطفاً موارد زیر را جهت استفاده بهینه از خدمات و برنامه‌‏های کاربردی <b>دکترفم</b> به دقت ملاحظه فرمایید.
                                    ورود کاربران به وب‏‌سایت <b>دکترفم</b> هنگام استفاده از پروفایل شخصی، طرح‏‌های تشویقی، ویدئوهای رسانه تصویری <b>دکترفم</b> و سایر خدمات ارائه شده توسط <b>دکترفم</b> به معنای آگاه بودن و پذیرفتن شرایط و قوانین و همچنین نحوه استفاده از سرویس‌‏ها و خدمات <b>دکترفم</b> است. توجه داشته باشید که ثبت سفارش نیز در هر زمان به معنی پذیرفتن کامل کلیه شرایط و قوانین <b>دکترفم</b> از سوی کاربر است. لازم به ذکر است شرایط و قوانین مندرج، جایگزین کلیه توافق‏‌های قبلی محسوب می‏‌شود.
                                </div>
                            </div>
                        </div>
                        <div class="card ">
                            <div class="card-header">
                                <h6 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true">مقررات عمومی <b>دکترفم</b> </a>
                                </h6>
                            </div>
                            <div id="collapse1" class="collapse show" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        1.	<b>دکترفم</b> سامانه ایست، جهت تسهیل ارتباط میان ارائه دهندگان خدمات حوزه سلامت، (کلیه اشخاص تحت نظام خاص، که با تایید سازمانی همانند نظام پزشکی کشور، فعالیت می کنند) و اشخاصی (کاربر عادی) که به نوعی به خدمات مختلف این حوزه نیازمندند و جایگزین مراجعه حضوری به پزشک نمی باشد.
                                    </p>
                                    <p>
                                        2.	کلیه مقررات، اصول و رویه‏‌های <b>دکترفم</b> منطبق  با قوانین جمهوری اسلامی ایران و همچنین مقررات، آیین نامه ها ، عرف یا رویه های مرتبط با حوزه سلامت است، از این رو کاربران <b>دکترفم</b> اعم از بیماران و  خدمت دهندگان نیز موظف به رعایت آنها می باشند و از آنجاییکه این مقررات و سایر قوانین بین‌المللی ناظر بر سرویس‌های قابل ارائه در <b>دکترفم</b> و قوانین انحصاری <b>دکترفم</b> همانند همه موارد مشابه در دنیا به طور آنلاین و ماهانه امکان تغییر دارند، شرکت «خانه سلامت دنیای فردا» حق تغییرات آتی در قوانین را برای خود محفوظ می‌داند و شما توافق می کنید که استفاده مستمر شما از سایت به منزله پذیرش هرگونه تغییر است.
                                    </p>
                                    <p>
                                        3.	استفاده از مطالب مندرج در سامانه <b>دکترفم</b> به طور مستقیم یا غیر مستقیم، منوط به کسب اجازه کتبی از شرکت «خانه سلامت دنیای فردا» می باشد.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h6 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"> مقررات کاربران عمومی <b>دکترفم</b> </a>
                                </h6>
                            </div>
                            <div id="collapse2" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                  <p>
                                      1.	کاربر عمومی، کاربریست که جهت استفاده از خدمات و امکانات <b>دکترفم</b>،  از طریق فرم مربوطه اقدام به ثبت اطلاعات کاربری در سامانه نموده است. مسئولیت صحت اطلاعات وارد شده بر عهده کاربر می باشد.
                                  </p> 
                                  <p>
                                      2.	اطلاعات کاربران نزد سامانه ی <b>دکترفم</b> محرمانه تلقی شده و محفوظ می باشد. 
                                  </p>
                                  <p>
                                      3.	اسفاده از کلمات موهن، نشر اکاذیب و ارسال مطالب عقیدتی ، سیاسی و قومی در <b>دکترفم</b> ممنوع است و پس از گزارش به آن رسیدگی خواهد شد.
                                  </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h6 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"> مقررات خدمت دهندگان <b>دکترفم</b></a>
                                </h6>
                            </div>
                            <div id="collapse3" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                   <p>
                                       1.	خدمت دهندگان کسانی هستند که جهت ارائه خدمت در هر بخش از سامانه ، اقدام به تکمیل فرم ثبت نام مربوطه می نمایند. خدمت دهندگان می بایست نسبت به تکمیل اطلاعات فردی و حرفه ای خود در پروفایلی که سامانه در اختیارشان قرار می دهد اقدام نمایند.
                                   </p>
                                   <p>
                                       2.	خدمت دهندگان می بایست مستندات و مجوزهای قانونی ارائه خدمات خود را، در اختیار سامانه <b>دکترفم</b> قرار دهند. 
                                   </p>
                                   <p>
                                       3.	اجازه ارائه خدمات در سامانه <b>دکترفم</b> منوط به احراز هویت خدمت دهندگان و اصالت مدارک ارائه شده توسط سامانه <b>دکترفم</b> می باشد. بدیهی است صحت اطلاعات و مدارک از طریق مراکز ذی صلاح بررسی خواهد شد.
                                   </p>
                                   <p>
                                       4.	خدمت دهندگان <b>دکترفم</b> مکلف هستند در صورت بروز هرگونه تغییر در مجوزهای قانونی خود، اعم از ممنوعیت موقت یا دایم از اشتغال و سایر موارد، مراتب را بلافاصله به <b>دکترفم</b> اعلام نمایند.
                                   </p>
                                   <p>
                                       5.	خدمات، محتوا و مطالب علمی، در سامانه <b>دکترفم</b> از دو طریق در اختیار کاربران قرار میگیرد. بخش نخست توسط سامانه ی <b>دکترفم</b> تولید، ارائه و مدیریت می گردد و بخش دوم توسط سایر خدمت دهندگان سامانه بارگزاری می گردد. در بخش دوم مسئولیت نوع، کیفیت و محتوای خدمات و مطالب علمی و آموزشی بر عهده خدمت دهندگان مربوطه می باشد و سامانه ی <b>دکترفم</b> مجاز است در صورت بروز هرگونه تخطی از موازین علمی و قوانین حاکم ، مداخله و یا اقدام به حذف مورد نماید.
                                   </p>
                                   <p>
                                       6.	برای  ارسال مطالب در سامانه ی <b>دکترفم</b>   ذکر منابع الزامیست.
                                   </p>
                                </div>
                            </div>
                        </div>

                          <div class="card">
                            <div class="card-header">
                                <h6 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">مقررات تراکنش های مالی</a>
                                </h6>
                            </div>
                            <div id="collapse4" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        1.	کلیه ی کاربران <b>دکترفم</b> پس از ثبت نام صاحب یک کیف پول شده که می توانند بخشی از تراکنش های خود را با آن انجام دهند.
                                    </p>
                                    <p>
                                        2.	در صورت بروز هرگونه مشکل در ارائه خدمات پس از واریز وجه، توسط کاربر، چنانچه اشکال از سوی سامانه باشد ، مسئولیت بازپرداخت وجه به کاربر ، بر عهده ی سامانه <b>دکترفم</b>  می باشد و پس از بررسی به حساب کاربر بازگردانده می شود.
                                    </p>
                                    <p>
                                        3.	<b>دکترفم</b> محصولات و خدماتی مناسب استفاده افراد زیر 18 سال ارائه میکند و در صورتی که کاربران از سن ذکر شده جوان‌‏تر هستند، می‌‏بایست با اطلاع والدین و یا قیم قانونی، به خرید و پرداخت اقدام کنند. 
                                    </p>
                                    <p>
                                        4.	در صورت استفاده از هر یک از خدمات <b>دکترفم</b>، کاربران مسئول حفظ محرمانه بودن حساب و رمز عبور خود هستند و تمامی مسئولیت فعالیت‌‏هایی که تحت حساب کاربری و یا رمز ورود انجام می‏‌پذیرد به عهده کاربران است. 
                                    </p>

                                </div>
                            </div>
                        </div>
                       
                        
                        <div class="card">
                            <div class="card-header">
                                <h6 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">ارتباطات الکترونیکی</a>
                                </h6>
                            </div>
                            <div id="collapse5" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                   <p>
                                       1.	هنگامی که شما از سرویس‌‏ها و خدمات <b>دکترفم</b> استفاده می‏‌کنید، سفارش اینترنتی خود را ثبت یا خرید می‏‌کنید و یا به <b>دکترفم</b> ایمیل می‏‌زنید، این ارتباطات به صورت الکترونیکی انجام می‏‌شود و در صورتی که درخواست شما با رعایت کلیه اصول و رویه‏‌ها باشد، شما موافقت می‌‏کنید که <b>دکترفم</b> به صورت الکترونیکی (از طریق پست الکترونیکی، سرویس پیام کوتاه و سایر سرویس‌های الکترونیکی) به درخواست شما پاسخ دهد. 
                                   </p>
                                   <p>
                                       2.	آدرس ایمیل و تلفن‌هایی که مشتری در پروفایل خود ثبت می‌کند، تنها آدرس ایمیل و تلفن‌های رسمی و مورد تایید مشتری است و تمام مکاتبات و پاسخ‌های شرکت از طریق آنها صورت می‌گیرد.
                                   </p>
                                   <p>
                                       3.	جهت اطلاع‌رسانی رویدادها، خدمات و سرویس‌های ویژه امکان دارد <b>دکترفم</b> برای اعضای وب سایت ایمیل یا پیامک یا نوتیفیکیشن ارسال نماید. دریافت این  پیامها با ثبت نام کاربر، بصورت خودکار توسط سامانه فعال گردیده و کاربر موافقت خود را با دریافت آن اعلام نموده است. 
                                   </p>
                                   <p>
                                       4.	سرشماره ی 100050004030 تنها شماره‌‌ایی است که <b>دکترفم</b> از طریق آن برای کاربران و مشتریان خود پیامک (اس ام اس) ارسال می‌کند و  وضعیت پردازش سفارش یا رویدادها، خدمات و سرویس‌های ویژه <b>دکترفم</b> را به اطلاع کاربران می‌رساند و روشن است که امکان دریافت پیام‌های شما از طریق آن وجود ندارد. همچنین ممکن است <b>دکترفم</b> از طریق همین شماره برای برخی کاربران یا مشتریان خود، سوال نظرسنجی ارسال کند. بنابراین ارسال هرگونه پیامک تحت عنوان <b>دکترفم</b>، با هر شماره دیگری تخلف و سوء استفاده از نام <b>دکترفم</b> است و در صورت دریافت چنین پیامکی، لطفاً جهت پیگیری قانونی آن را به doctorfam2022@gmail.com اطلاع دهید.
                                   </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h6 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">سیاستهای رعایت حریم شخصی</a>
                                </h6>
                            </div>
                            <div id="collapse6" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                   <p>
                                       1.	<b>دکترفم</b> به اطلاعات خصوصی اشخاصی که از خدمات سامانه استفاده می‏‌کنند، احترام گذاشته و از آن محافظت می‏‌کند. 
                                   </p>
                                   <p>
                                       2.	<b>دکترفم</b> متعهد می‏‌شود در حد توان از حریم شخصی شما دفاع کند و در این راستا، تکنولوژی مورد نیاز برای هرچه مطمئن‏‌تر و امن‏‌تر شدن استفاده شما از سامانه را، توسعه دهد. در واقع با استفاده از سامانه <b>دکترفم</b>، شما رضایت خود را از این سیاست نشان می‏‌دهید. 
                                   </p>
                                   <p>
                                       3.	همه مطالب در دسترس از طریق هر یک از خدمات <b>دکترفم</b>، مانند متن، گرافیک، آرم، آیکون دکمه، تصاویر، ویدئوهای تصویری، موارد قابل دانلود و کپی، داده‌ها و کلیه محتوای تولید شده توسط <b>دکترفم</b> جزئی از اموال <b>دکترفم</b> محسوب می‏‌شود و حق استفاده و نشر تمامی مطالب موجود و در دسترس در انحصار <b>دکترفم</b> است و هرگونه استفاده بدون کسب مجوز کتبی، حق پیگرد قانونی را برای <b>دکترفم</b> محفوظ می‏‌دارد. 
                                   </p>
                                   <p>
                                       4.	اسکریپت‌ها، و اسامی خدمات قابل ارائه از طریق هر یک از خدمات ایجاد شده توسط <b>دکترفم</b> و علائم تجاری ثبت شده نیز در انحصار <b>دکترفم</b> است و هر گونه استفاده با مقاصد تجاری پیگرد قانونی دارد. 
                                   </p>
                                   <p>
                                       5.	کاربران مجاز به بهره‌‏برداری و استفاده از لیست خدمات و محصولات و هر گونه استفاده از مشتقات سامانه <b>دکترفم</b> و یا هر یک از خدمات و یا مطالب، دانلود یا کپی کردن اطلاعات با مقاصد تجاری، هر گونه استفاده از داده کاوی، روبات، یا روش‌‏های مشابه مانند جمع آوری داده‌‏ها و ابزارهای استخراج، نیستند و کلیه این حقوق به صراحت برای <b>دکترفم</b> محفوظ است. 
                                   </p>
                                   <p>
                                       6.	تنها مرجع رسمی مورد تایید ما برای ارتباط با شما، پایگاه رسمی این سامانه یعنی <a href="http://doctorfam.com/" target="_blank">www.doctorfam.com</a> است. ما با هیچ روش دیگری جز روش های مندرج در صفحه "ارتباط با ما" در سایت فوق با شما تماس نمی‌‏گیریم. 
                                   </p>
                                   <p>
                                       7.	سامانه <b>دکترفم</b> هیچگونه سایت اینترنتی با آدرسی غیر از <a href="http://doctorfam.com/" target="_blank">www.doctorfam.com</a> ندارد و همچنین از طریق هیچ یک از  برنامه‏‌های گفتگوی اینترنتی با شما تماس نمی‏‌گیرد. کاربران جهت برقراری ارتباط، تنها می‏‌توانند از آدرس‌‏های ذکر شده در بخش ارتباط با ما استفاده کنند.
                                   </p>
                                </div>
                            </div>
                        </div>
                       
                      
       
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>