@model List<DoctorFAM.Domain.ViewModels.Site.OnlineVisit.ListOfShiftSiteSideViewModel>
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Application.Utils

@{
    ViewBag.Title = "شیفت های خالی روز - ";
}

@section Scripts
    {
    <partial name="_JqueryValidation" />
}

<div class="content">

    <div class="row" style="background-color: #aee5f7; border-bottom:1px solid #2264c5;  ">
        <div class="row text-center justify-content-center p-3">
            <div class="col-md-12 text-center justify-content-center">
                <h5>کاربر گرامی، جهت ویزیت آنلاین، از طریق پزشکان دکترفم،  ساعت مورد نظر خود را از لیست زیر انتخاب نمایید:</h5>
                <h6>پزشک آنلاین، در ساعت مقرر، با یکی از روشهای متنی یا تلفنی با شما تماس میگیرد.</h6>
            </div>
            <div class="col-md-12 text-center justify-content-center">
                <p>برقراری ارتباط از سوی پزشک، ممکن است تا حدود ده دقیقه با تاخیر همراه باشد.</p>
            </div>
            <div class="col-md-12 text-center justify-content-center" style="color:red">
                <span>در انتخاب زمان ویزیت دقت فرمایید. درصورت انصراف از ویزیت، فقط تا دو ساعت قبل از نوبت انتخاب شده، هزینه پرداختی، به کیف پول شما عودت داده می شود.</span>
            </div>
            <div class="col-md-12 text-center justify-content-center mt-3" >
                <a asp-action="ListOFDays" asp-area="" asp-controller="OnlineVisit" asp-route-userId="" class="btn btn-primary btn-Accept"> بازگشت به صفحه قبل (صفحه انتخاب تاریخ ویزیت) </a>
            </div>
        </div>

    </div>
    <section class="section section-featurebox">
    <div class="container">
        @if (Model != null && Model.Any())
        {
            
                    <div class="row">
                        <div class="col-md-12">

                            <div class="">
                            <ul class="clearfix" style="list-style:none; ">

                                    @foreach (var shiftTime in Model.OrderBy(p=> p.WorkShiftDateTimeId))
                                    {
                                    <li class="text-center justify-content-center form-group col-md-2 col-sm-12" style="margin-top:10px; padding:5px !important; background-color: #197c66; border: 1px solid #fccf9a;color: #fff;  display:inline-block;">
                                            <a asp-action="SelectShiftAndRedirectToBank"
                                               asp-area=""
                                               asp-controller="OnlineVisit"
                                               asp-route-businessKey="@shiftTime.businessKey"
                                               asp-route-WorkShiftDateTimeId="@shiftTime.WorkShiftDateTimeId"
                                               asp-route-WorkShiftDateId="@shiftTime.WorkShiftDateId"
                                           style="color: #fff; ">
                                              
                                            ساعت <span> @string.Concat(shiftTime.ShiftTime.Reverse().Skip(3).Reverse()) </span>
                                            </a>
                                        </li>
                                    }

                                </ul>
                            </div>

                        </div>
                    </div>
            
        }
    </div>

    </section>
</div>