@model List<DoctorFAM.Domain.ViewModels.Site.OnlineVisit.ListOfShiftSiteSideViewModel>
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Application.Utils

@{
    ViewBag.Title = "شیفت های خالی روز - ";
}

@section Scripts
    {
    <partial name="_JqueryValidation" />
}

<div class="content">
    <section class="section section-featurebox">
    <div class="container">
        @if (Model != null && Model.Any())
        {
            
                    <div class="row">
                        <div class="col-md-12">

                            <div class="">
                            <ul class="clearfix" style="list-style:none; ">

                                    @foreach (var shiftTime in Model)
                                    {
                                    <li class="form-group col-md-2 col-sm-12" style="margin-top:10px; display:inline-block;">
                                            <a asp-action="SelectShiftAndRedirectToBank"
                                               asp-area=""
                                               asp-controller="OnlineVisit"
                                               asp-route-businessKey="@shiftTime.businessKey"
                                               asp-route-WorkShiftDateTimeId="@shiftTime.WorkShiftDateTimeId"
                                               asp-route-WorkShiftDateId="@shiftTime.WorkShiftDateId"
                                               style="background-color: #197c66;border: 1px solid #fccf9a;color: #fff;">
                                                @shiftTime.ShiftTime
                                            </a>
                                        </li>
                                    }

                                </ul>
                            </div>

                        </div>
                    </div>
            
        }
    </div>

    </section>
</div>