@model List<DoctorFAM.Domain.ViewModels.Site.OnlineVisit.ListOfShiftSiteSideViewModel>
@using DoctorFAM.Application.Extensions
@using DoctorFAM.Application.Convertors
@using DoctorFAM.Application.Utils

@{
    ViewBag.Title = "شیفت های خالی روز - ";
}

@section Scripts
    {
    <partial name="_JqueryValidation" />
}

<div class="content">
    <div class="container">
        @if (Model != null && Model.Any())
        {
            <div class="card booking-schedule schedule-widget" style="margin-top:20px;margin-bottom:20px">
                <div class="schedule-cont">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="time-slot">
                                <ul class="clearfix">

                                    @foreach (var shiftTime in Model.OrderBy(p=> p.WorkShiftDateTimeId))
                                    {
                                        <li class="form-group col-md-2 col-sm-12" style="margin-top:10px;">
                                            <a asp-action="SelectShiftAndRedirectToBank"
                                               asp-area=""
                                               asp-controller="OnlineVisit"
                                               asp-route-businessKey="@shiftTime.businessKey"
                                               asp-route-WorkShiftDateTimeId="@shiftTime.WorkShiftDateTimeId"
                                               asp-route-WorkShiftDateId="@shiftTime.WorkShiftDateId"
                                               style="background-color: #197c66;border: 1px solid #fccf9a;color: #fff;">
                                                @shiftTime.ShiftTime
                                            </a>
                                        </li>
                                    }

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>