@{
    ViewData["Title"] = "مجله علمی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="pt-0 MagDivBG">
    <div class="">
        <div class="row  justify-content-center text-center ">
            <div class="col-md-2 "></div>
            <div class="col-md-7  ">
                <div class="section-title">
                    <h6 class="title mt-3"> مجله پزشکی  </h6>
                    <h4 class="title mt-1">  دکترفم </h4>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="justify-content-center text-center">
                    <h6 class="mt-3 justify-content-center text-center"> شماره نخست </h6>
                    <p class="justify-content-center text-center"> سال اول/مهرماه 1401</p>
                    <span class="justify-content-center text-center">20 صفحه</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="tab style-2">
                    <!-- Nav tabs -->
                    <div class="row">
                        <div class="col-md-2 mr-4">
                            <nav>
                                <div class="nav nav-tabs w-100" id="nav-tab-1" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-tab2-1" data-toggle="tab" href="#tab2-1" role="tab" aria-selected="true"><i class="flaticon-brainstorming"></i> یادداشت سردبیر </a>
                                    <a class="nav-item nav-link" id="nav-tab2-2" data-toggle="tab" href="#tab2-2" role="tab" aria-selected="false"><i class="flaticon-research"></i>  <span style="font-size:10PX;">مروری بر</span> <p>عناوین بالینی</p> </a>
                                    <a class="nav-item nav-link" id="nav-tab2-3" data-toggle="tab" href="#tab2-3" role="tab" aria-selected="false"><i class="flaticon-money"></i> مقالات برگزیده </a>
                                    <a class="nav-item nav-link" id="nav-tab2-4" data-toggle="tab" href="#tab2-4" role="tab" aria-selected="false"><i class="flaticon-arrow"></i> اخبار پزشکی </a>
                                    <a class="nav-item nav-link" id="nav-tab2-5" data-toggle="tab" href="#tab2-5" role="tab" aria-selected="false"><i class="flaticon-testing"></i> آزمون </a>
                                    <a class="nav-item nav-link" id="nav-tab2-6" data-toggle="tab" href="#tab2-6" role="tab" aria-selected="false"><i class="flaticon-money  "></i> معرفی بیماری </a>
                                </div>
                            </nav>
                        </div>
                        <div class="col-md-7 MagDiv ">
                            <div class="tab-content p-0" id="nav-tabContent1">
                                <div role="tabpanel" class="tab-pane fade show active" id="tab2-1">
                                    <img class="img-fluid rounded w-100 mb-4" src="images/services/01.jpg" alt="">
                                    <h4>یادداشت سردبیر </h4>
                                    <p class="text-justify"> ورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p> <a class="btn-simple" href="#" href="#"> بیشتر بیاموزید <i class="fas fa-long-arrow-alt-left"></i></a>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab2-2">
                                    <img class="img-fluid rounded w-100 mb-4" src="images/services/02.jpg" alt="">
                                    <h4> مروری بر عناوین بالینی </h4>
                                    <p class="text-justify"> ورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p> <a class="btn-simple" href="#"> بیشتر بیاموزید <i class="fas fa-long-arrow-alt-left"></i></a>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab2-3">
                                    <img class="img-fluid rounded w-100 mb-4" src="images/services/03.jpg" alt="">
                                    <h4> مقالات برگزیده </h4>
                                    <div class="card">
                                        <div class="card-body">
                                            <ul class="nav nav-tabs nav-tabs-solid">
                                                <li class="nav-item"><a class="nav-link active" href="#solid-tab1" data-bs-toggle="tab">آبله میمون</a></li>
                                                <li class="nav-item"><a class="nav-link" href="#solid-tab2" data-bs-toggle="tab">بازگشت شیوع سرخک در سال 2022</a></li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane show active" id="solid-tab1">
                                                    <h5>حقایق کلیدی</h5>
                                                    <ul>
                                                        <li>
                                                            واکسن های مورد استفاده در طول برنامه ریشه کنی آبله، همچنین محافظت لازم در برابر آبله میمون را فراهم کردند. از میان واکسن های جدیدتری که اخیرا ساخته شده است، یکی برای پیشگیری از آبله میمون تایید شده است.
                                                        </li>
                                                        <li>
                                                            آبله میمون توسط ویروس آبله ی میمون که عضوی از جنس Orthopoxvirus از خانواده Poxviridae  می باشد، ایجاد می شود.
                                                        </li>
                                                        <li>
                                                            آبله میمون معمولاً یک بیماری خود محدود شونده است که علائم آن بین 2 تا 4 هفته طول می کشد. موارد شدید این عفونت نیز ممکن است رخ دهد. اخیرا، نسبت مرگ و میر در حدود 3-6٪ گزارش شده است.
                                                        </li>
                                                        <li>
                                                            آبله میمون از طریق تماس نزدیک با شخص یا حیوان آلوده یا با مواد آلوده به ویروس به انسان منتقل می شود.
                                                        </li>
                                                        <li>
                                                            ویروس آبله میمون از طریق تماس نزدیک با ضایعات، مایعات بدن، قطرات تنفسی و مواد آلوده مانند ملحفه از فردی به فرد دیگر منتقل می شود.
                                                        </li>
                                                        <li>
                                                            آبله میمون یک بیماری مشترک بین انسان و دام است که عمدتاً در مناطق جنگل های بارانی استوایی مرکز و غرب آفریقا رخ می دهد و گهگاه به مناطق دیگر صادر می شود.
                                                        </li>
                                                        <li>
                                                            یک عامل ضد ویروسی توسعه یافته برای درمان آبله، همچنین برای درمان آبله میمون مجوز گرفته است.
                                                        </li>
                                                        <li>
                                                            تظاهرات بالینی آبله میمون شبیه به آبله است- یک عفونت ارتوپاکس ویروسی که ریشه کن شدن آن در سراسر جهان در سال 1980 اعلام شد. آبله میمون کمتر از آبله مسری است و بیماری ناشی از آن شدت کمتری دارد.
                                                        </li>
                                                        <li>
                                                            تظاهرات بالینی آبله میمون معمولاً تب، بثورات و غدد لنفاوی متورم است اما ممکن است منجر به طیف وسیعی از عوارض پزشکی شود.
                                                        </li>
                                                    </ul>
                                                    <h5>مقدمه</h5>
                                                    <p>
                                                        آبله میمون یک بیماری ویروسی مشترک بین انسان و دام  با علائمی مشابه علائمی است که در گذشته در بیماران مبتلا به آبله دیده می شد، اگرچه از نظر بالینی شدت آن کمتر است. با ریشه کن کردن آبله در سال 1980 و متعاقباً توقف واکسیناسیون آبله، آبله میمون به عنوان مهم ترین ویروس ارتوپاکس برای سلامت عمومی مطرح شد. آبله میمون عمدتاً در مرکز و غرب آفریقا، اغلب در مجاورت جنگل های بارانی استوایی رخ می دهد و به طور فزاینده ای در مناطق شهری و حومه ظاهر می شود. میزبان حیوانی این ویروس شامل طیفی از جوندگان و پستانداران غیر انسانی هستند.
                                                    </p>




                                                </div>
                                                <div class="tab-pane" id="solid-tab2">
                                                    <p>
                                                        14 ژوئن 2022 آخرین اطلاعات شیوع سرخک نشان می دهد در حالی که موارد بسیار کمی سرخک در طول همه گیری COVID-19 مشاهده شده است، موارد سرخک اکنون توسط کشورهایی گزارش می شود که قبلاً انتقال سرخک بومی را ریشه کن کرده یا متوقف کرده بودند.
                                                    </p>
                                                    <p>
                                                        سازمان بهداشت جهانی گزارش داد که موارد سرخک در سراسر جهان در دو ماه اول سال 2022 نسبت به مدت مشابه در سال قبل، 79 درصد افزایش یافته است.
                                                    </p>
                                                    
                                                    <div class="row text-center justify-content-center">
                                                        
                                                        <div class="col-md-12 justify-content-center text-center">
                                                            <img src="~/Content/images/MedicinMag/Mag_Sorkhak_1.jpg" width="450"/>
                                                        </div>
                                                        
                                                    </div>
                                                    <p>
                                                        در اردیبهشت سال جاری، جمهوری اسلامی ایران اعلام کرد که تعداد موارد تایید شده ی سرخک در شش ماه گذشته از ۱۰۰ مورد فراتر رفته است. افزایش ناگهانی تعداد پناهجویانی که از مرداد ۱۴۰۰ از افغانستان به ایران آمده ‌اند و تاخیر در پوشش ‌دهی واکسیناسیون معمول برای کودکان ایرانی و افغانستانی در زمان همه ‌گیری ویروس کرونا، از دلایل احتمالی افزایش موارد ابتلا به سرخک در ایران هستند.
                                                    </p>
                                                    <p>
                                                        یک بررسی ملی شیوع سرخک، اوریون و سرخجه، با هدف بررسی آنتی بادی اختصاصی ایمونوگلوبولین  (IgG) علیه سرخک، اوریون و سرخجه (MMR) در کودکان و نوجوانان ایرانی سال‌ ها پس از واکسیناسیون، در سال 2022 انجام شد. نتایج این مطالعه¬ ی مقطعی نشان داد که علی‌ رغم پوشش بالای واکسیناسیون در ایران، آنتی ‌بادی IgG علیه سرخک، اوریون و سرخجه در نسبت قابل‌ توجهی از کودکان و نوجوانان 7 تا 18 ساله، شناسایی نشد. این یافته ها نشان می دهد که تماس با ساکنان کشورهای دیگر که عفونت سرخک یا سرخجه هنوز در آنجا ریشه کن نشده است، ممکن است برای کودکان و نوجوانان ایرانی مشکل ¬زا باشد.
                                                    </p>
                                                    <p>
                                                        مرکز اروپایی پیشگیری و کنترل بیماری در دهم ژوئن 2022 گزارش داد که طی دو هفته ی گذشته، هجده مورد جدید توسط هفت کشور اروپایی گزارش شده است: بلغارستان (1)، آلمان (8)، مجارستان (1)، ایرلند (1)، لهستان (3)، رومانی (3) و اسپانیا (1)، و تا 13 ژوئن 2022، آخرین رتبه بندی مرکز پیشگیری و کنترل بیماریهای ایالات متحده (CDC) نشان داد که هند (5874) و نیجریه (17794) بیشترین موارد سرخک را در سال 2022 گزارش کرده اند.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @* <a class="btn-simple" href="#"> بیشتر بیاموزید <i class="fas fa-long-arrow-alt-left"></i></a>*@
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab2-4">
                                    <img class="img-fluid rounded w-100 mb-4" src="images/services/04.jpg" alt="">
                                    <h4> اخبار پزشکی </h4>
                                    <p class="text-justify"> ورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p> <a class="btn-simple" href="#"> بیشتر بیاموزید <i class="fas fa-long-arrow-alt-left"></i></a>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab2-5">
                                    <img class="img-fluid rounded w-100 mb-4" src="images/services/05.jpg" alt="">
                                    <h4> آزمون </h4>
                                    <p class="text-justify"> ورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p> <a class="btn-simple" href="#"> بیشتر بیاموزید <i class="fas fa-long-arrow-alt-left"></i></a>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab2-6">
                                    <img class="img-fluid rounded w-100 mb-4" src="images/services/03.jpg" alt="">
                                    <h4> معرفی بیماری </h4>
                                    <p class="text-justify"> ورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p> <a class="btn-simple" href="#"> بیشتر بیاموزید <i class="fas fa-long-arrow-alt-left"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 MagDiv mr-2"></div>
                    </div>

                </div>
                <!-- Tab panes -->
            </div>
        </div>
    </div>
</section>