@{
    ViewData["Title"] = "فروشگاه";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-title parallaxie" data-bg-img="/Content/images/bg/08.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12">
                <h1> تجهیزات پزشکی و بیمارستانی   </h1>

            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 order-lg-12">
                <div class="row mb-5 align-items-center">
                    <div class="col-md-5">
                        <h5 class="text-capitalize mb-0"> نمایش 1 تا 18 از 20 کل </h5>
                    </div>
                    <div class="col-md-7 sm-mt-3 d-sm-flex justify-content-md-end align-items-center">
                        <div class="sort-filter ml-4 d-flex align-items-center">
                            <select>
                                <option> بهترین فروشندگان </option>
                                <option> جدیدترین مورد </option>
                                <option>محبوب</option>
                            </select>
                        </div>
                        <div class="view-filter xs-mt-3">
                            <a class="active" href="product-grid.html"><i class="fas fa-th-large"></i></a>
                            <a href="product-list.html"><i class="fas fa-th"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="product-item">
                            <div class="product-img">
                                <img class="img-fluid" src="~/Content/images/product/01.jpg" alt="">
                                <div class="product-overlay">
                                    <ul class="list-inline">
                                        <li>
                                            <a href="#">
                                                <i class="far fa-heart"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="far fa-eye"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fas fa-shopping-bag"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-desc">
                                <a href="product-single.html" class="product-name">
                                    صندل مردانه
                                </a> 67.000 تومان
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 sm-mt-5">
                        <div class="product-item">
                            <div class="product-img">
                                <img class="img-fluid" src="~/Content/images/product/02.jpg" alt="">
                                <div class="product-overlay">
                                    <ul class="list-inline">
                                        <li>
                                            <a href="#">
                                                <i class="far fa-heart"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="far fa-eye"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fas fa-shopping-bag"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-desc">
                                <a href="product-single.html" class="product-name">
                                    کفش مردانه
                                </a> 124.000 تومان
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 md-mt-5">
                        <div class="product-item">
                            <div class="product-img">
                                <img class="img-fluid" src="~/Content/images/product/03.jpg" alt="">
                                <div class="product-overlay">
                                    <ul class="list-inline">
                                        <li>
                                            <a href="#">
                                                <i class="far fa-heart"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="far fa-eye"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fas fa-shopping-bag"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-desc">
                                <a href="product-single.html" class="product-name">
                                    کوله پشتی کلاسیک
                                </a> 34.000 تومان
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-5">
                        <div class="product-item">
                            <div class="product-img">
                                <img class="img-fluid" src="~/Content/images/product/04.jpg" alt="">
                                <div class="product-overlay">
                                    <ul class="list-inline">
                                        <li>
                                            <a href="#">
                                                <i class="far fa-heart"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="far fa-eye"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fas fa-shopping-bag"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-desc">
                                <a href="product-single.html" class="product-name">
                                    صندل زنانه
                                </a> 180.000 تومان
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-5">
                        <div class="product-item">
                            <div class="product-img">
                                <img class="img-fluid" src="~/Content/images/product/05.jpg" alt="">
                                <div class="product-overlay">
                                    <ul class="list-inline">
                                        <li>
                                            <a href="#">
                                                <i class="far fa-heart"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="far fa-eye"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fas fa-shopping-bag"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-desc">
                                <a href="product-single.html" class="product-name">
                                    تی شرت کوتاه نوری
                                </a> 79.000 تومان
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-5">
                        <div class="product-item">
                            <div class="product-img">
                                <img class="img-fluid" src="~/Content/images/product/06.jpg" alt="">
                                <div class="product-overlay">
                                    <ul class="list-inline">
                                        <li>
                                            <a href="#">
                                                <i class="far fa-heart"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="far fa-eye"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fas fa-shopping-bag"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-desc">
                                <a href="product-single.html" class="product-name">
                                    عینک های مارک دار
                                </a> 45.000 تومان
                            </div>
                        </div>
                    </div>
                </div>
                <nav aria-label="Page navigation" class="mt-5">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#"><i class="fas fa-arrow-right"></i></a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#"><i class="fas fa-arrow-left"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-12 order-lg-1 sidebar">
                <div class="widget">
                    <h5 class="widget-title mt-0"> دسته ها </h5>
                    <ul class="widget-categories list-unstyled">
                        <li>
                            <a href="#"><i class="fas fa-angle-left ml-1"></i> همه </a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-angle-left ml-1"></i> تزریقات </a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-angle-left ml-1"></i> دستگاههای سنجش </a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-angle-left ml-1"></i> ضد عفونی کننده </a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-angle-left ml-1"></i> تخصصی بیمارستانی </a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-angle-left ml-1"></i> آزمایشگاهی </a>
                        </li>
                    </ul>
                </div>
                <div class="widget">
                    <h5 class="widget-title"> قیمت </h5>
                    <div class="widget-price">
                        <div id="slider-range"></div>
                        <input type="text" id="amount" readonly style="border:0;">
                    </div>
                </div>
                <div class="widget">
                    <h5 class="widget-title"> رنگ </h5>
                    <div class="filter-color">
                        <ul class="list-inline">
                            <li>
                                <div class="form-check pl-0">
                                    <input type="radio" class="form-check-input" id="color-filter1" name="ExampleRadios">
                                    <label class="form-check-label" for="color-filter1" data-bg-color="#dddddd"></label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check pl-0">
                                    <input type="radio" class="form-check-input" id="color-filter2" name="ExampleRadios" checked>
                                    <label class="form-check-label" for="color-filter2" data-bg-color="#ee4000"></label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check pl-0">
                                    <input type="radio" class="form-check-input" id="color-filter3" name="ExampleRadios">
                                    <label class="form-check-label" for="color-filter3" data-bg-color="#ffc300"></label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check pl-0">
                                    <input type="radio" class="form-check-input" id="color-filter4" name="ExampleRadios">
                                    <label class="form-check-label" for="color-filter4" data-bg-color="#3cb371"></label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check pl-0">
                                    <input type="radio" class="form-check-input" id="color-filter5" name="ExampleRadios">
                                    <label class="form-check-label" for="color-filter5" data-bg-color="#bc83b1"></label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check pl-0">
                                    <input type="radio" class="form-check-input" id="color-filter6" name="ExampleRadios">
                                    <label class="form-check-label" for="color-filter6" data-bg-color="#000"></label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="widget">
                    <h5 class="widget-title"> اندازه </h5>
                    <div class="size-choose">
                        <ul class="list-inline">
                            <li>
                                <input name="sc" id="s-size" type="radio">
                                <label for="s-size"> کوچک </label>
                            </li>
                            <li>
                                <input name="sc" id="m-size" checked="" type="radio">
                                <label for="m-size"> متوسط </label>
                            </li>
                            <li>
                                <input name="sc" id="l-size" type="radio">
                                <label for="l-size"> بزرگ</label>
                            </li>
                            <li>
                                <input name="sc" id="xl-size" type="radio">
                                <label for="xl-size"> بزرگتر</label>
                            </li>
                            <li>
                                <input name="sc" id="xxl-size" type="radio">
                                <label for="xxl-size"> خیلی بزرگتر</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



